.page--error {

}

.error-header {
    position: relative;
    background: $CUSTOM_BLACK;

    .container {
        position: static;
        display: flex;
        align-items: center;
    }
}

.error-header__left {
    @include lg {
        width: 100%;
    }
}

.error-header-left__title {
    padding-top: 220px;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    color: white;
    max-width: 650px;

    @include ex {
        max-width: 470px;
    }

    @include lg {
        margin: auto;
        padding-top: 150px;
        text-align: center;
    }

    @include sm-fix {
        padding-top: 120px;
    }

    @include xs {
        padding-top: 100px;
    }
}

.error-header-left__text {
    margin-top: 100px;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    color: white;

    @include lg {
        margin: auto;
        margin-top: 520px;
        text-align: center;
    }

    @include sm-fix {
        margin-top: 370px;
    }

    @include xs {
        margin-top: 320px;
    }

    @include xs-fix {
        margin-top: 280px;
    }
}

.error-header-left__button {
    width: 100%;
    max-width: 400px;
    margin-top: 10px;
    margin-bottom: 200px;

    @include ex {
        margin-bottom: 160px;
    }

    @include lg {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
    }

    @include sm-fix {
        margin-bottom: 70px;
    }

    @include xs {
        margin-bottom: 50px;
    }
}

.error-header__right {

    @include fullHD {
        position: absolute;
        top: 0;
        right: 30px;
    }

    @include uw {
        right: -100px;
    }

    @include ex {
        right: -150px;
    }

    @include lg {
        top: 200px;
        left: 50%;
        transform: translateX(-50%);
        right: unset;
        width: 1000px;
    }

    @include sm-fix {
        width: 650px;
        top: 210px;
    }

    @include xs {
        width: 500px;
        top: 230px;
    }

    @include xs-fix {
        top: 250px;
    }

    @include ultra-small {
        top: 190px;
    }

    img {
        width: 100%;
        height: 100%;
        // object-fit: cover;
    }
}

