.page--about {
}

// Header
.page-header {
    height: 460px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    @include lg {
        height: 400px;
    }

    @include md {
        height: 350px;
    }

    @include sm {
        height: 250px;
    }

    @include xs {
        height: 200px;
    }

    .page-title {
        padding-top: 180px;
        text-align: center;

        @include uw {
            padding-top: 160px;
        }

        @include ex {
            padding-top: 140px;
        }

        @include lg {
            padding-top: 120px;
        }

        @include md {
            padding-top: 100px;
        }

        @include sm {
            padding-top: 80px;
        }
    }
}

// Company Section
.company-section {
    // visibility: hidden;
    background: $CUSTOM_BLACK;

    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 100px;
        padding-bottom: 100px;

        @include md {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
}

.company-section__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
}

.company-section-item__number {
    font-size: 65px;
    font-weight: bold;
    line-height: 120%;
    @include orange-gradient(270deg);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include lg {
        font-size: 60px;
    }

    @include md {
        font-size: 56px;
    }

    @include sm {
        font-size: 52px;
    }

    @include xs {
        font-size: 48px;
    }
}

.company-section-item__text {
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    color: #acacac;

    @include md {
        font-size: 22px;
    }

    @include sm {
        font-size: 20px;
    }

    @include xs {
        font-size: 18px;
    }
}

// // Scroll Section
// .scroll-section {
//     position: relative;
//     background: $CUSTOM_BLACK;
//     height: 500vh;
// }

// .scroll-section-item-container {
//     transition: 300ms all;

//     &.fixed {
//         position: fixed;
//         top: 30%;
//         // left: calc(50% - 800px / 2);
//     }

//     &.left {
//         top: 50%;
//         // left: 0;
//         transform: translateY(-50%);

//         .scroll-section-items {
//             margin: 0;

//             .scroll-section__item {
//                 .scroll-section-item__letter {
//                     opacity: 0.03;
//                 }

//                 &.active {
//                     .scroll-section-item__letter {
//                         opacity: 1;
//                     }
//                 }
//             }
//         }
//     }

//     &.leftActive {
//     }
// }

// .scroll-section-items {
//     display: flex;
//     width: fit-content;
//     column-gap: 10px;
//     margin: auto;
//     transition: 300ms all;
// }

// .scroll-section__item {
//     &:last-child {
//         margin-left: -30px;
//     }

//     &.active {
//         .scroll-section-item__title,
//         .scroll-section-item__text {
//             opacity: 1;
//         }
//     }
// }

// .scroll-section-item-wrapper {
//     position: relative;
// }

// .scroll-section-item__title {
//     position: absolute;
//     top: calc(100% + 30px);
//     left: 0;
//     font-size: 65px;
//     font-weight: 700;
//     line-height: 80px;
//     color: white;
//     opacity: 0;
//     transition: 300ms opacity;

//     &::first-letter {
//         visibility: hidden;
//     }
// }

// .scroll-section-item__text {
//     position: absolute;
//     top: calc(100% + 130px);
//     left: 0px;
//     font-size: 20px;
//     font-weight: 500;
//     line-height: 34px;
//     color: white;
//     opacity: 0;
//     transition: 300ms opacity;
// }

// .scroll-section-item__letter {
//     top: 100px;
//     transition: 300ms all;

//     &.fixed {
//         position: fixed;
//         top: 50%;
//         left: 50%;
//         transform: translateY(-50%) translateX(-50%);
//     }

//     &.absolute {
//         position: absolute;
//         top: unset;
//         transform: translateY(-50%) translateX(-50%);
//         left: 50%;
//         bottom: 0;
//     }
// }
// End Of Scroll Section

// Who Are We Section
.who-section {
    display: grid;
    grid-template-columns: auto 520px;
    column-gap: 90px;
    justify-content: space-between;
    margin-top: 125px;

    @include lg {
        column-gap: 30px;
        margin-top: 100px;
    }

    @include md {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 40px;
    }

    @include sm-fix {
        row-gap: 30px;
    }
}

.who-section__left {
}

// wsl = who section left
.wsl__text {
    margin-top: 40px;
    line-height: 28px;
    color: $CUSTOM_BLACK;

    @include md {
        max-width: 600px;
    }
}

.wsl__text--bold {
    font-size: 20px;
    font-weight: bold;
}

.wsl__list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 60px;
}

.wsl-list__item {
    position: relative;
    padding-left: 55px;

    @include sm-fix {
        padding-left: 50px;
    }
}

.wsl-list-item__checkbox {
    @include checkbox();
}

.wsl-list-item__text {
    padding-top: 7px;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}

.who-section__right {
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    height: fit-content;
    padding: 75px 60px;
    background: $CUSTOM_BLACK;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;

    @include lg {
        row-gap: 60px;
        padding: 60px 50px;
    }

    @include md {
        row-gap: 30px;
        padding: 40px 30px;
    }

    @include sm {
        padding: 30px 25px;
    }
}

// wsr = who section right
.wsr__item {
    display: flex;
    flex-direction: column;
    row-gap: 25px;

    @include md {
        row-gap: 15px;
    }

    @include sm {
        row-gap: 10px;
    }
}

.wsr-item__top {
    display: flex;
    column-gap: 20px;

    @include md {
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }
}

.wsr-item-top__icon {
    min-width: 90px;
    max-width: 90px;
    height: auto;

    @include md {
        min-width: 80px;
        max-width: 80px;
    }

    @include sm {
        min-width: 70px;
        max-width: 70px;
    }

    svg,
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.wsr-item-top__title {
    padding-top: 10px;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
    color: white;

    @include md {
        padding-top: 0;
        max-width: 300px;
        text-align: center;
        font-size: 22px;
    }

    @include sm {
        font-size: 20px;
    }

    @include xs {
        // font-size: 18px;
    }
}

.wsr-item__text {
    font-weight: 500;
    line-height: 28px;
    color: white;

    @include md {
        max-width: 500px;
        margin: auto;
        text-align: center;
    }
}
// End Of Who Are We Section

// Team Slider
.team-section {
    .section-title {
        margin-top: 120px;

        @include lg {
            margin-top: 100px;
        }

        @include md {
            margin-top: 80px;
        }

        @include sm {
            margin-top: 60px;
        }

        @include xs {
            margin-top: 40px;
        }
    }
}

.team-section__dots {
    display: flex;
    column-gap: 15px;
    margin-top: 110px;
    margin-bottom: 30px;
}

.team-section-dot-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 75px;
    height: 75px;

    &.active {
        .team-section-dots__dot {
            width: 75px;
            height: 75px;

            .team-section-dots-dot__top-bg {
                display: block;
            }

            img {
                filter: grayscale(0);
            }
        }

        // dot under miniature
        &::before {
            content: "";
            position: absolute;
            top: calc(100% + 7px);
            left: 50%;
            transform: translateX(-50%);
            width: 10px;
            height: 10px;
            background: linear-gradient(235deg, rgba(239, 122, 43, 1) 0%, rgba(227, 60, 73, 1) 100%);
            border-radius: 100%;
            z-index: 100;
        }
    }
}

.team-section-dots__dot {
    position: relative;
    width: 60px;
    height: 60px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    border-radius: 100%;
    cursor: pointer;
    transition: 300ms all;
    overflow: hidden;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(1);
        border-radius: 100%;
    }
}

// .team-section-dots-dot__top-bg {
//     display: none;
//     position: relative;
//     width: 100%;
//     height: 3px;
//     background: linear-gradient(235deg, rgba(239, 122, 43, 1) 0%, rgba(227, 60, 73, 1) 100%);
//     z-index: 10;
// }

.team-slider-wrapper {
    position: relative;
}

.team-slider {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);

    .slick-prev,
    .slick-next {
        top: unset !important;
        bottom: unset !important;
        top: 50% !important;
    }
    .slick-prev {
        left: 30px !important;
        transform: rotate(-90deg) !important;
    }

    .slick-next {
        left: unset !important;
        right: 30px !important;
        transform: rotate(-90deg) translateY(9px) !important;
    }
}

.team-slider__arrow-prev,
.team-slider__arrow-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(270deg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 100;

    svg {
        width: 30px;
        height: 30px;
    }
}

.team-slider__arrow-prev {
    left: 20px;
}

.team-slider__arrow-next {
    right: 20px;
    transform: translateY(-50%) rotate(90deg);
}

.team-slider__item {
    position: relative;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    box-sizing: border-box;
    background: url(/peko-web/wp-content/themes/peko/svg/slider-background.svg);
    background-position-x: 100%;
    background-position-y: 30%;
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
    box-sizing: border-box;

    @include md {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 30px;
    }
}

.team-slider-item__left {
    width: 100%;
    padding: 70px 0 50px 100px;
    box-sizing: border-box;

    @include lg {
        padding: 60px 0 40px 80px;
    }

    @include md {
        padding: 30px 30px;
    }
}

.team-slider-item__shape {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: auto;
    height: 170%;
    z-index: -1;
    overflow: hidden;

    @include md {
        // top: unset;
        top: 0;
        right: -200px;
        transform: unset;
        height: 100%;
    }

    @include sm {
        top: 40%;
        right: 0;
        object-fit: cover;
    }

    @include xs {
        top: unset;
        bottom: -300px;
        transform: unset;
        height: 90%;
    }

    img {
        height: 100%;
        object-fit: contain;
    }
}

.team-slider-item__right {
    height: 100%;

    @include md {
        height: 500px;
    }
}

.team-slider-item-right__img {
    position: relative;
    width: 100%;
    height: 100%;

    img {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;

        @include md {
            position: static;
        }
    }
}

// tsil = team slider item left
.tsil__name {
    font-size: 56px;
    line-height: 105%;
    font-weight: bold;
    white-space: nowrap;

    @include ex {
        font-size: 52px;
    }

    @include lg {
        font-size: 48px;
    }

    @include md {
        font-size: 44px;
        white-space: normal;
    }

    @include sm {
        font-size: 40px;
    }

    @include xs {
        font-size: 36px;
    }
}

.tsil__specialization {
    margin-top: 10px;
    font-size: 20px;
    line-height: 130%;
    color: #a1a1aa;

    @include md {
        font-size: 18px;
    }

    @include xs {
        font-size: 16px;
    }
}

.tsil__wysiwyg {
    margin-top: 30px;
    height: 260px;
    font-size: 16px;
    line-height: 26px;
    -webkit-line-clamp: 10;

    p {
        font-size: 16px;
        line-height: 26px;
    }

    strong {
        font-size: 20px;
    }
}

.tsil__contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 15px;
    height: 95px;
    margin-top: 10px;
}

.tsil-contact__item {
    display: flex;
    align-items: center;
    column-gap: 15px;
    width: fit-content;
}

.tsil-contact-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));

    svg {
        width: 70%;
        height: 70%;
    }
}

.tsil-contact-item__text {
    font-weight: 500;
}
// End Of Team Slider

// Cooperation
.about-coop {
    margin-top: 100px;
    padding: 80px 0;
    background: $CUSTOM_BLACK;

    .container {
        padding: 0 5%;
    }

    @include md {
        margin-top: 70px;
        padding: 60px 0;
    }

    @include sm {
        .container {
            padding: 0;
        }
    }

    @include sm-fix {
        padding: 40px 0;
    }
}

.about-coop__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 100px;

    @include uw {
        column-gap: 50px;
    }

    @include ex {
        row-gap: 50px;
        justify-content: center;
        grid-template-columns: repeat(2, 300px);

        &.first {
            .about-coop-list__item {
                &:nth-child(3) {
                    grid-column: 1;
                    grid-row: 2;
                    margin-left: calc(50% + 25px);

                    @include md {
                        margin-left: calc(50% + 15px);
                    }
                }
            }
        }

        &.second {
            .about-coop-list__item {
                &:nth-child(1) {
                    margin-left: calc(50% + 25px);

                    @include md {
                        margin-left: calc(50% + 15px);
                    }
                }
                &:nth-child(2) {
                    grid-column: 1;
                    grid-row: 2;
                }
                &:nth-child(3) {
                    grid-column: 2;
                    grid-row: 2;
                }
            }
        }
    }

    @include md {
        column-gap: 30px;
        row-gap: 30px;
    }

    @include sm {
        grid-template-columns: repeat(2, 1fr);
    }

    @include sm-fix {
        grid-template-columns: repeat(1, minmax(auto, 400px));

        .about-coop-list__item {
            &:nth-child(1) {
                margin-left: unset !important;
            }
            &:nth-child(2) {
                grid-column: unset !important;
                grid-row: unset !important;
            }
            &:nth-child(3) {
                grid-column: unset !important;
                grid-row: unset !important;
                margin-left: unset !important;
            }
        }
    }

    @include xs-fix {
        row-gap: 20px;
    }
}

.about-coop-list__item {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 55%;

    // &:nth-child(3) {
    //     @include ex {
    //         margin-left: 150px;
    //     }
    // }

    div {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 30px;
        background: white;
        box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.2);
        border-radius: 15px;

        img {
            width: 100%;
            object-fit: contain;
        }
    }
}

.about-coop__title {
    max-width: 600px;
    margin: 70px auto;
    font-size: 60px;
    line-height: 130%;
    text-align: center;
    font-weight: bold;
    color: white;

    @include ex {
        font-size: 56px;
    }

    @include lg {
        font-size: 52px;
    }

    @include md {
        font-size: 48px;
        margin: 50px auto;
    }

    @include sm {
        max-width: 500px;
        font-size: 44px;
        margin: 30px auto;
    }

    @include xs {
        font-size: 40px;
    }
}
// End Of Cooperation

// References
.about-references {
    margin-top: 85px;
}

// Scroll Section (Old)
// .about-peko {
//     width: 100%;
//     height: 2500px;
//     padding: 170px 0;
//     margin-bottom: 140px;
//     background-color: $CUSTOM_BLACK;
//     overflow: hidden;

//     @include sm {
//         height: auto;
//         padding: 60px 0;
//     }

//     @include xs {
//         margin-bottom: 40px;
//     }
// }

// .about-peko-word {
//     //width: 100%;
//     display: flex;
//     align-items: flex-start;
//     justify-content: center;
//     height: 260px;

//     @include ex {
//         height: 200px;
//     }

//     @include lg {
//         height: 155px;
//     }

//     @include sm {
//         display: block;
//         align-items: unset;
//         justify-content: unset;
//         height: unset;
//     }
// }

// .about-peko-letter-wrap {
//     position: relative;
//     width: 200px;
//     height: 200px;
//     margin-right: 15px;
//     float: left;
//     transition: 300ms;

//     @include ex {
//         width: 150px;
//         height: 150px;
//     }

//     @include lg {
//         width: 120px;
//         height: 120px;
//     }

//     @include sm {
//         width: 100%;
//         height: unset;
//         float: unset;
//         margin-bottom: 40px;
//     }
//     //    @include xs{
//     //        width: 55px;
//     //        height: 55px;
//     //    }
//     //    @include ss{
//     //        width: 40px;
//     //        height: 40px;
//     //    }
// }

// #letterP {
//     width: 200px;
//     height: 260px;

//     @include ex {
//         width: 150px;
//         height: 210px;
//     }

//     @include lg {
//         width: 120px;
//         height: 155px;
//     }

//     @include sm {
//         // width: 70px;
//         // height: 95px;
//         width: 100%;
//         height: unset;
//     }

//     // @include xs{
//     //     width: 55px;
//     //     height: 70px;
//     // }
//     // @include ss{
//     //     width: 40px;
//     //     height: 50px;
//     // }

//     .about-peko--title {
//         @include sm {
//             padding: 18px 0 0 45px;
//         }
//     }
// }

// #letterE {
// }

// #letterK {
//     width: 160px;
//     height: 200px;
//     @include ex {
//         width: 120px;
//         height: 160px;
//     }
//     @include lg {
//         width: 100px;
//         height: 120px;
//     }
//     @include sm {
//         // width: 55px;
//         // height: 70px;
//         width: 100%;
//         height: unset;
//     }
//     // @include xs{
//     //     width: 45px;
//     //     height: 55px;
//     // }
//     // @include ss{
//     //     width: 32px;
//     //     height: 40px;
//     // }

//     .about-peko--title {
//         left: 160px;

//         @include ex {
//             left: 130px;
//         }

//         @include lg {
//             left: 110px;
//         }

//         @include md {
//             left: 100px;
//         }

//         @include sm {
//             // left: 55px;
//             left: unset;
//             padding: 27px 0 0 50px;
//         }
//         // @include xs{
//         //     left: 50px;
//         // }
//         // @include ss{
//         //     left: 34px;
//         // }
//     }
// }

// #letterO {
// }

// .about-peko-letter {
//     position: relative;
//     width: 100%;
//     height: 100%;
//     background-position: center top;
//     background-repeat: no-repeat;
//     background-size: contain;
//     transition: 300ms;

//     svg {
//         width: 100%;
//         height: 100%;
//     }

//     @include sm {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 50px;
//         height: 50px;
//     }
// }

// .about-peko-letter--fill {
//     position: absolute;
//     top: 0;
//     right: -1px;
//     transition: 300ms;

//     @include sm {
//         top: 0;
//         left: 0;
//     }
// }

// .about-peko-word--fixed {
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translateY(-50%) translateX(-50%);
// }

// .about-peko-word--absolute {
//     #peko {
//         position: relative;
//         display: inline-block;
//         width: 100%;
//         height: 100%;
//     }

//     .about-peko-word--fixed {
//         position: absolute;
//         top: unset;
//         transform: translateY(-50%) translateX(-50%);
//         left: 50%;
//         bottom: 0;
//     }
// }

// .about-peko-letter-wrap--null {
//     left: 0px !important;
// }

// .about-peko--title {
//     position: absolute;
//     top: 120px;
//     left: 200px;
//     font-weight: 700;
//     font-size: 65px;
//     color: #ffffff;
//     // margin-left: -30px;

//     // &::first-letter {
//     //     visibility: hidden;
//     // }

//     @include ex {
//         top: 80px;
//         left: 155px;
//         font-size: 55px;
//     }

//     @include lg {
//         top: 55px;
//         left: 125px;
//     }

//     @include md {
//         top: 70px;
//         left: 120px;
//         font-size: 42px;
//     }

//     @include sm {
//         // top: 45px;
//         // left: 70px;
//         position: relative;
//         top: unset;
//         left: unset;
//         padding: 25px 0 0 55px;
//         font-size: 20px;
//     }

//     @include xs {
//         // top: 30px;
//         // left: 55px;
//         font-size: 20px;
//     }

//     @include ss {
//         // top: 20px;
//         // left: 42px;
//         font-size: 14px;
//     }
// }
// .about-peko--text {
//     position: absolute;
//     top: 250px;
//     left: 0;
//     width: 100%;
//     min-width: 750px;
//     padding-top: 15px;
//     font-weight: 500;
//     font-size: 20px;
//     color: white;
//     line-height: 34px;

//     @include ex {
//         top: 150px;
//         font-size: 18px;
//         min-width: 700px;
//     }

//     @include lg {
//         min-width: 600px;
//     }

//     @include md {
//         min-width: 450px;
//     }

//     @include sm {
//         // top: 80px;
//         position: relative;
//         top: unset;
//         min-width: unset;
//     }
// }

// .about-peko--content {
//     &:nth-child(3) {
//         .about-peko--title {
//             left: 150px;

//             @include sm {
//                 left: unset;
//             }
//         }
//     }

//     .about-peko--title {
//         opacity: 0;
//         visibility: hidden;
//         transition: 100ms linear;

//         @include sm {
//             opacity: 1;
//             visibility: visible;
//         }
//     }

//     .about-peko--text {
//         opacity: 0;
//         visibility: hidden;
//         transition: 400ms linear;

//         @include sm {
//             opacity: 1;
//             visibility: visible;
//         }
//     }
// }

// .about-peko--content--active {
//     .about-peko--title {
//         opacity: 1;
//         visibility: visible;
//         transition: 100ms linear;
//     }
//     .about-peko--text {
//         opacity: 1;
//         visibility: visible;
//         transition: 400ms linear;
//     }
// }

// .about-peko--content--active ~ .about-peko-letter {
//     opacity: 1 !important;
// }

// .about-peko--content--active ~ .about-peko-letter--fill {
//     opacity: 0 !important;
// }

// New Scroll Section
.scroll-section {
    position: relative;
    height: 200vh;
    background: $CUSTOM_BLACK;

    @include md {
        height: auto;
        padding-top: 20px;
        padding-bottom: 30px;
    }

    &,
    p {
        color: white;
    }

    .container {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100vh;

        @include md {
            position: static !important;
            height: auto;
            transform: unset;
        }

        &.fixed {
            position: fixed;
        }

        &.bottom {
            top: unset;
            bottom: 0;
        }
    }
}

// .scroll-section-item-container {
// }

.scroll-section-items {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    transition: 300ms all;

    @include md {
        position: static !important;
        transform: unset !important;
        display: flex;
        flex-direction: column;
    }

    &:not(.step) {
        .scroll-section-item__letter {
            opacity: 1;
        }
    }

    &.step {
        top: 50%;
        left: 0;
        transform: translateY(-50%);

        .scroll-section-item__letter {
            &.filled {
                opacity: 0;
            }
        }
    }
}

.scroll-section__item {
    position: relative;
    height: fit-content;
    margin-right: 15px;

    @include md {
        margin-right: 10px;
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &:last-child {
        margin-right: 0;

        .scroll-section-item__title {
            left: calc(100%);
        }
    }

    &:nth-child(3) {
        margin-right: -15px;

        @include sm {
            margin-right: -10px;
        }
    }

    &.active {
        .scroll-section-item__title,
        .scroll-section-item__text,
        .scroll-section-item__letter {
            visibility: visible;
            opacity: 1;
        }
    }
}

.scroll-section-item-wrapper {
}

.scroll-section-item__title {
    position: absolute;
    top: 130px;
    left: calc(100% + 10px);
    margin-left: -45px;
    font-size: 65px;
    font-weight: 700;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: 300ms all;

    &::first-letter {
        visibility: hidden;

        @include md {
            visibility: visible;
        }
    }

    @include ex {
        top: 115px;
        font-size: 60px;
    }

    @include lg {
        top: 100px;
        margin-left: -40px;
        font-size: 54px;
    }

    @include md {
        position: static;
        // top: 85px;
        margin-left: 0;
        visibility: visible;
        font-size: 50px;
        opacity: 1;
    }

    @include sm {
        font-size: 44px;
    }

    @include xs {
        font-size: 40px;
    }
}

.scroll-section-item__text {
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    width: 800px;
    font-size: 20px;
    line-height: 160%;
    font-weight: 500;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: 300ms all;

    @include uw {
        width: 700px;
    }

    @include ex {
        width: 580px;
    }

    @include lg {
        width: 450px;
    }

    @include md {
        position: static;
        width: 100%;
        margin-top: 5px;
        visibility: visible;
        opacity: 1;
        font-size: 18px;
    }

    @include xs {
        font-size: 16px;
    }
}

$pWidth: 204px;
$eWidth: 200px;
$kWidth: 155px;
$oWidth: 204px;

.scroll-section-item__letter {
    opacity: 0.1;
    transition: 300ms all;

    @include md {
        display: none;
    }

    &.filled {
        position: absolute;
        right: -1px;
        top: 0;
    }

    svg {
        height: auto;
    }

    @mixin letter-width($width) {
        width: $width;

        @include ex {
            width: calc($width * 0.9);
        }

        @include lg {
            width: calc($width * 0.8);
        }

        @include md {
            width: calc($width * 0.7);
        }

        @include sm {
            width: calc($width * 0.6);
        }

        @include xs {
            width: calc($width * 0.5);
        }
    }

    &#p {
        svg {
            @include letter-width($pWidth);
        }
    }
    &#e {
        svg {
            @include letter-width($eWidth);
        }
    }
    &#k {
        svg {
            @include letter-width($kWidth);
        }
    }
    &#o {
        svg {
            @include letter-width($oWidth);
        }
    }
}
