.page--blog {
	.page-title {
		padding-top: 180px;

		@include uw {
			padding-top: 160px;
		}

		@include ex {
			padding-top: 140px;
		}

		@include lg {
			padding-top: 120px;
		}

		@include md {
			padding-top: 100px;
		}

		@include sm {
			padding-top: 80px;
		}
	}
}

// Header & Categories
.blog-header {}

.blog-subtitle {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.blog-page-bg {
	position: absolute;
	top: 0;
	left: 0;
	// width: 100vw;
	// max-width: 1500px;
	width: 1400px;
	height: auto;
	z-index: -1;
	transform: rotate(90deg) translateY(50%);
	display: none;

	@include md {
		width: 1200px;
	}

	@include sm {
		display: none;
	}

	// @include ultra-small {
	// 	max-width: 100vw;
	// 	overflow-x: hidden;
	// }

	svg {
		width: 100%;
		height: 100%;
	}
}

.blog-header__categories {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 20px;
	column-gap: 20px;
	max-width: 1200px;
	margin: auto;
	margin-top: 60px;

	@include lg {
		margin-top: 40px;
	}

	@include xs {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		row-gap: 10px;
		margin-top: 25px;
	}
}

.blog-header-categories__item {
	padding: 13px 23px;
	border-radius: 8px;
	background: #efefef;
	color: $CUSTOM_BLACK;
	transition: 200ms all;
	text-align: center;

	&:hover:not(.active) {
		background: rgba(239, 90, 68, 1);
		color: white;
	}

	&.active {
		color: white;
		@include orange-gradient(0deg);
	}
}

// Posts
.blog-posts {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	column-gap: 35px;
	row-gap: 80px;
	margin-top: 80px;
	padding-bottom: 85px;

	@include ex {
		row-gap: 50px;
	}

	@include lg {
		grid-template-columns: repeat(2, 1fr);
		margin-top: 50px;
		padding-bottom: 50px;
	}

	@include md {
		column-gap: 30px;
		row-gap: 30px;
	}

	@include sm {
		grid-template-columns: repeat(1, 1fr);
	}
}

// Arrows
.blog-arrows {
	display: flex;
	max-width: 750px;
	margin: auto;
	padding-bottom: 85px;

	@include lg {
		padding-bottom: 50px;
	}

	a:only-child {}
}

.blog-arrows__prev,
.blog-arrows__next {
	&:hover {
		a {
			&::after {
				visibility: hidden;
				opacity: 0;
			}
		}
	}

	a {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 150px;
		height: 50px;
		font-size: 16px;
		font-weight: bold;
		text-align: center;

		span {
			display: flex;
			align-items: center;
			font-size: 12px;

			&::before {
				width: 12px;
				font-size: 12px;
			}
		}

		&::before {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 100%;
			height: 100%;
			@include orange-gradient();
			z-index: -2;
			border-radius: 10px;
		}

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: calc(100% - 6px);
			height: calc(100% - 6px);
			background: white;
			z-index: -1;
			border-radius: 8px;
			transition: 300ms all;
		}
	}
}

.blog-arrows__prev {
	margin-right: auto;

	span {
		transform: rotate(90deg);
		margin-right: 5px;

		&::before {
			margin-left: -2px;
		}
	}
}


.blog-detail-content strong {
	font-weight: bold;
	text-decoration: none;
	color: inherit;
}

.padd-0 {
	padding-top: 0 !important;

	@media screen and (min-width: 993px) {
		margin-top: -15px !important;
	}

	@media screen and (min-width: 1200px) {
		margin-top: -25px !important;
	}
}

.blog-button.blog-button-prev.blog-button-fix,
.blog-button.blog-button-next.blog-button-fix {
	padding: 0 !important;

	>a {
		padding: 15px 30px;
		display: block;
		width: 100%;
		height: 100%;
	}
}

.blog-button.blog-button-next.blog-button-fix {
	background: #f79d27;
}