.page--blog-detail {
}

.blog-detail-header {
    margin-top: 100px;
    padding: 45px;
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    @include md {
        padding: 40px;
    }

    @include sm {
        padding: 35px;
    }

    @include sm-fix {
        padding: 30px;
    }

    @include xs {
        padding: 25px;
    }
}

.bdh__img {
    width: 100%;
    height: 550px;

    @include lg {
        height: 450px;
    }

    @include md {
        height: 400px;
    }

    @include sm {
        height: 350px;
    }

    @include sm-fix {
        height: 300px;
    }

    @include xs {
        height: 250px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
}

.bdh__main {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    margin-top: 50px;

    @include md {
        flex-direction: column-reverse;
        row-gap: 10px;
        margin-top: 30px;
    }
}

.bdh-main__title {
    // max-width: 800px;
    font-size: 66px;
    line-height: 90px;
    font-weight: bold;

    @include md {
        font-size: 56px;
        line-height: 70px;
    }

    @include sm {
        font-size: 50px;
        line-height: 64px;
    }

    @include xs {
        font-size: 44px;
        line-height: 56px;
    }
}

.bdh-main__author {
    display: flex;
    column-gap: 15px;
    height: fit-content;

    @include sm {
        column-gap: 10px;
    }

    @include xs {
    }
}

.bdh-main-author__img {
    min-width: 67px;
    max-width: 67px;
    height: 67px;

    @include ex {
        min-width: 60px;
        max-width: 60px;
        height: 60px;
    }

    @include lg {
        min-width: 55px;
        max-width: 55px;
        height: 55px;
    }

    @include md {
        min-width: 50px;
        max-width: 50px;
        height: 50px;
    }

    @include sm {
        min-width: 45px;
        max-width: 45px;
        height: 45px;
    }

    @include xs {
        min-width: 40px;
        max-width: 40px;
        height: 40px;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

.bdh-main-author__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 5px;

    @include sm {
        row-gap: 3px;
    }

    // @include xs {
    //     row-gap: 0;
    // }

    p {
        white-space: nowrap;
        font-size: 18px;
        font-weight: 500;
        line-height: 120%;
        color: #acacac;

        @include xs {
            font-size: 16px;
        }
    }
}

.bdh__text {
    margin-top: 40px;

    @include md {
        margin-top: 25px;
    }

    @include sm-fix {
        margin-top: 15px;
    }
}

// Flexible Content (FC)
.blog-fc {
    width: 100%;
    max-width: 1000px;
}

// Wysiwyg
.blog-fc__wysiwyg {
    padding: 40px 40px;
    line-height: 35px;

    @include md {
        padding: 30px 0;
    }

    // Paragraph
    p {
        line-height: 35px;
    }

    // Headings
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: 600;
    }

    h1,
    h2 {
        font-size: 34px;
        line-height: 48px;
    }

    h3,
    h4,
    h5,
    h6 {
        font-size: 18px;
        line-height: 35px;
    }

    // Image
    img {
        width: 100%;
        height: auto;
        margin-top: 15px;
        filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
        border-radius: 20px;
    }

    // Ul & Ol
    ul,
    ol {
        list-style-type: none;
        list-style: none;
        counter-reset: seznam;
        line-height: 35px;
        padding-left: 0;
        font-size: 16px;

        li {
            position: relative;
            padding-left: 30px;
            list-style: none;
            line-height: 35px;
            &::before {
                position: absolute;
                top: 3px;
                left: 0;
                width: 20px;
                height: 30px;
            }
        }
    }

    // Ul
    ul {
        li {
            &::before {
                content: "";
                background: url(/peko-web/wp-content/themes/peko/phpsvg/li.svg) no-repeat left center;
            }
        }
    }

    // Ol
    ol {
        li {
            &::before {
                content: counter(seznam);
                position: absolute;
                top: 7px;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                @include orange-gradient(270deg);
                border-radius: 50%;
                background-repeat: no-repeat;
                background-size: cover;
                font-weight: 700;
                font-size: 12px;
                color: white;
                counter-increment: seznam;
            }
        }
    }

    // Link
    a {
        font-weight: 500;
        color: #e65863;
        text-decoration: underline;
    }

    // Table
    table {
        display: block;
        width: 100%;
        height: auto !important;
        overflow-x: scroll !important;
        white-space: nowrap;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
    }

    tbody {
        display: block;
    }

    tr {
        display: flex;
        background: white;
        width: fit-content;
        min-width: 100%;
        height: auto !important;

        &:first-child {
            background: #efefef;
        }

        td {
            &:not(:first-child) {
                justify-content: center;
                text-align: center;
            }
            &:first-child {
                padding-left: 25px;
                color: #a1a1a1;
                font-weight: 600;
                font-size: 18px;
                line-height: 22px;
            }
        }
    }

    td {
        display: flex;
        align-items: center;
        min-width: 200px !important;
        width: 100% !important;
        min-height: 56px !important;
        height: auto !important;
        padding: 10px;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
        white-space: normal;
        line-height: 20px;
    }
}

// Parameters
.blog-parameters {
    max-width: calc(1000px - 40px);
    padding: 45px;
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow-x: scroll;

    @include md {
        padding: 40px;
    }

    @include sm {
        padding: 35px;
    }

    @include sm-fix {
        padding: 30px;
    }

    @include xs {
        padding: 25px;
    }
}

.blog-parameters__title {
    font-size: 34px;
    font-weight: 600;
    line-height: 40px;
}

.blog-parameters__table {
    margin-top: 20px;

    @include sm-fix {
        margin-top: 10px;
    }

    tr {
        display: flex;
        align-items: center;
        min-height: 70px;
    }

    th,
    td {
        width: 180px;
        text-align: left;
    }

    th {
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
    }
}

// Parameters Icon
.blog-parameters-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5px;
    width: fit-content;
    height: 50px;
    padding: 0 10px;
    background: #3ddc84;
    border-radius: 10px;
    color: white;

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
    }
}

.blog-parameters-icon--iOS {
    background: $CUSTOM_BLACK;
}

.blog-parameters-icon--web {
    background: #006aff;
}

// Parameters Download
.blog-parameters-download {
}

// Footer
.blog-footer {
    position: relative;
    background: $CUSTOM_BLACK;

    &::after {
        content: "";
        position: absolute;
        bottom: calc(100% - 600px);
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 700px;
        background: $CUSTOM_BLACK;
        clip-path: ellipse(100vw 80% at 50% 80%);
        z-index: -1;

        @include lg {
            clip-path: ellipse(120vw 80% at 50% 80%);
        }

        @include md {
            bottom: calc(100% - 630px);
            clip-path: ellipse(1500px 80% at 50% 80%);
        }

        @include sm {
            clip-path: ellipse(1000px 80% at 50% 80%);
        }

        @include sm-fix {
            display: none;
        }
    }

    .blog-section {
        margin-top: 200px;
        padding: 0 0 50px 0;

        @include md {
            margin-top: 170px;
        }

        @include sm-fix {
            margin-top: 70px;
            padding: 30px 0;
        }

        @include xs {
            margin-top: 50px;
        }

        .section-title {
            color: white;
        }
    }
}
