.blog-card {
    padding: 30px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    transition: 300ms all;

    &:hover {
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);

        .blog-card__img {
            img {
                transform: scale(1.2);
            }
        }
    }
}

.blog-card__title {
    height: 135px;
    font-size: 30px;
    line-height: 45px;
    color: $CUSTOM_BLACK;
    font-weight: bold;
}

.blog-card__img {
    position: relative;
    width: 100%;
    height: 0;
    margin-top: 25px;
    padding-bottom: 65%;
    border-radius: 10px;

    div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 10px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: 300ms all;
        }
    }
}

.blog-card__text {
    height: 105px;
    margin-top: 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 35px;

    p {
        line-height: 35px;
    }
}

.blog-card__bottom {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.blog-card-bottom__author {
    display: flex;
    column-gap: 10px;
}

.blog-card-bottom-author__img {
    min-width: 50px;
    max-width: 50px;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.blog-card-bottom-author__info {
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    align-self: center;

    p {
        color: #acacac;
        font-weight: 500;
    }
}

.blog-card-bottom__right {
    display: flex;
    align-self: flex-end;
    column-gap: 5px;
}

.blog-card-bottom-right__text {
    font-weight: 600;
}
