.page--career {
}

// Top Section
.career-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.career-top__text {
    max-width: 920px;
    margin-top: 30px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
    color: $CUSTOM_BLACK;
}

.career-top__text--bold {
    font-size: 18px;
    font-weight: bold;
}

.career-top__button {
    width: 240px;
    margin-top: 50px;

    @include md {
        margin-top: 30px;
    }
}

.career-section {
    position: relative;
    height: 800px;

    @include md {
        height: 600px;
    }

    @include sm-fix {
        height: auto;
        padding-bottom: 500px;
    }

    &:not(.dark) {
        .career-bg {
            background-position-x: -250px;

            &.scrolled {
                background-position-x: 0;
            }
        }
    }

    &.dark {
        background: linear-gradient(180deg, #242424 31.79%, #0f1013 70.55%);

        .career-bg {
            background-position-x: calc(100% + 250px);

            &.scrolled {
                background-position-x: 100%;
            }
        }

        .career-title,
        .career-text {
            color: white;
            margin-left: unset;
            text-align: left;
        }
    }
}

.career-title,
.career-text {
    color: $CUSTOM_BLACK;
    margin-left: auto;
    text-align: right;

    @include sm-fix {
        text-align: center !important;
        max-width: unset !important;
    }
}

.career-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 500ms all;

    @include sm {
        height: 90%;
    }

    @include sm-fix {
        height: 500px !important;
        background-size: cover;
    }
}

.career-title {
    padding-top: 100px;
    font-weight: bold;
    font-size: 120px;
    line-height: 120%;
    max-width: 1050px;

    @include uw {
        font-size: 90px;
    }

    @include ex {
        max-width: 700px;
    }

    @include lg {
        font-size: 75px;
    }

    @include md {
        padding-top: 50px;
        max-width: 65%;
        font-size: 48px;
    }

    @include sm {
        font-size: 42px;
    }

    @include xs {
        font-size: 36px;
    }
}

.career-text {
    max-width: 670px;
    margin-top: 100px;
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;

    @include uw {
        max-width: 500px;
        margin-top: 70px !important;
    }

    @include md {
        max-width: 60%;
        margin-top: 40px !important;
        font-size: 18px;
    }

    @include sm-fix {
        margin-top: 25px !important;
    }

    @include xs {
        font-size: 16px;
    }
}

.career-work {
    margin-top: 50px;

    // .career-bg {
    //     background-position-x: -250px;

    //     &.scrolled {
    //         background-position-x: 0;
    //     }

    // @include ex {
    //     background-position-x: -150px;
    // }

    // @include md {
    //     background-position-x: -100px;
    // }

    // @include sm-fix {
    //     background-position-x: unset;
    // }
    // }
}

.career-experience {
    .career-bg {
        // background-position-x: calc(100% + 250px);

        // &.scrolled {
        //     background-position-x: 100%;
        // }

        @include lg {
            background-size: cover;
        }
    }
}

.career-ho {
    .career-bg {
        // @include ex {
        //     background-position-x: -100px;
        // }

        // @include md {
        //     background-position-x: -50px;
        // }

        @include sm-fix {
            background-position-x: unset;
        }
    }
}

.career-relax {
    .career-bg {
        background-size: cover;
    }
}

.career-znojmo {
    @include sm-fix {
        padding-bottom: 300px;
    }
    .career-title {
        max-width: 1000px !important;
    }

    .career-bg {
        background-size: cover;

        @include fullHD-reverse {
            background-size: contain;
            background-position-x: 0 !important;
        }
    }
}

// Challenges Section
.career-challenges {
    padding-top: 75px;
    padding-bottom: 120px;
    background: $CUSTOM_BLACK;
    color: white;

    .container {
        max-width: 1100px;
    }

    .section-title,
    .career-challenges__text {
        text-align: center;
    }

    p {
        color: white;
    }
}

.career-challenges__text {
    max-width: 600px;
    margin: auto;
    margin-top: 35px;
}

.career-challenges__list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    row-gap: 0px;
    justify-content: space-between;
    margin-top: 100px;
    counter-reset: challenges;

    @include md {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
}

.career-challenges-list__item {
    position: relative;
    width: 320px;
    counter-increment: challenges;

    @include md {
        margin: auto;
    }

    &:nth-child(even) {
        margin-top: 150px;

        @include md {
            margin-top: 0;
        }
    }

    &.active {
        &::before {
            opacity: 0.3;
        }
    }

    &::before {
        content: counter(challenges);
        position: absolute;
        top: -90px;
        left: 70%;
        opacity: 1;
        @include orange-gradient(0deg);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 250px;
        font-weight: bold;
        transition: 300ms all;
        z-index: 5;

        @include md {
            top: -30px;
            left: 80%;
            font-size: 180px;
        }

        @include xs {
            font-size: 150px;
            left: 70%;
        }
    }
}

// ccli = career challenges list item
.ccli__title {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    z-index: 10;
}

.ccli__text {
    position: relative;
    margin-top: 30px;
    z-index: 10;
}

// Positions Section
.section-positions {
    margin-top: 100px;

    .section-title {
        max-width: 700px;
        margin: auto;
        text-align: center;
    }
}

.section-positions__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 36px;
    row-gap: 55px;
    margin-top: 90px;

    @include ex {
        display: grid;
        row-gap: 36px;
        grid-template-columns: repeat(2, 1fr);
    }

    @include sm {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 25px;
    }
}

.section-positions-list__item {
    position: relative;
    flex-basis: calc(33.33% - 24px);
    padding: 55px 35px 30px 35px;
    background: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;

    @include ex {
        flex-basis: unset;
    }
}

// spli = section positions list item
.spli__icon {
    position: absolute;
    top: 30px;
    right: 30px;

    @include xs-fix {
        position: static;
        display: flex;
        justify-content: center;
    }
}

.spli__title {
    width: 230px;
    max-width: 70%;
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
    height: 120px;
    word-wrap: normal;

    @include xs-fix {
        width: 100%;
        max-width: unset;
        margin-top: 20px;
        text-align: center;
        height: auto;
    }
}

.spli__text {
    margin-top: 10px;
    margin-bottom: 90px;
    font-weight: 400;

    @include xs-fix {
        margin-top: 25px;
        text-align: center;
    }

    p {
        font-weight: 400;
    }

    strong {
        font-size: 20px;
    }
}

.spli__button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 240px;
}
