.child-ref .reference:nth-child(1n) .ref-card{
  background: $color-orange;
}
.child-ref .reference:nth-child(2n) .ref-card{
  background: $color-orange-dark;
}
.child-ref .reference:nth-child(3n) .ref-card{
  background: $color-red;
}
.child-ref .reference:nth-child(4n) .ref-card{
  background: $color-red-dark;
}





.child-tvorba .reference:nth-child(3) .ref-card{
  @include lg{
    display: none;
  }

}


.child-vyvoj .reference:nth-child(3) .ref-card{
  @include sm{
    display: none;
  }

}
.child-vyvoj .reference:nth-child(4) .ref-card{
  @include sm{
    display: none;
  }

}

.child-vyvoj .reference:nth-child(5) .ref-card{
  @include lg{
    display: none;
  }

}
.child-vyvoj .reference:nth-child(6) .ref-card{
  @include lg{
    display: none;
  }

}


.child-hp-blog .blog--card:nth-child(2){
  @include sm{
    display: none;
  }
}
.child-hp-blog .blog--card:nth-child(3){
  @include lg{
    display: none;
  }
}



.child-top-blog .blog--card-dark:nth-child(5) .top-post-gray{
  @include lg{
    display: none;
  }
}