.page--contact {
    .page-title {
        position: relative;
        padding-top: 180px;
        z-index: 20;

        @include uw {
            padding-top: 160px;
        }

        @include ex {
            padding-top: 140px;
        }

        @include lg {
            padding-top: 120px;
        }

        @include md {
            padding-top: 100px;
        }

        @include sm {
            padding-top: 80px;
        }
    }

    .wpcf7-response-output {
        max-width: 80vw;
        right: 0;
        bottom: -130px;

        @include xs {
            bottom: -140px;
        }
    }
}

.contact-shape-bg {
    position: absolute;
    top: 0;
    left: 0;
    // width: 100vw;
    // max-width: 1500px;
    width: 1500px;
    height: auto;
    z-index: 20;
    transform: rotate(90deg) translateY(50%);

    @include sm {
        width: 1000px;
    }

    @include ultra-small {
        max-width: 100vw;
        overflow-x: hidden;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.contact-top {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 90%;
        background: $CUSTOM_BLACK;
    }
}

.contact-top__form {
    position: relative;
    margin-top: 140px;
    padding: 70px 100px;
    background: white;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 20;

    @include uw {
        margin-top: 100px;
        padding: 60px 90px;
    }

    @include lg {
        margin-top: 80px;
        padding: 50px 80px;
    }

    @include md {
        margin-top: 70px;
        padding: 40px 70px;
    }

    @include sm {
        margin-top: 60px;
        padding: 30px 50px;
    }

    @include sm-fix {
        padding: 30px 35px;
    }

    @include xs {
        padding: 25px;
    }
}

// Team
.contact-top-form__team {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;

    @include md {
        flex-direction: column;
        row-gap: 30px;
    }

    @include sm-fix {
        // row-gap: 20px;
    }
}

.contact-top-form-team__left {
}

.contact-top-form-team__right {
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 70px;
    row-gap: 50px;

    @include uw {
        column-gap: 30px;
        row-gap: 35px;
    }

    @include ex {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
    }

    @include md {
        grid-template-columns: repeat(2, auto);
        justify-content: start;
    }

    @include sm {
        grid-template-columns: repeat(1, 1fr);
    }

    @include sm-fix {
        // row-gap: 15px;
    }
}

.team-card {
    display: flex;
    column-gap: 10px;

    @include xs-fix {
        flex-direction: column;
        align-items: center;
        row-gap: 10px;
    }
}

.team-card--bigger {
    align-items: center;
    column-gap: 25px;

    @include sm-fix {
        column-gap: 15px;
    }

    @include xs {
        flex-direction: column;
        row-gap: 15px;
    }

    .team-card__img {
        min-width: 150px;
        max-width: 150px;
        height: 150px;

        @include sm-fix {
            min-width: 120px;
            max-width: 120px;
            height: 120px;
        }
    }

    .team-card__right {
        .team-card-right__name {
            font-size: 32px;
            line-height: 105%;

            @include lg {
                font-size: 30px;
            }

            @include md {
                font-size: 28px;
            }

            @include sm {
                font-size: 26px;
            }

            @include xs {
                font-size: 24px;
            }
        }

        .team-card-right__specialization {
            font-size: 18px;
            line-height: 22px;
            color: #a1a1aa;

            @include xs {
                font-size: 16px;
            }
        }

        .team-card-right__email {
            font-size: 20px;
            line-height: 28px;

            @include md {
                font-size: 18px;
            }

            @include xs {
                font-size: 16px;
            }
        }

        .team-card-right__name,
        .team-card-right__specialization,
        .team-card-right__email {
            @include xs {
                text-align: center;
            }
        }
    }
}

.team-card__img {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
    margin-top: 7px;

    &.team-card__img--default {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: white;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);

        img {
            width: 70%;
            height: auto;
            object-fit: contain;
            border-radius: unset;
            box-shadow: unset;
        }
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
    }
}

.team-card__right {
}

.team-card-right__name {
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;

    @include md {
        font-size: 18px;
    }

    @include xs {
        font-size: 16px;
    }
}

.team-card-right__specialization {
    font-size: 14px;
    line-height: 17px;
    color: #a1a1aa;
}

.team-card-right__email {
    display: inline-block;
    width: 100%;
    font-size: 16px;
    line-height: 24px;
}

.team-card-right__name,
.team-card-right__specialization,
.team-card-right__email {
    @include xs-fix {
        text-align: center;
    }
}
// End Of Team

// Form
.contact-form-container {
    position: relative;
}

.contact-form-cards {
    position: absolute;
    top: 0;
    left: calc(400px + 200px);
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    @include uw {
        left: calc(400px + 100vw * 0.07);
    }

    @include lg {
        left: calc(400px + 30px);
    }

    @include md {
        top: calc(-210px - 20px);
        left: 0;
    }

    @include xs {
        row-gap: 10px;
    }
}

.contact-top-form__title {
    margin-top: 100px;

    @include ex {
        margin-top: 80px;
    }

    @include md {
        margin-top: 60px;
    }

    @include sm {
        margin-top: 45px;
    }
}

.wpcf-submit-parent {
    position: relative;
    max-width: 400px;
    height: 50px;
    margin: auto;
    margin-top: 25px;

    &:hover {
        .wpcf-submit-bg {
            opacity: 1;
        }
    }
}

.wpcf-submit-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    transition: 300ms all;
    background: #b11331;
    pointer-events: none;
    border-radius: 8px;
}

.wpcf-submit-value {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    z-index: 20;
    pointer-events: none;
}

// .wpcf7-submit,
// .wpcf7-form-control {
//     position: relative;
//     display: block;
//     max-width: 400px;
//     width: 100%;
//     height: 50px;
//     margin: auto;
//     // margin-top: 25px;
//     @include orange-gradient(270deg);
//     font-family: "Montserrat", sans-serif;
//     font-size: 16px;
//     font-weight: 600;
//     border: none;
//     border-radius: 8px;
//     color: white;
// }

#wpcf-custom-btn-0 {
    position: relative;
    display: block;
    max-width: 400px;
    width: 100%;
    height: 50px;
    margin: auto;
    // margin-top: 25px;
    @include orange-gradient(270deg);
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    color: white;
}

.contact-top__form {
    .wpcf7 {
        margin-top: 40px;

        @include md {
            margin-top: calc(40px + 210px);
        }
    }

    .wpcf7-submit {
        // .wpcf7-form-control {
        position: relative;
        display: block;
        max-width: 400px;
        width: 100%;
        height: 50px;
        margin: auto;
        // margin-top: 25px;
        @include orange-gradient(270deg);
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 600;
        border: none;
        border-radius: 8px;
        color: white;
    }

    textarea {
        width: 100%;
        resize: vertical;
        min-height: 150px;
        height: 150px;
        max-height: 300px;
    }
}

.wpcf7-submit {
    cursor: pointer;
}

.contact-form-inputs {
    max-width: 400px;

    @include sm-fix {
        max-width: unset;
        width: 100%;
    }

    p:not(:first-child) {
        margin-top: 25px;
    }

    input {
        padding: 15px 15px !important;
        font-size: 18px !important;

        @include xs {
            font-size: 16px;
        }
    }
}

.contact-radio {
    margin-top: 40px;
    margin-bottom: 40px;

    input[type="radio"] {
        display: none;
    }

    input[type="radio"]:checked ~ .wpcf7-list-item-label {
        background: $CUSTOM_BLACK;
        color: white;

        &:hover {
            opacity: 1;
        }
    }

    .wpcf7-radio {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        column-gap: 15px;
        row-gap: 15px;

        @include md {
            column-gap: 10px;
            row-gap: 10px;
        }

        @include sm-fix {
            display: grid;
            grid-template-columns: repeat(1fr);
        }
    }

    .wpcf7-list-item-label {
        display: block;
        padding: 13px 30px;
        background: #efefef;
        border-radius: 8px;
        transition: 300ms all;
        cursor: pointer;
        text-align: center;

        &:hover {
            opacity: 0.6;
        }
    }

    .wpcf7-list-item {
        margin: 0;
    }
}

.contact-radio__text {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 500;

    @include xs {
        font-size: 16px;
    }
}

.contact-form-text {
    margin: auto;
    margin-top: 30px;
    max-width: 550px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-align: center;
    color: $CUSTOM_BLACK;

    @include sm-fix {
        max-width: unset;
        width: 100%;
    }

    @include sm-fix {
        margin-top: 15px;
    }
}
// End Of Form

.contact-top__img {
    position: relative;
    width: 100%;
    height: 800px;

    @include md {
        height: 600px;
    }

    @include sm {
        height: 400px;
    }

    @include xs {
        height: 300px;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1000px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.0001) 37.69%, rgba(15, 16, 19, 0.8) 55.66%, #0f1013 74.87%);
        z-index: 15;

        @include md {
            height: 800px;
        }

        @include sm {
            height: 550px;
        }

        @include xs {
            height: 450px;
        }
    }

    img {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1000px;
        object-fit: cover;
        z-index: 10;
        clip-path: ellipse(100vw 80% at 50% 20%);

        @include lg {
            clip-path: ellipse(120vw 80% at 50% 20%);
        }

        @include md {
            height: 800px;
            clip-path: ellipse(1500px 80% at 50% 20%);
        }

        @include sm {
            height: 550px;
            clip-path: ellipse(1000px 80% at 50% 20%);
        }

        @include xs {
            height: 450px;
            clip-path: ellipse(800px 80% at 50% 20%);
        }
    }
}

// Contact Bottom
.contact-bottom {
    margin-top: 80px;
    margin-bottom: 100px;

    @include md {
        margin-bottom: 80px;
    }

    @include sm {
        margin-bottom: 60px;
    }

    @include xs {
        margin-bottom: 45px;
    }
}

// .contact-page {
//     .logo-light {
//         display: block;
//     }
//     .logo-dark {
//         display: none;
//     }
//     .half-page {
//         position: relative;
//         overflow: hidden;
//         padding-bottom: 1000px;
//         margin-bottom: 50px;
//         @include lg {
//             padding-bottom: 600px;
//         }
//         @include sm {
//             padding-bottom: 400px;
//         }
//         @include xs {
//             padding-bottom: 300px;
//         }
//     }

//     .contact-form {
//         background-color: white;
//         .page-full {
//             @include md {
//                 flex-direction: column-reverse;
//             }
//             .page-half {
//                 @include md {
//                     &:first-child {
//                         padding-right: unset;
//                     }
//                     &:last-child {
//                     }
//                 }
//             }
//         }
//     }
//     .text-contact {
//         color: #ffffff;
//     }

//     .icon-contact {
//         background-image: unset;
//         -webkit-background-clip: unset;
//         -webkit-text-fill-color: unset;
//         color: #ffffff;
//     }
// }

// .contact-warning {
//     width: 100%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     padding-top: 40px;
//     .contact-text {
//         width: 550px;
//     }
// }

// .page-title--contact {
//     padding-top: 175px;
//     margin-bottom: 150px;
//     font-weight: 700;
//     @include sm {
//         padding-top: 125px;
//         margin-bottom: 25px;
//     }
// }

// .contact-background-wrapper {
//     background-color: #0f1013;
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     z-index: -5;
//     &::before {
//         content: "";
//         position: absolute;
//         width: 50%;
//         height: 100%;
//         background-image: url(/peko-web/wp-content/themes/peko/images/referenceOvalLeft.png);
//         left: 0;
//         bottom: -3px;
//         background-repeat: no-repeat;
//         background-position: bottom left;
//         z-index: -1;
//     }

//     &::after {
//         content: "";
//         position: absolute;
//         width: 50%;
//         height: 100%;
//         background-image: url(/peko-web/wp-content/themes/peko/images/referenceOvalRight.png);
//         right: 0;
//         bottom: -3px;
//         background-repeat: no-repeat;
//         background-position: bottom right;
//         z-index: -1;
//     }
// }

// .contact-background-wrap {
//     position: absolute;
//     width: 100%;
//     height: 1350px;
//     bottom: 0;
//     @include lg {
//         height: 850px;
//     }
//     @include sm {
//         height: 500px;
//     }
//     @include xs {
//         height: 350px;
//     }
// }

// .contact-background {
//     position: relative;
//     width: 100%;
//     height: 100%;
//     background-image: url(/peko-web/wp-content/themes/peko/images/footerteam.png);
//     z-index: -2;
//     background-position: bottom;
//     background-repeat: no-repeat;
//     background-size: cover;
//     &::after {
//         content: "";
//         position: absolute;
//         width: 100%;
//         height: 100%;
//         top: 0;
//         transform: scaleY(-1);
//         background-image: linear-gradient(179deg, rgba(0, 0, 0, 0) 38%, rgba(15, 16, 19, 0.8) 56%, #0f1013 75%);
//     }
// }

// .contact-wrap {
//     width: 100%;
//     display: flex;
//     @include md {
//         flex-direction: column;
//     }
// }

// .ceo {
//     width: 33.3333%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     padding-right: 100px;
//     @include lg {
//         padding-right: 75px;
//     }
//     @include md {
//         width: 100%;
//         padding-right: unset;
//         margin-bottom: 30px;
//         flex-direction: row;
//         justify-content: flex-start;
//     }
//     @include xs {
//         margin-bottom: 20px;
//     }
// }

// .ceo-image {
//     width: 150px;
//     height: 150px;
//     border-radius: 100%;
//     overflow: hidden;
//     margin-bottom: 10px;
// }

// .ceo-img {
//     width: 100%;
//     height: 100%;
// }

// .ceo-text {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     @include md {
//         align-items: flex-start;
//     }
// }

// .ceo-name {
//     font-weight: 500;
//     font-size: 28px;
//     line-height: 110%;
//     color: #000000;

//     @include lg {
//         font-size: 26px;
//     }
// }

// .ceo-work {
//     font-weight: 300;
//     font-size: 16px;
//     line-height: 18px;
//     color: #000000;
// }

// .ceo-email {
//     font-weight: 400;
//     font-size: 20px;
//     line-height: 22px;
//     color: #000000;
// }

// .contact-team-wrap {
//     width: 66.6666%;
//     // display: flex;
//     // flex-wrap: wrap;
//     display: inline-block;
//     @include md {
//         width: 100%;
//     }
// }

// .contact-team {
//     width: 50%;
//     display: flex;
//     justify-content: flex-start;
//     align-items: center;
//     margin-bottom: 30px;
//     &:nth-child(1n) {
//         float: left;
//     }
//     &:nth-child(2n) {
//         float: right;
//     }
//     @include sm {
//         width: 100%;
//     }
//     @include xs {
//         margin-bottom: 20px;
//     }
// }

// .contact-team-avatar {
//     width: 60px;
//     height: 60px;
//     overflow: hidden;
//     border-radius: 100%;
//     box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0);
// }

// .contact-team-img {
//     width: 100%;
//     height: 100%;
// }

// .contact-team-name {
//     font-weight: 500;
//     font-size: 20px;
//     color: #000000;
//     line-height: 28px;
// }

// .contact-team-job {
//     font-weight: 500;
//     font-size: 12px;
//     color: #a1a1aa;
//     padding-left: 10px;
//     line-height: 17px;
// }

// .contact-team-email {
//     font-weight: 400;
//     font-size: 16px;
//     color: #000000;
//     line-height: 23px;
// }

// .contact-form-7 {
//     height: unset;

//     .contact-radio {
//     }
// }

// .contact-form-customer {
//     width: 100%;
//     max-width: 400px;
//     margin-bottom: 20px;
//     @include md {
//         max-width: unset;
//         .contact-form-input span input {
//             min-width: unset;
//             width: 100%;
//         }
//     }
// }

// .contact-form-input {
//     span {
//         input {
//             min-width: 100%;
//             padding: 14px;
//             border: unset;
//             outline: unset;
//             background: #efefef;
//             border-radius: 10px;
//             font-size: 16px;
//             color: #000000;
//             font-weight: 500;
//             margin-bottom: 30px;
//         }
//         textarea {
//             min-width: 100%;
//             max-width: 100%;
//             min-height: 224px;
//             max-height: 224px;
//             height: 224px;
//             padding: 14px;
//             border: unset;
//             outline: unset;
//             background: #efefef;
//             border-radius: 10px;
//             font-size: 16px;
//             color: #000000;
//             font-weight: 500;
//         }
//     }
// }

// .button-submit {
//     width: 100%;
//     max-width: 400px;
//     width: 100%;

//     border-radius: 8px;
//     position: relative;
//     overflow: hidden;
//     z-index: 3;
//     border: unset;
//     cursor: pointer;
//     text-align: center;
//     // &::before{
//     //   content: '';
//     //   width: 100%;
//     //   height: 100%;
//     //   top: 0;
//     //   left: 0;
//     //   position: absolute;
//     //   background-image: linear-gradient(90deg, #E33C49 0%, #EF7A2B 100%);
//     //   visibility: visible;
//     //   opacity: 1;
//     //   transition: .3s linear;
//     //   z-index: 1;
//     // }
//     // &::after{
//     //   content: '';
//     //   width: 100%;
//     //   height: 100%;
//     //   top: 0;
//     //   left: 0;
//     //   position: absolute;
//     //   background-image: linear-gradient(90deg, #EF7A2B 0%, #E33C49 100%);
//     //   visibility: hidden;
//     //   opacity: 0;
//     //   transition: .3s linear;
//     //   z-index: 1;
//     // }
//     // &:hover{
//     //     &::after{
//     //       visibility: visible;
//     //       opacity: 1;
//     //       transition: .3s linear;
//     //     }
//     //     &::before{
//     //       visibility: hidden;
//     //       opacity: 0;
//     //       transition: .3s linear;
//     //     }
//     //   }
//     input {
//         width: 100%;
//         height: unset;
//         padding: unset;
//         background-image: linear-gradient(90deg, #ef7a2b 0%, #e33c49 100%);
//         border: unset;
//         padding: 13px 40px;

//         font-weight: 600;
//         font-size: 16px;
//         color: #ffffff;
//         text-align: center;
//         transition: 0.3s linear;
//         &:hover {
//             background-image: linear-gradient(90deg, #e33c49 0%, #ef7a2b 100%);
//             transition: 0.3s linear;
//         }
//     }
// }
