.contact-form {
    position: relative;
    display: grid;
    grid-template-columns: 300px 400px;
    column-gap: 45px;
    width: fit-content;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 1);
    // backdrop-filter causes bug with making this element relative
    // to fixed wpcf7-response-output...
    // backdrop-filter: blur(27.1828px);
    z-index: 30;

    &.transparent {
        background-color: rgba(255, 255, 255, 0.85);
    }

    @include md {
        grid-template-columns: 1fr 1fr;
    }

    @include sm {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }

    @include xs {
        padding: 25px;
    }
}

.contact-form__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
}

.contact-form-left__text {
    font-size: 26px;
    line-height: 160%;
    font-weight: 500;

    @include lg {
        font-size: 24px;
    }

    @include md {
        font-size: 22px;
    }

    @include sm {
        font-size: 20px;
    }

    @include xs {
        font-size: 18px;
    }
}

.contact-form-left__img {
    width: 100%;

    img {
        width: 100%;
    }
}

.contact-form__right {
    input[type="submit"] {
        width: 100%;
        height: 50px;
        // margin-top: 30px;
        @include orange-gradient(270deg);
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 600;
        border: none;
        border-radius: 8px;
        color: white;
    }
}

.contact-form-right__inputs {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.input-label {
    position: relative;
    font-size: 18px;
    font-weight: 500;

    @include sm {
        font-size: 16px;
    }

    &.input-label--email {
    }

    &.input-label--message {
    }

    input[type="email"],
    input[type="text"],
    textarea {
        width: 100%;
        margin-top: 7px;
        padding: 10px 10px;
        border: none;
        background: #efefef;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 500;
    }

    input[type="email"] {
    }

    textarea {
    }
}

.contact-form-right__text {
    margin-top: 5px;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
}

// Output
.wpcf7-form.invalid {
    .wpcf7-response-output {
        background: #dc3545;
    }
}

.wpcf7-response-output {
    position: absolute !important;
    bottom: 100px;
    right: 40px;
    margin: 0 !important;
    padding: 15px 25px !important;
    border: none !important;
    background: #28a745;
    color: white;
    font-size: 18px;
    font-weight: 500;

    @include xs {
        bottom: 85px;
        right: 25px;
    }

    @include xs-fix {
        max-width: 70vw;
        font-size: 16px;
    }
}

.wpcf7-not-valid-tip {
    position: absolute;
    top: calc(100% + 15px);
    color: #dc3545;
}
