.contact-card {
    display: flex;
    align-items: center;
    width: fit-content;
    // height: 60px;
    column-gap: 13px;
    padding: 10px;
    background: white;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
    border-radius: 30px;

    @include sm {
        column-gap: 10px;
    }

    @include xs {
        column-gap: 7px;
    }

    &.gradient {
        @include orange-gradient(270deg);

        svg {
            path {
                fill: white;
            }
        }

        .contact-card__content {
            color: white;

            .orange-gradient {
                color: white;
            }
        }
    }
}

.contact-card__icon {
    display: flex;
    align-items: center;
    min-width: 40px;
    max-width: 40px;
    height: 40px;

    @include md {
        min-width: 36px;
        max-width: 36px;
        height: 36px;
    }

    @include sm {
        min-width: 32px;
        max-width: 32px;
        height: 32px;
    }

    @include xs {
        min-width: 28px;
        max-width: 28px;
        height: 28px;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.contact-card__content {
    font-size: 20px;
    line-height: 120%;
    font-weight: 600;
    color: $CUSTOM_BLACK;
    // white-space: nowrap;
    white-space: normal;

    @include md {
        font-size: 18px;
    }

    @include xs {
        font-size: 16px;
    }
}
