.cooperation-section {
    &.white {
        background: $CUSTOM_BLACK;
        color: white;
    }
}

.cooperation-section__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 5%;
    row-gap: 30px;
    margin-top: 30px;

    &.scrolled {
        .cooperation-section-list__item {
            img:first-child {
                visibility: hidden;
                opacity: 0;
            }
            img:nth-child(2) {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    @include md {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        // padding: 0 10%;
    }

    @include sm-fix {
        grid-template-columns: repeat(2, 1fr);
    }

    @include xs {
        grid-template-columns: repeat(1, 1fr);
    }
}

.cooperation-section-list__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;

    @include md {
        height: 70px;
    }

    @include sm {
        height: 60px;
    }

    @include xs {
        height: 50px;
        margin: auto;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 10;
        transition: 300ms all;

        &:nth-child(2) {
            visibility: hidden;
            opacity: 0;
            z-index: 20;
        }
    }
}
