.page--development {
    .why-us-section {
        margin-top: 130px;

        @include md {
            margin-top: 40px;
        }
    }

    .why-us-section__items {
        column-gap: 70px;
        row-gap: 70px;
    }
}

// Header
.dev-header.creation {
    background-repeat: no-repeat;
    background-position-x: calc(100% + 20px);
    background-position-y: 100px;

    @include uw {
        background-position-x: calc(100% + 20px);
        background-size: initial;
    }

    @include ex {
        background-size: 40%;
    }

    @include md {
        background-position-x: calc(100% + 20px);
        background-size: 65%;
    }
}

.dev-header {
    position: relative;
    padding-top: 120px;
    padding-bottom: 50px;
    background: $CUSTOM_BLACK;
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-position-x: calc(100% + 20px);
    background-position-y: 0%;

    &::after {
        content: "";
        position: absolute;
        top: calc(100% - 700px);
        left: 50%;
        transform: translateX(-50%);
        width: 100vw;
        height: 800px;
        clip-path: ellipse(100vw 80% at 50% 20%);
        z-index: -1;
        background: $CUSTOM_BLACK;

        @include lg {
            clip-path: ellipse(120vw 80% at 50% 20%);
        }

        @include md {
            display: none;
            // bottom: calc(100% - 630px);
            // clip-path: ellipse(1500px 80% at 50% 20%);
        }

        @include sm {
            // clip-path: ellipse(1000px 80% at 50% 20%);
        }
    }

    @include uw {
        background-position-x: calc(100% + 70px);
        background-size: contain;
    }

    @include md {
        background-position-x: calc(100% + 20px);
    }

    .section-title {
        margin: auto;
    }

    p {
        margin: auto;
        color: white;
        text-align: center;
    }
}

.page-title-container {
    position: relative;
}

.dev-header__title {
    max-width: 1000px;
    text-align: left;
    color: white !important;
    background: unset;
    -webkit-background-clip: unset;
    line-height: unset;
    -webkit-text-fill-color: unset;

    span {
        display: block;

        &:first-child {
            margin-bottom: -20px;

            @include md {
                margin-bottom: -15px;
            }

            @include xs {
                margin-bottom: -5px;
            }
        }
    }
}

.dev-header__title--smaller {
    // display: block;
    // position: absolute;
    // top: 0px;
    // left: 0;
    font-size: 24px;
    line-height: 24px;
    font-weight: 600;

    // @include sm {
    //     top: -10px;
    // }

    // @include xs {
    //     top: -15px;
    // }
}

.dev-header__img {
    display: flex;
    justify-content: center;
    margin-top: 70px;
    width: 100%;

    @include lg {
        margin-top: 50px;
    }

    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;

        @include sm-fix {
            width: 100vw;
            max-width: unset;
            object-fit: cover;
        }
    }
}

.dev-header__subtitle {
    max-width: 1250px;
    margin-top: 170px !important;

    @include uw {
        margin-top: 140px !important;
    }

    @include ex {
        margin-top: 120px !important;
    }

    @include md {
        margin-top: 80px !important;
    }

    @include xs {
        margin-top: 70px !important;
    }
}

.dev-header__text {
    margin-top: 45px !important;
}

.dev-header__device {
    display: flex;
    justify-content: center;
    margin-top: 45px;
    width: 100%;

    img {
        max-width: 100%;
        height: auto;
        object-fit: contain;
    }
}

.dev-header__coop {
    margin-top: 120px;

    @include uw {
        margin-top: 100px;
    }

    @include ex {
        margin-top: 80px;
    }
}

.dev-header-coop__title {
}

.dev-header-coop__list {
    margin-top: 60px;
}
// End Of Header

// Slides
$slidesMT: 0;

.dev-slides {
    position: relative;
    margin-top: $slidesMT;
}

.dev-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    @include md {
        position: static;
    }

    &.fixed {
        position: fixed;
        // top: 0;
        // left: 0;

        @include md {
            position: static;
        }
    }

    .container {
        display: grid;
        grid-template-columns: 250px 350px 1fr;
        align-items: center;
        // height: calc(100vh - $navHeight);
        height: 100vh;
        padding-top: $navHeight;

        @include lg {
            grid-template-columns: 230px 300px 1fr;
        }

        @include md {
            display: block;
            grid-template-columns: unset;
            height: auto;
        }
    }
}

// Slides - Progress
.dev-slide__progress {
    position: relative;
    height: fit-content;

    @include md {
        display: none;
    }
}

.dev-slide-progress__bar,
.dev-slide-progress__bar-bg {
    position: absolute;
    top: 15px;
    left: 13px;
    width: 4px;
    z-index: -1;
}

.dev-slide-progress__bar-bg {
    height: calc(100% - 30px);
    background: #f4f4f4;
}

.dev-slide-progress__bar {
    height: 0;
    background: linear-gradient(0deg, #ef7a2b 0%, #e33c49 100%);
}

.dev-slide-progress__items {
    display: flex;
    flex-direction: column;
    row-gap: 85px;
}

.dspi__item {
    display: flex;
    align-items: center;
    column-gap: 30px;

    &.scrolled {
        .dspi-item__dot {
            @include orange-gradient(0deg);
        }
    }

    &.active {
        .dspi-item__title {
            font-size: 24px;
            font-weight: 600;
        }

        .dspi-item__dot {
            &::before {
                width: 44px;
                height: 44px;
            }
        }
    }
}

.dspi-item__dot {
    position: relative;
    width: 30px;
    height: 30px;
    background: #f4f4f4;
    border-radius: 50%;
    transition: 300ms all;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(0deg, #fbd8c0 0%, #f7c6c8 100%);
        width: 30px;
        height: 30px;
        border-radius: 50%;
        z-index: -1;
        transition: 300ms all;
    }
}

.dspi-item__title {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
}

// Slides - Content
.dev-slide__content {
    position: relative;
    height: 100%;

    @include md {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
        column-gap: 40px;
        margin-top: 70px;
    }

    @include sm {
        grid-template-columns: repeat(1, 1fr);
    }

    @include xs {
        margin-top: 50px;
    }
}

.dsc__item {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    width: 100%;
    opacity: 0;
    transition: 300ms all;

    @include md {
        position: static;
        top: unset;
        left: unset;
        transform: unset;
        opacity: 1 !important;
        align-items: center;
    }

    &.active {
        opacity: 1;
    }
}

.dsc-item__icon {
    height: 80px;

    img {
        width: auto;
        height: 100%;
        object-fit: contain;
    }
}

.dsc-item__title {
    display: none;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;

    @include md {
        display: block;
    }
}

.dsc-item__text {
    margin-top: 30px;

    @include md {
        margin-top: 20px;
        text-align: center;
    }
}

// Slides - Images
.dev-slide__images {
    position: relative;
    margin-left: 200px;
    margin-top: -100px;

    @include uw {
        margin-left: 100px;
    }

    @include lg {
        margin-left: 85px;
    }

    @include md {
        display: none;
    }
}

.dev-slides-images__text {
}

.dev-slides-images-text__item {
    position: absolute;
    top: 50%;
    left: -60px;
    font-size: 120px;
    font-weight: bold;
    transform: translateY(-50%) translateX(-50%) rotate(-90deg);
    color: #fafafa;
    opacity: 0;
    transition: 300ms all;
    z-index: -1;
    white-space: nowrap;

    @include uw {
        left: -50px;
        font-size: 100px;
    }

    @include uw {
        left: -40px;
        font-size: 75px;
    }

    &.active {
        opacity: 1;
    }
}

.dev-slide-images__frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;

    @include uw {
        width: 45vw;
    }
}

.dev-slide-images__list-wrapper {
    position: relative;
    width: calc(50vw - 40px);
    height: 0;
    margin-top: 20px;
    margin-left: 20px;
    padding-bottom: 56%;
    overflow: hidden;

    @include uw {
        width: calc(45vw - 30px);
        margin-top: 15px;
        margin-left: 15px;
    }

    @include ex {
        margin-top: 10px;
        margin-left: 10px;
        padding-bottom: 57%;
    }
}

.dev-slide-images__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dsil__item {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 300ms all;

    &.active {
        top: 0;
    }

    &.scrolled {
        top: -100%;
    }

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// End Of Slides

.dev-reference {
    margin-top: 100px;
}

.dev-what-we-do {
    position: relative;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-top: 80px;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 80px);
        background: $CUSTOM_BLACK;
        z-index: -1;
    }

    .coop-section__cards {
    }
}
