.dev-apps-h2{
  color: white;
  @include lg{
    font-size: 20px;
    margin-top: -25px;
  }
}
.dev-apps-p{
  margin-top: 0px;
  margin-bottom: 50px;
  @include lg{
    display: none;
  }
}
.dev-video-wrap__apps{
  margin-bottom: 0px;
}

.dev-apps-apple svg{
  fill: #ffffff;
  left: 50%;
  top: 48%;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 35px;
  position: absolute;
  @include sm{
    width: 20px;
    height: 25px;
  }
}
.dev-apps-apple{
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path:polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 80px;
  height: 88px;
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background: $color-red;
  @include sm{
    margin: 5px 15px;
    width: 60px;
    height: 65px;
  }
}
.dev-apps-page svg{
  top:50%;
}
.cooperation .partners-logo-wrap{
  text-align: center!important;
}
.dev-logos .partners-logo-wrap{
  text-align: center!important;
}
.dev-apps-android svg{
  fill: #ffffff;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 30px;
  height: 35px;
  position: absolute;
  @include sm{
    width: 20px;
    height: 25px;
  }
}
.dev-apps-android{
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path:polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 80px;
  height: 88px;
  margin: 10px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  background: $color-orange-dark;
  @include sm{
    margin: 5px 15px;
    width: 60px;
    height: 65px;
  }

}

.dev-apps-android-ios{

  margin-top: 50px;
}
.apple-wrap{
  color:white;
  width: fit-content;
  float: left;
  margin-left: 50px;

  @include sm{
    margin-left: 0px;
    float: left;
    display: inline-flex;
    line-height: 70px;
    font-size: 16px;

  }
}
.android-wrap{
  color:white;
  width: fit-content;
  float: right;
  margin-right: 50px;
  @include sm{
    margin-right: 0px;
    float: left;
    display: inline-flex;
    line-height: 70px;
    font-size: 16px;
  }
}

.cooperation{
  background: $color-grey-light;
  position: relative;
  padding-top: 80px;
  @include sm{
    padding-top: 50px;
  }
}

.cooperation:before{
  content:"";
  background: $color-grey-light;
  position: absolute;
  width: 100%;
  top: -150px;
  z-index: -1;
  height: 150px;
}

.container__cooperation{
  padding-top: 10px;
}

.dev-apps-technology{
  margin-top: -185px;
  z-index: 1;
  position: relative;
  margin-bottom: -50px;
  @include sm{
    margin-top: 0px;
  }
}
.dev-apps-technology:after{
  content:"";
  background: $color-grey-light;
  position: absolute;
  width: 100%;
  bottom: -100px;
  z-index: -1;
  left: 0px;
  height: 100px;
}


.team--text-apps{
  top: 20px;
@include sm{
  margin-bottom: 10px;
}
}


.video-dark__ref{
  width: 245px;
  height: 450px;
  top: 75px;
  left: 31px;
  z-index: 9;
  @include lg{
    width: 233px;
    height: 413px;
    top: 81px;
    left: 30px;

  }
  @include md{
    width: 173px;
    left: -2px;
    height: 308px;
    margin-top: 38px;
  }
  @include sm{
    margin-top: -2px;
    right: 16px;
    left: auto;
    width: 119px;
    height: 212px;
  }
}
.dev-video__ref{
  width: 243px;
  margin-left: 32px;
  margin-top: 75px;
  z-index: 1;
  height: 450px;
  position: relative;
  @include lg{
    width: 231px;
    margin-top: 81px;
    height: 413px;
  }
  @include md{

    width: 173px;
    margin-left: 5px;
    height: 308px;
    margin-top: 119px;
  }
  @include sm{
    width: 117px!important;
    margin-left: 0px;
    margin-top: 31px;
    margin-right: 17px;
  }
}
.play-vid-butt__ref{
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 18px solid #ffffff;
@include md{
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 12px solid #ffffff;
}
}

.pause-vid-butt__ref{
  width: 22px;
  height: 24px;
  background: white;
  @include md{
    width: 13px;
    height: 13px;
  }
}

.ref-video-play{
  left: auto;
  right: -83px;
  margin-top: 20px;
  @include md{
    right: -36px;
  }
}
.play-vid__ref{
  z-index: 991;
}
.pause-vid__ref{
   z-index: 991;
 }

.ref-video-img-2{
  position: absolute;
  top: 0px;
  max-height: 600px;
  max-width: 320px;
  @include lg{

    max-width: 296px;
  }
  @include md{
    max-width: 220px;
    margin-top: 60px;
  }
  @include sm{
    right: 0px;
    margin-top: 40px;
    max-width: 150px;
  }
}

.ref-video-img-android{
  max-width: 278px;
  right: -18px;
  top: 30px;
  @include lg{
    right: -17px;
    max-width: 264px;
  }
  @include md{
    max-width: 197px;
    right: 12px;
    top: 22px;
  }
  @include sm{
    max-width: 133px;
    top: 15px;
    right: 9px;
  }
}


.ref-video-text{
  margin-top: 20px;
  right: 47px;
}


.dev-video-wrap__desktop{
  margin-top: 43px;
}

.video-dark__ref--desktop{
  width: 296px;
  height: 168px;
  top: 13px;
  left: 12px;
  z-index: 9;
  @include lg{
    width: 274px;
    height: 154px;
    top: 12px;
    left: 11px;
  }
  @include md{
    top: -30px;
    left: 8px;
    height: 115px;
    width: 203px;
  }
  @include sm{
    top: 40px;
    right: 16px;
    left: auto;
    height: 81px;
    width: 139px;
  }
}
 .dev-video__ref--desktop{
   height: 168px;
   width: 296px;
   margin-top: 13px;
   margin-left: 12px;
   @include lg{
     height: 154px;
     width: 273px;
     margin-top: 12px;
     margin-left: 11px;
   }
   @include md{
     margin-top: 9px;
     margin-left: 9px;
     height: 115px;
     width: 202px!important;
   }
   @include sm{
     right: 0;
     height: 78px;
     margin-right: 16px;
     margin-top: 41px;
     width: 139px!important;
   }
 }

 .ref-video-play--desktop{
   margin-top: 15px;
   @include lg{
     right: -70px;
   }
   @include md{
     margin-top: 7px;
     right: -51px;
   }
   @include sm{
     margin-top: 68px;
     right: -39px;
   }
   @media (max-width: 380px){

     margin-top: 68px;
     right: -10px;
   }
 }
 .ref-video-text--desktop{
   margin-top: 15px;
   @include md{
     margin-top: 7px;
     right: 35px;

   }
   @include sm{
     margin-top: 30px;
     right: 18px;
   }
   @media (max-width: 380px){
     margin-top: 23px;
     right: 17px;

   }
 }

 .ref-video-img-2--desktop{
   margin-top: 0px;
   @include sm{
     margin-top: 35px;
     margin-right: 10px;
   }
 }

 .ref-img--desktop{
   margin-top: 130px;
   max-height: 250px;
   max-width: 310px;
   margin-bottom: -25px;
   @include md{
     margin-top: 50px;
     max-height: 220px;
   }
   @include sm{
     margin-top: 70px;
     max-height: 250px;
   }
   @media (max-width:400px){
     max-height: 180px;
   }
 }

 .ref-detail-heading-img--desktop{
   margin-bottom: -90px;
   max-width: 250px;
 @include md{
   margin-bottom: -80px;
   max-width: 200px;
 }
 }

 .ref-button-wrap--dev{
   margin-top: -30px;
 }