.development-page{
  text-align: center;
}
.development-wrap{
  background: $color-orange;
}
.development-first-p{
  color:$color-white;
  opacity:0.8;
  text-align: center;
  @include lg{
    margin-top: -30px;
    margin-bottom: -80px;
  }
  @include sm{
    margin-top: -20px;
  }
}
.development-page-white{
  background: $color-white;
  margin-top: 100px;
  padding: 70px 30px;
}
.development-page h3{

  font-size: 25px;
  margin-bottom: 0px;
  line-height: 50px;
  @include md{
    line-height: 40px;
  }

}
.dev__left{
  text-align: right;
  padding-bottom: 60px;
  padding-right: 100px;
  height: 300px;
  border-right: 1px solid $color-grey-light;
  @include lg{
    height: 340px;
  }
  @include md{
    height: 380px;
  }
  @include sm{
    height: auto;
    border-right: none;
    border-left: 2px solid $color-grey-light;
    text-align: left;
    padding-left: 100px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 0px;
  }
  @media (max-width: 400px) {
    padding-left: 70px;
  }
}
.dev__right{
   text-align: left;
  height: 300px;
  padding-top: 65px;
  padding-left: 100px;
  border-left: 1px solid $color-grey-light;
  @include lg{
    height: 340px;
  }
  @include md{
    height: 380px;
  }
  @include sm{
    height: auto;
    border-left: 2px solid $color-grey-light;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  @media (max-width: 400px) {
    padding-left: 70px;
  }
 }

.dev-main__left{
  border-right: 1px solid $color-grey-light;
  @include sm{
    border-right: none;
    border-left: 2px solid $color-grey-light;
  }
}
.dev-main__right{
  border-left: 1px solid $color-grey-light;
  @include sm{
    border-left: 2px solid $color-grey-light;
  }
}
.dev-main{
  height: 50px;
  @include sm{
    height: 0px;
  }
}
.dev-polygon{
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path:polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: orange;
  height: 11px;
  width: 10px;
  margin-left: auto;
  margin-right: auto;
  @include sm{
    margin-left: -19px;
  }
}

.dev-heading__right:before{
  left: -100px;
  position: absolute;
  height: 2px;
  width: 70px;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  background: $color-grey-light;
  @media (max-width: 400px) {
    left:-70px;
    width: 40px;
  }
}
.dev-heading__left:after{
  position: absolute;
  right: -100px;
  height: 2px;
  width: 70px;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  background: $color-grey-light;
  @include sm{
    display: none;
  }
}
.dev-heading__left:before{
@include sm{
  left: -100px;
  position: absolute;
  height: 2px;
  width: 70px;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  background: $color-grey-light;
}
  @media (max-width: 400px) {
   left:-70px;
    width: 40px;
  }
}

.dev-heading{
  position: relative;
  display: inline-flex;
  @include sm{
    display: inline-block;
  }
}
.ref-video-wrap .dev-video-wrap{
  width: auto;

}
.dev-video-wrap{
  margin-bottom: -140px;
  margin-top: -35px;
  position: relative;
  width: 855px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.container__development{

  padding-top: 170px;
}
.video-dark{
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0,0,0,0.75);

  @include md{
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    right: 0px;
    width: 95%;
  }

}
.play-vid{

 // clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  //background: #f79d27;
  //width: 70px;
  cursor: pointer;
  transition: 0.2s;
  //height: 78px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%)translateX(-50%);
}
.pause-vid{
  //clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  //background: #f79d27;
  //width: 70px;
  cursor: pointer;
  transition: 0.2s;
  //height: 78px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%)translateX(-50%);
  display: none;
}
.play-vid-butt{
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 45px solid $color-orange-dark;
  top: 50%;
  position: absolute;
  left: 52%;
  transform: translateY(-50%) translateX(-50%);
  @media (max-width: 600px){
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 25px solid $color-orange-dark;
  }
}
.pause-vid-butt{
  width: 40px;
  height: 35px;
  clip-path: polygon(30% 0, 0 0, 0 100%, 30% 100%, 30% 50%, 70% 50%, 70% 100%, 100% 100%, 100% 0, 70% 0, 70% 50%, 30% 50%);
  -webkit-clip-path:polygon(30% 0, 0 0, 0 100%, 30% 100%, 30% 50%, 70% 50%, 70% 100%, 100% 100%, 100% 0, 70% 0, 70% 50%, 30% 50%);
  top: 50%;
  position: absolute;
  left: 50%;
  background: $color-orange-dark;
  transform: translateY(-50%) translateX(-50%);
@media (max-width: 600px){
  width: 25px;
  height: 25px;
}
}
.dev-video:hover ~ .pause-vid{
  display:block!important;

}
.dev-video-block:hover ~ .pause-vid{
  display:none!important;

}

#dev-video{
  @include md{

    width: 95%;
  }
}

.pause-vid:hover{
  display:block!important;
}

.technology-page{
  background: $color-grey-light;
}
.technology-page{
  text-align: center;
}

.dev-logos{
  margin-top: 65px;
}


.pause-vid svg{
  width: 200PX;
  height: 230px;
}
.play-vid svg{
  width: 200PX;
  height: 230px;
  @media (max-width: 600px){
    width: 120Px;
    height: 140px;
  }
}



.dev-svg{
  float: left;
}
.dev-svg svg{
  height: 50px;
  width: 50px;
  @include md{
    height: 40px;
    width: 40px;
  }
  @media (max-width: 350px) {
    height: 30px;
    width: 30px;
  }
}

.dev-svg__dark-orange svg .st1{
  fill:$color-orange-dark;
}
.dev-svg__dark-red svg .st1{
  fill:$color-red-dark;
}
.dev-svg__orange svg .st1{
  fill:$color-orange;
}

.dev-svg__red svg .st1{
  fill:$color-red;
}




.dev p{
  margin-top: 20px;
  @include sm{
    display: none;
  }
}
.dev__right h3{
  margin-left: 40px;
  @include md{
    font-size: 20px;
    margin-left: 20px;
  }
  @include sm{
    float: right;
  }
  @media (max-width: 350px) {
    font-size: 16px;
    line-height: 30px;
  }
}



.dev__left h3{
  margin-right: 40px;
  @include md{
    font-size: 20px;
    margin-right: 20px;
  }
  @include sm{
    float: right;
    margin-right: 0px;
    margin-left: 20px;
  }
  @media (max-width: 350px) {
    font-size: 16px;
    line-height: 30px;
  }
}

.ref-card__third{
  @include lg{
    display: none;
  }
}

.development-wrap .container__reduce--bottom{
  padding-bottom: 0px;
}

.red-menu .menu-item-has-children{
  color: $color-red;
  @include sm{
    color:$color-black;
  }
}

.android-wrap:hover{
  opacity: 0.8;
  transition: 0.2s;
}
.android-wrap{
  transition: 0.2s;
}
.apple-wrap:hover{
  opacity: 0.8;
  transition: 0.2s;
}
.apple-wrap{
  transition: 0.2s;
}








.resize img{
  max-width: none;
}

.ba-slider {
  margin-top: -35px;
  position: relative;
  overflow: hidden;
  height: 480px;
  width: 855px;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  @include md{
    height: 100%;
    width: 95%;
  }
}

.ba-slider img {
  width: 100%;
  display:block;
}

.resize {
  position: absolute;
  top:0;
  left: 0;
  height: 100%;
  width: 20%;
  overflow: hidden;
}


.handle { /* Thin line seperator */
  position:absolute;
  left:20%;
  top:0;
  bottom:0;
  width:2px;
  margin-left:0px;

  background: white;
  cursor: ew-resize;
}

.handle-sub-right{
  position: absolute;
  top: 50%;
  height: 60px;
  transform: translateY(-50%);
  z-index: 9;
}

.handle-sub-left{
  position: absolute;
  top: 50%;
  height: 60px;
  transform: translateY(-50%);
  z-index: 9;

}
.handle-sub-left:after {  /* Big orange knob  */
  position: absolute;
  content: "";
  width: 12px;
  background: white;
  z-index: 99;
  height: 2px;
  transform: rotate(45deg);
  bottom: 25px;
  right: 0;
  margin-right: 8px;
}
.handle-sub-left:before{
  position: absolute;
  content: "";
  width: 12px;
  background: white;
  z-index: 99;
  height: 2px;
  transform: rotate(-45deg);
  top: 25px;
  right: 0;
  margin-right: 8px;
}
.handle-sub-right:after {  /* Big orange knob  */
  position: absolute;
  content: "";
  width: 12px;
  background: white;
  z-index: 99;
  height: 2px;
  transform: rotate(-45deg);
  bottom: 25px;
  margin-left: 8px;
}
.handle-sub-right:before{
  position: absolute;
  content: "";
  width: 12px;
  background: white;
  z-index: 99;
  height: 2px;
  transform: rotate(45deg);
  top: 25px;
  margin-left: 8px;
}
.handle-sub{
  position: absolute;
  width: 2px;
  height: 64px;
  top: 50%;
  background: white;
  z-index: 9;
  margin-left: -1px;
  transform: translateY(-50%);
}

.handle:after {  /* Big orange knob  */
  position: absolute;
  top: 50%;
  width: 56px;
  height: 62px;
transform: translateY(-50%) translateX(-50%);
  content: "";
  color: white;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: $color-orange-dark;
}

.draggable:after {
  width: 54px;
  height: 60px;
  transform: translateY(-50%) translateX(-50%);
}