.error-body, .error-heading{
  text-align: left
}


.error-number{
  font-size: 200px;
  font-weight: bold;
  color:$color-red;
  line-height: normal;
  @include sm{
    font-size: 140px;
  }
}
.error-text{
  font-weight: 700;
  color: $color-orange;
  font-size: 40px;
  line-height: normal;
  @include sm{
    font-size: 30px;
  }
}
.container-error{
  position: relative;
}

.error-polygon{
  position: absolute;
  bottom: -70px;
  z-index: -1;
  right: 0px;
  top: 0px;
  transform: rotate(180deg);
}


.error-body{
  margin-top: 40px;
}
.error-message{
  font-size: 18px;
line-height: 30px;
  @include sm{
    font-size: inherit;
  }
}

.error-type{
  color: $color-red;
  font-weight: bold;
  font-size: 20px;
  position: absolute;
  top: 243px;
  left: 20px;
  @include sm{
    font-size: 15px;
    top: 170px;
  }
}