.footer {
    position: relative;
    color: white;

    &.black {
        background: $CUSTOM_BLACK;
    }

    a,
    p {
        color: white;
    }

    &.rounded {
        &::after {
            content: "";
            position: absolute;
            bottom: calc(100% - 150px);
            left: 50%;
            transform: translateX(-50%);
            width: 100vw;
            height: 200px;
            background: $CUSTOM_BLACK;
            clip-path: ellipse(100vw 80% at 50% 80%);
            z-index: -1;

            @include lg {
                clip-path: ellipse(120vw 80% at 50% 80%);
            }

            @include md {
                clip-path: unset;
            }
        }
    }
}

// Footer Top
.footer__top {
    position: relative;
    padding-top: 30px;
    padding-bottom: 15px;

    .container {
        position: relative;
        padding: 0 5%;
    }

    a {
        display: block;
        width: fit-content;
    }
}

.footer-top__links {
    display: grid;
    grid-template-columns: auto auto 60px;
    column-gap: 10%;

    @include uw {
        column-gap: 7%;
    }

    @include ex {
        column-gap: 5%;
    }

    @include lg {
        grid-template-columns: 250px auto 60px;
        justify-content: space-between;
        column-gap: auto;
    }

    @include md {
        grid-template-columns: 230px auto 60px;
    }

    @include sm {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
}

.footer-heading {
    font-size: 20px;
    font-weight: bold;
}

.footer-items {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    margin-top: 15px;
}

.footer-items__column {
    display: flex;
    flex-direction: column;
    row-gap: 7px;

    a {
        font-size: 18px;
        font-weight: 500;

        &:hover {
            text-decoration: underline;
        }
    }
}

// Footer Top Left
.ftl__left {
}

.ftl-left__items {
    @include sm {
        max-width: 300px;
    }

    @include xs {
        max-width: unset;
    }
}

.ftl-left-items__column {
}

// Footer Top Right
.ftl__right {
}

.ftl-right__items {
    margin-top: 15px;

    @include lg {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
}

.ftl-right-items__column {
}

// Footer Top Facebook
.ftl__facebook {
    align-self: flex-end;

    @include sm {
        position: absolute;
        bottom: 0;
        right: 0;
    }

    // @include xs {
    //     position: static;
    // }

    a {
        display: block;
        width: 60px;
        height: 60px;

        svg {
            path {
                transition: 300ms all;
            }
        }

        &:hover {
            svg {
                path {
                    fill: rgba(239, 90, 68, 1);
                }
            }
        }

        @include md {
            width: 50px;
            height: 50px;
        }

        @include sm {
            width: 40px;
            height: 40px;
        }

        @include xs {
            width: 35px;
            height: 35px;
        }

        svg {
            width: 100%;
            height: 100%;
        }
    }
}

.footer-top__made-by {
    margin-top: 20px;
    font-size: 14px;
    line-height: 17px;

    a {
        display: inline-block;

        &:hover {
            text-decoration: underline;
        }
    }

    @include sm {
        margin-top: 35px;
    }
}

// Footer Bottom
.footer__bottom {
    @include orange-gradient(270deg);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 30px 0;

        @include md {
            flex-direction: column;
            justify-content: unset;
            align-items: flex-start;
            row-gap: 15px;
            padding: 20px 0;
        }

        @include sm {
            row-gap: 10px;
        }
    }
}

.footer-bottom__item {
    &:hover {
        p {
            // text-decoration: underline;
        }
    }
}

.footer-bottom__item,
.footer-bottom__item p {
    font-size: 30px;
    line-height: 120%;

    @include ex {
        font-size: 26px;
    }

    @include lg {
        font-size: 24px;
    }

    @include md {
        font-size: 20px;
    }

    @include sm {
        font-size: 18px;
    }

    @include xs {
        font-size: 16px;
    }
}

.footer-bottom__contact-text {
    font-weight: 700;
}

.footer-bottom__phone,
.footer-bottom__email {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-weight: 600;

    svg {
        width: 40px;
        height: auto;

        @include md {
            width: 35px;
        }

        @include sm {
            width: 30px;
        }

        @include xs {
            width: 25px;
        }

        path {
            fill: white;
        }
    }
}

.footer-bottom__phone {
    column-gap: 3px;
}

.footer-bottom__email {
}
