// Reference Section
.reference-section {
    margin-top: 60px;

    .reference-section__title {
    }

    .reference-section__subtitle {
        margin-top: 5px;
        font-size: 18px;
        line-height: 22px;
        font-weight: 500;
        color: $CUSTOM_BLACK;

        @include sm {
            font-size: 16px;
        }
    }
}

// For Whom We Do It + What We Do Section
.coop-section {
    position: relative;
    margin-top: 100px;
    padding-top: 100px;
}

.coop-section__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 95%;
    background-repeat: no-repeat;
    background-size: auto cover;
    background-position: 50% 50%;

    @include fullHD {
        background-size: cover;
    }

    @include md {
        height: 97%;
    }

    @include sm {
        height: 98%;
    }

    @include xs {
        height: 99%;
    }
}

.coop-section__title {
    color: white;
}

.coop-section__companies {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 3%;
    row-gap: 30px;
    margin-top: 40px;
    margin-bottom: 120px;

    &.scrolled {
        .coop-section-companies__item {
            img:first-child {
                visibility: hidden;
                opacity: 0;
            }
            img:nth-child(2) {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    @include ex {
        margin-bottom: 100px;
    }

    @include md {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        margin-bottom: 70px;
    }

    @include sm-fix {
        grid-template-columns: repeat(2, 1fr);
        // margin-top: 30px;
        margin-bottom: 40px;
    }

    @include xs {
        grid-template-columns: repeat(1, 1fr);
    }
}

.coop-section-companies__item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 100%;
        height: 100%;
        object-fit: contain;
        z-index: 10;
        transition: 300ms all;
        pointer-events: none;

        &:nth-child(2) {
            visibility: hidden;
            opacity: 0;
            z-index: 20;
        }
    }
}

.coop-section__text {
    max-width: 900px;
    margin-top: 10px;
    font-size: 18px;
    line-height: 160%;
    font-weight: 500;
    color: white;

    @include sm {
        font-size: 16px;
    }
}

// CSC = Coop Section Cards
.coop-section__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 15px;
    row-gap: 15px;
    margin-top: 30px;

    @include uw {
        grid-template-columns: repeat(2, 1fr);
    }

    @include md {
        grid-template-columns: repeat(1, 1fr);
    }
}

.csc__card {
    min-width: 100%;
    max-width: 100%;
    padding: 30px 20px;
    border-radius: 20px;
    background: white;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

    @include md {
        padding: 30px 10%;
    }

    @include sm {
        padding: 30px 20px;
    }
}

.csc-card__top {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 40px;
    column-gap: 20px;

    @include uw {
        grid-template-columns: 3fr 5fr;
        align-items: center;
    }

    @include sm-fix {
        column-gap: 10p;
    }

    @include xs {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 15px;
    }
}

.csc-card-top__img {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    max-width: 100%;
    height: 200px;

    svg,
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.csc-card-top__title {
    // min-height: 140px;
    // max-height: 140px;
    // font-size: 24px;
    // line-height: 120%;
    // font-weight: 600;

    // max-width: 215px;
    font-size: 48px;
    height: calc(48px * 3);
    line-height: 100%;
    font-weight: 700;
    word-spacing: 9999999px;

    @include md {
        font-size: 44px;
        height: calc(44px * 3);
    }

    @include sm {
        font-size: 40px;
        height: calc(40px * 3);
    }

    @include xs {
        font-size: 36px;
        height: calc(36px * 3);
    }

    // @include md {
    //     min-height: unset;
    //     max-height: unset;
    //     font-size: 22px;
    // }

    // @include sm {
    //     // min-height: 130px;
    //     // max-height: 130px;
    //     font-size: 20px;
    // }

    // @include xs {
    //     font-size: 18px;
    // }
}

.csc-card-top-title__smaller {
    color: rgba(0, 0, 0, 0.7);
}

.csc-card-top-title__bigger {
    font-size: 52px;
    line-height: 100%;
    font-weight: 700;

    @include md {
        font-size: 48px;
    }

    @include sm {
        font-size: 44px;
    }

    @include xs {
        font-size: 40px;
    }
}

.csc-card__text {
    margin-top: 30px;
    line-height: 28px;
    font-weight: 500;
    color: $CUSTOM_BLACK;

    @include sm-fix {
        margin-top: 10px;
    }
}
// For Whom We Do It + What We Do Section

// How We Do It Section (HWDI)
.hwdi-section {
    margin-top: 100px;

    @include md {
        margin-top: 70px;
    }

    .container {
        position: relative;
    }
}

.hwdi-section__bg {
    position: absolute;
    top: 0;
    right: -300px;
    width: auto;
    height: 100%;
    z-index: -1;

    @include lg {
        right: -450px;
    }

    @include md {
        right: -550px;
    }

    @include sm {
        right: -450px;
    }

    @include sm-fix {
        display: none;
    }

    svg {
        height: 100%;
    }
}

.hwdi-section__title {
}

.hwdi-section__items {
    display: flex;
    flex-direction: column;
    margin-top: -50px;

    @include ex {
        margin-top: 0;
    }

    @include md {
        margin-top: 30px;
    }

    @include sm {
        row-gap: 30px;
    }

    @include sm-fix {
        row-gap: 15px;
    }
}

.hwdi-item {
    display: flex;
    align-items: center;
    column-gap: 20px;

    @include sm {
        align-self: flex-start !important;
    }

    @include sm-fix {
        flex-direction: column-reverse;
        row-gap: 10px;
    }

    &:first-child {
        align-self: flex-end;
        margin-right: 5%;
        margin-bottom: 20px;

        @include uw {
            margin-right: 0;
        }

        @include sm {
            margin-bottom: 0;
        }
    }

    &:nth-child(2) {
        margin-bottom: 120px;

        @include sm {
            margin-bottom: 0;
        }
    }

    &:nth-child(3) {
        margin-left: 5%;
        margin-bottom: 80px;

        @include uw {
            margin-left: 0;
        }

        @include sm {
            margin-bottom: 0;
        }
    }

    &:nth-child(4) {
        align-self: flex-end;
        margin-right: 10%;

        @include uw {
            margin-right: 5%;
        }

        @include md {
            margin-right: 0;
        }
    }
}

.hwdi-item__left {
    min-width: 400px;
    max-width: 400px;

    @include sm {
        min-width: unset;
        max-width: unset;
        width: 60%;
    }

    @include sm-fix {
        width: 100%;
    }
}

.hwdi-item-left__title {
    margin-top: 10px;
    font-size: 56px;
    line-height: 120%;
    font-weight: bold;
    text-align: right;
    @include orange-gradient(0deg);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include lg {
        font-size: 52px;
    }

    @include md {
        font-size: 48px;
    }

    @include sm {
        margin-top: 0;
        text-align: left;
        font-size: 44px;
    }

    @include xs {
        font-size: 40px;
    }
}

.hwdi-item-left__text {
    margin-top: 30px;
    text-align: right;
    font-weight: 500;
    line-height: 28px;
    color: $CUSTOM_BLACK;

    @include sm {
        margin-top: 5px;
        text-align: left;
    }
}

.hwdi-item__right {
    width: auto;
    // height: 250px;
    height: auto;

    @include sm {
        display: flex;
        height: 200px;
    }

    @include sm-fix {
        width: 100%;
        height: 250px;
    }

    svg,
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
// How We Do It Section (HWDI)

// Why Us Section
.why-us-section {
    margin-top: 70px;

    @include sm {
        margin-top: 50px;
    }
}

.why-us-section__title {
}

.why-us-section__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 30px;

    @include sm {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }
}

// why us section items = wusi
.wusi__item {
}

.wusi-item__number {
    font-size: 90px;
    font-weight: bold;
    line-height: 110px;
    color: #f4f4f4;

    @include xs {
        font-size: 70px;
        line-height: 80px;
    }
}

.wusi-item__title {
    font-size: 56px;
    line-height: 68px;
    font-weight: bold;

    @include md {
        font-size: 46px;
        line-height: 52px;
    }

    @include sm {
        font-size: 40px;
        line-height: 46px;
    }

    @include xs {
        font-size: 32px;
        line-height: 40px;
    }

    &.active {
        @include orange-gradient(0deg);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.wusi-item__text {
    margin-top: 20px;
    font-weight: 500;
    line-height: 28px;

    @include xs {
        margin-top: 10px;
    }
}

// End Of Why US Section

// Blog Section
.no-posts-found {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    line-height: 32px;
    text-align: center;
}

.blog-section {
    margin-top: 50px;
}

.blog-section__title {
}

.blog-section__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;
    margin-top: 40px;

    @include lg {
        grid-template-columns: repeat(2, 1fr);
        .blog-card:nth-child(3) {
            display: none;
        }
    }

    @include sm {
        grid-template-columns: repeat(1, 1fr);
        .blog-card:nth-child(2) {
            display: none;
        }
    }
}

.blog-section__button {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
}

// Contact Section
.fp-contact-section {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    margin-bottom: 270px;

    @include uw {
        flex-direction: column;
        row-gap: 30px;
    }

    @include md {
        margin-top: 70px;
    }

    @include sm {
        margin-top: 50px;
    }

    @include xs {
        margin-top: 40px;
    }
}

.fp-contact-section__left {
}

// fpcsl = fp contact section left
.fpcsl__title {
}

.fpcsl__cards {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 50px;

    @include uw {
        flex-direction: row;
        justify-content: center;
        column-gap: 25px;
    }

    @include lg {
        flex-direction: column;
        align-items: center;
    }
}

.fp-contact-section__right {
    @include uw {
        display: flex;
        justify-content: center;
    }
}

// End Of Contact Seciton

// Footer Background
.frontpage-footer-bg {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 900px;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 50%;
    clip-path: ellipse(100% 60% at 50% 60%);

    @include uw {
        width: 120vw;
    }

    @include lg {
        width: 140vw;
        background-position-x: 15vw;
        bottom: 90px;
    }

    @include md {
        clip-path: unset;
    }

    @include sm {
        height: 950px;
        bottom: 130px;
        background-position-x: 5vw;
    }

    @include sm-fix {
        background-position-x: -5vw;
    }

    @include xs {
        bottom: 120px;
        background-position-x: -20vw;
    }

    @include xs-fix {
        background-position-x: -30vw;
    }
}
