.header {
    position: relative;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include sm {
        height: auto;
    }

    .container {
        height: 100%;
    }

    .page-title {
        padding-top: 250px;
        font-size: 64px;
        line-height: 125%;

        @include ex {
            font-size: 60px;
        }

        @include lg {
            font-size: 56px;
        }

        @include md {
            font-size: 52px;
        }

        @include sm {
            padding-top: 150px;
            font-size: 46px;
        }

        @include sm-fix {
            padding-top: 100px;
        }

        @include xs {
            font-size: 40px;
        }
    }
}

.header__links {
    display: flex;
    justify-content: center;
    column-gap: 40px;
    padding-top: 50px;

    @include sm {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        row-gap: 15px;
        width: 100%;
    }

    a {
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: #bebebe;

        @include md {
            font-size: 18px;
        }

        @include xs {
            font-size: 16px;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.header__buttons {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
    display: flex;
    column-gap: 20px;

    @include sm {
        position: static;
        transform: unset;
        justify-content: center;
        margin-top: 50px;
        padding-bottom: 40px;
    }

    @include xs-fix {
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        row-gap: 15px;
    }

    a {
        width: 170px;
        height: 45px;
    }
}
