.why-us{

position: relative;
  background-color: $color-grey-light;

}



.cooperations-partners{
  background-color: #efefef;
  margin-top: -110px;
  position: relative;
  h3{
    text-align: center;
  }
  .container{

    padding-top: 0px;
    @include lg{
      padding-bottom: 0px;

    }
  }
  @include lg{
    margin-top: -220px;

  }
  @include sm{
    padding-top: 70px;
    margin-top: 0px;
  }
}

.cooperations-partners:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: -1;
  background: $color-grey-light;
  top: -200px;
  left: 0px;
  @include lg{
    top:-100px;
    height: 100px;
  }

}



.hp__team .team--text{
top:100px;
@include sm{
  top: 0px;
}
}


.cooperation--reference{
  .partners-logo-wrap{
    height: 70px;
    .partners-logo{
      max-height: 50px;
    }
  }
}


.partners-logo{
  max-width: 100%;
  max-height: 25px;
  padding: 0px 25px;
}
.partners-logo-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  width: 25%;
  height: 50px;
  padding: 10px 0px;
  text-align: center;
  @include sm{
    width: 33.33333%;
  }
  @include xs{
    width: 50%;
  }
}
.why-us p{
  margin-top: 20px;
  margin-bottom: 50px;
  font-size: 14px;
  color: $color-text-gray;
  line-height: 29px;
  padding-right: 40px;
  @include md{
    padding-right: 0px;
  }
}



.why-us--dash{
  margin-right: 20px;
}
.why-us--logos{
  width: 100%;
@include sm{
  display:none;
}
}
.why-us--logos2 {
  display:none;
  @include sm{
    display:block;

  }
}
.why-us--gray-background{
  padding-right: 42px;
  @include lg{
    padding: 50px;
    width: 100%;
  }
  @include sm{
    padding: 15px;
    padding-top: 70px;
  }
}
.why-us--white-background{
  padding-left: 60px;

  padding-right: 40px;
  @include lg{

    width: 100%;
    background: $color-white;
    padding: 50px;
  }
  @include sm{
    padding: 15px;
    padding-top: 50px;
    padding-bottom: 30px;
  }
}
.why-us--white-block{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  background: $color-white;
  width: 56%;
  height: 100%;
  position: absolute;
  right: 0px;
  @include lg{
    display:none;
  }
}
.contact--info{
  @include lg{
  margin-top: 50px;
  }
}

.check-svg{
  width: fit-content;
  float: left;
  margin-right: 15px;
  margin-top: -3px;
}


.clients-wrap{
  .partners-logo-wrap{
    height: 70px;
    img{
      max-height: 50px;
    }
  }
}
.clients-wrap-dev{
  .partners-logo-wrap{
    height: 70px;
    img{
      max-height: 50px;
    }
  }
}