
.mobile-games--wrap{
  background-color: $color-grey;
}
.mobile-games--ilustration{
  @include sm{
    display:none;
  }
}
.mobile-games--ilustration2{
 display:none;
  @include sm{
    display:block;
  }
}
.hp--mobile-games-button{
margin-top: 30px;
  background: $color-orange-dark;
}
.hp--mobile-games-button:hover{
  background: $color-orange;
}
.mobile-games--wrap p{
  line-height: 36px;
}
.mobile-games--wrap a{
  color: $color-text-gray;
  text-decoration: none;
}
.mobile-games--wrap h2{
color:$color-black;
}
.mobile-games--photo{
  float:right;
@include sm{
  width: 100%;
  float: none;
  text-align: center;
}
}

.mobile-games--icons{
  opacity: 0.8;
  margin-top: -45px;
  float: right;
  @include lg{
    margin-top: 0px;
  }
  @include sm{
    width: 100%;
    text-align: center;
  }
}

.mobile-games--photo__iphone{
  margin-right: 30px;
  @include lg{
    margin-right: 50px;
    margin-top: 50px;
    height: 350px;
  }
@include sm{
  margin-right: 0px;
  margin-top: 20px;
  height: 300px;
}
}
.mobile-games--margin-top{
  margin-top: 40px;
  @include lg{
    margin-top: 60px;
  }
  @include sm{
    margin-top: 0px;
  }
}
.mobile-apps--margin-top{
  margin-top: 40px;
  @include lg{
    margin-top: 80px;
  }
  @include sm{
    margin-top: 0px;
  }
}

.container--mobile-games{
  @include sm{
    padding-top: 0px!important;
    padding-bottom: 0px!important;
  }
}