.apps-info{
  width: 50%;
  float: left;
  @include lg{
    width: 100%;
  }
}
.apps-info h2{
  color:black;
}
.container{
  padding-top:70px;
  padding-bottom: 70px;
}

.container--first{
  line-height: 36px;
  color:$color-text-gray;
}

.container--logo{
  position: absolute;
  width: inherit;
  z-index: -1;
  @include sm{
    display:none;
  }

}
.container--logo2{
display:none;
  @include sm{
    position: absolute;
    max-width: 100%;
    z-index: -1;
    display: block;
    bottom: -50px;

  }
}
.block{

  position: absolute;
  z-index: 2;
}
.block--android{

  top: -205px;
  left: 59%;
  @include lg{
    top: 0px;
    left: 0%;
  }
  @include sm{
    top: 0px;
    position: relative;
    left: 0%;
    width: 100%;
  }
}
.block--apps{
  top: -110px;
  left: 63%;
  @include lg{
    left: 0%;
    top: 100px;
  }
  @include sm{
    top: 0px;
    position: relative;
    left: 0%;
    width: 100%;
  }
}
.enter-inside-text{
  @include lg{
    display:none;
  }

}

.block--apple{
  top: 0px;
  left: 63%;
  @include lg{
    top: 0px;
    left: 50%;
  }
  @include sm{
    top: 0px;
    position: relative;
    left: 0%;
    width: 100%;
  }
}
.block--html{
  top: 105px;
  left: 59%;
  @include lg{
    top: 100px;
    left: 50%;
  }
  @include sm{
    top: 0px;
    position: relative;
    left: 0%;
    width: 100%;
  }
 }

.block-wrap{
  position:relative;
}
.block--text{
  padding-left: 10px;
  font-weight: 500;
  display: initial;
  font-size: 20px;
  line-height: 85px;
  @include sm{
    font-size: 15px;
  }
}
.block-logo{
  width:85px;
}
.hp--small-hexagon{
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  width: 60px;
  height: 65px;
  margin: 10px;
float: left;
  margin-left: 15px;
}
.hp--android{
  background: $color-orange;
}
.hp--apps{
  background: $color-orange-dark;
}
.hp--apple{
  background: $color-red;
}
.hp--html{
  background: $color-red-dark;
}
.hp--small-hexagon svg{
  fill: $color-white;
  margin-left: 50%;
  margin-top: 54%;
  transform: translateX(-50%) translateY(-50%);
  width: 25px;
  height: 25px;

}
.apps-info h2{
  font-size: 25px;
}
.mobile-apps--wrap h2{
  font-size: 25px;
}
.mobile-games--wrap h2{
  font-size: 25px;
}
.web-apps--wrap h2{
  font-size: 25px;
}
.team--text h2{
  font-size: 25px;
}



.block:hover{
  opacity: 0.9;
  transition: 0.2s;
}
.block:hover > .block--text{
  text-decoration: underline;
  transition: 0.2s;
}
.block--text{
  transition: 0.2s;
}
.block{
  transition: 0.2s;
}