

.mobile-apps-background{
  background: $color-orange;
  width: 91%;
  height: 100%;
  position: absolute;
  right: 0px;
  @include md{
    width: 95%;
  }
  @include sm{
    width: 100%;
  }

}
.mobile-apps--wrap{
position:relative;
  margin-bottom: -1px;
  @include lg{
    margin-top: -1px;
  }
}
.mobile-apps--wrap h2{
  color:$color-white;

}
.mobile-apps--wrap p{
  color: $color-white;
  opacity: 1;
  line-height: 36px;

  font-weight: normal;
}
.mobile-apps--wrap a{
  color: $color-white;
  text-decoration: none;
}
.hp--mobile-apps-button{
  background: $color-red;
  margin-top: 30px;
}
.hp--mobile-apps-button:hover{
  background: $color-red-dark;
}
.mobile-apps{
  margin-top:235px;
  @include sm{
    margin-top: 0px;
  }


}
.container--mobile-games{
  @include lg{
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.mobile-apps--text{
  opacity:0.8;
  margin-top:-45px;
  padding-left: 100px;
  @include sm{

    text-align: center;

    padding-left: 0px;
  }
}
.mobile-apps--photo{
  position: absolute;
  z-index: 9;
  @include lg{
    position:relative;
  }
  @include sm{
    height: 400px;
    text-align: center;
  }
}
.mobile-apps--photo__first{
  margin-top:200px;
  margin-left: 50px;
  margin-right: -30px;
  @include lg{
    top: 169px;
    left: 23%;
    height: 200px;
    position: absolute;
    z-index: 1;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  @include sm{
    top: 91px;
    right: -30px;
    position: relative;
    height: 150px;
    left: 18px;
    margin-left: 0px;
    margin-right: 0px;
  }

}
.mobile-apps--photo__second{
  @include lg{
    position: absolute;
    left: 40%;
    top: 20px;
    height: 350px;
  }
  @include sm{
    position: relative;
    left: -50px;
    height: 300px;
  }
}
.mobile-apps--wrap .container{
@include sm{ padding-bottom: 0px;}
}


.web-apps--margin-top{
  margin-top: 45px;
  @include sm{
    margin-top: 0px;
  }
}