

.web-apps-background{
  background: $color-orange-dark;
  width: 91%;
  height: 100%;
  position: absolute;
  right: 0px;
  @include md{
    width: 95%;
  }
  @include sm{
    width: 100%;
  }


}

.web-apps--icon-wrap{
  float:right;
  opacity: 0.8;
  margin-top: -60px;
  padding-right: 100px;
  @include sm{
    float: none;
    text-align: center;
    opacity: 0.8;
    width: 100%;
    margin-top: -60px;
    padding-right: 0px;
  }
}


.web-apps h2{
  color:$color-white;
}
.web-apps p{
  color: $color-white;
  font-weight: normal;
  line-height: 36px;
  opacity: 1;
}
.web-apps a{
  color: $color-white;
  text-decoration: none;
}
.hp--web-apps-button{
  background: $color-red;
  margin-top: 30px;
}
.hp--web-apps-button:hover{
  background: $color-red-dark;
}
.web-apps{


}


.web-apps--wrap{
position: relative;
  @include sm{
    margin-top: -1px;
  }
}

.web-apps--photo-wrap{
  position: absolute;
  z-index: 9;
  @include sm{
    position: relative;
    z-index: 9;
    text-align: center;
  }
}
.web-apps--photo{

  width: 410px;
  max-width: 100%;
  margin-left: 130px;
  @include lg{
    width: 400px;
    max-width: 100%;
    margin-left: 60px;
  }
  @include md{

    width: 300px;
    max-width: 100%;
    margin-left: 40px;
  }
  @include sm{
    width: 352px;
    margin-left: 0px;
    margin-top: 25px;
  }

}
.web-apps--container{
  @include sm{
    padding-bottom: 0px!important;
  }
}
