.team--photo{
  background: url(/wp-content/themes/peko/images/lide.png);
  background-size: contain;
  margin-bottom: -118px;
  height: 800px;
  width: 100%;

  @include lg{
    background: url(/wp-content/themes/peko/images/lide2.png);
    display: block;
    width: 100%;
    padding: 15px;
    margin-top: 200px;
    margin-bottom: -55px;
    background-size: contain;
  }
  @include md{
    margin-bottom: -210px;
  }
  @include sm{
    display:none;
  }
}

.team--more--mobile__photo{
  float: left;
  margin-right: 10px;


}
.team--more--mobile__text{
  @include sm{
    padding-left: 80px;
  }
}




.team--more--mobile__wrap{
  display:none;
  @include sm{
    display:block;
    height: 100px;
    padding: 15px;
    margin-bottom: 10px;

  }
}
.review--wrap{
padding-top: 15px;
  top: -115px;
  height: 100%;
  line-height: 26px;
  background: $color-grey-dark;
  position: relative;
z-index: 99;
  @include sm{

    top: 30px;
  }
}
.team h2{
  color:$color-black;
  margin-top: 30px;

}
.team--text{
  position: absolute;
  top: 100px;
  width:inherit;
  @include sm{
    position: relative;
    top: 0px;
    width: inherit;
    margin-bottom: 10px;
    padding: 0px;
  }
}
.team{
  position:relative;
}
.quotation-mark{
  position: absolute;
  right: -20px;
  top: 11px;
  width: 80px;
  @include md{

    right: -19px;
    top: 13px;
    width: 60px;
  }
  @include sm{

    right: 15px;

    width: 30px;
  }
}
.review--signature{
  @include sm{
    padding-left: 100px;
    margin-bottom: 10px;
    padding-top: 10px;
  }
}
.review--photo__man{
  position: absolute;
  right: 0px;
  height: 150px;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  @include md{
    margin-left: auto;
    height: 100px;
    margin-right: auto;
  }
  @include sm{
    height: 70px;
  }

}
.review--p{
  margin-top: 15px;
  margin-bottom: 20px;
}
.review--photo__wrap{
  height: 150px;
  width: 150px;
  float: right;
  position: relative;
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
    @include md{
      height: 100px;
      width: 100px;
  }
  @include sm{
    height: 70px;
    width: 70px;
  }
}


.review--photo{
  padding: 25px;
  position: relative;
@include sm{
  position: absolute;
  top: -120px;
  left: -10px;
}

}
.review--text{

padding: 15px;

  margin-right: 50px;
  @include sm{
    margin: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.review--text p{
  color: $color-text-gray-light;
  font-size: 14px;

}
.review--text__signature{
  color: $color-text-gray-lighter;

}
.more {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  position: absolute;
  z-index: 9;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  font-size: 30px;
  text-align: center;
  font-weight: 500;
  line-height: 58px;
  transition: 0.2s;
}
.more:hover{
  transform: rotate(45deg);
transition: 0.2s;
  background-color: rgba(255, 255, 255, 0.35);
}
.more--first:hover ~ .more--first__text{
  opacity:1;
  transition: 0.2s;
}
.more--second:hover ~ .more--second__text{
  opacity:1;
  transition: 0.2s;
}
.more--third:hover ~ .more--third__text{
  opacity:1;
  transition: 0.2s;
}

.team--more__wrap{
  position: relative;
  top: -260px;
  width: 100%;
  z-index: 999;
  @include lg{
    top: -320px;
  }
  @include md{

  top:-245px;
  }
  @include sm{
    display:none;
  }


}
.more--first{
  left: 42%;
  @include lg{
    left: 32%;
  }
  @include md{
    left: 35%;
  }

}
.team--more__wrap2{
  position: relative;
  top: -400px;
  width: 100%;
  z-index: 999;
  @include lg{
    top: -450px;
  }
  @include md{
    top: -355px;
  }
  @include sm{
    display:none;
  }
}
.more--second{
  left: 61%;
  @include lg{
    left: 47%;
  }
  @include md{
    left: 46%;
  }
}
.team--more__wrap3{
  position: relative;
  top: -270px;
  z-index: 999;
  width: 100%;
  @include lg{
    top: -290px;
  }
  @include md{
    top: -240px;
  }
  @include sm{
    display:none;
  }
}
.more--third{
  left: 81%;
  @include lg{
    left: 73%;
  }
}

.team--text__block{
  position: absolute;
  background-color: $color-white;
  height: 30px;
  width: 30px;
  transform: rotate(45deg);
  margin-right: -21px;
  margin-top: -15px;
  top: 41px;
  right: 16px;
  @include md{

    z-index: -1;
    transform: rotate(58deg);
    margin-top: -22px;
    top: 18%;

    right: 38px;
  }
}
.team--text__name{
  font-size: 18px;
  line-height: 20px;

  @include lg{
    font-size: 16px;
  }
}
.team--text__position {
  float: right;
  font-weight: 600;
  line-height: 20px;

  @include lg{
    font-size: 11px;
    line-height: 20px;
  }
}
.team--text__other{
  line-height: 20px;

  margin-top: 16px;
  font-weight: 400;
  color: gray;
  @include lg{
    font-size: 12px;
  }
}
.div-name{
  width: 22%;
  float: left;
  padding: 0px 15px;
}
.div-position{
  width: 78%;
  float: left;
  padding: 0px 15px;
}
.div-other{
  width: 100%;
  float: left;
  margin-top: 10px;
  padding: 0px 15px;
}

.more--first__text{
  position: absolute;
  width: 380px;
  background-color: $color-white;
  border-radius: 50px;
  padding: 15px;
  box-shadow: lightgrey 0px 0px 80px;
  height: auto;
  left: 10%;
  margin-top: -10px;
  opacity: 0;
  transition: 0.2s;
  z-index: 9;
  @include lg{
    width: 310px;
    left:0%;
  }
  @include md{
    width: 310px;
    left: 1%;
    margin-top: 58px;
  }
}
.team--text p{
  line-height: 36px;
}


.more--second__text{
  position: absolute;
  width: 380px;
  background-color: $color-white;
  border-radius: 50px;
  box-shadow: lightgrey 0px 0px 80px;
  padding: 15px;
  height: auto;
  left: 29%;
  z-index: 9;
  margin-top: -10px;
  opacity: 0;
  transition: 0.2s;
  @include lg{
    left: 15%;
    width:310px;
  }
  @include md{
    left: 12%;
    width: 310px;
    margin-top: 58px;
  }
}


.more--third__text{
  position: absolute;
  width: 380px;
  background-color: $color-white;
  box-shadow: lightgrey 0px 0px 80px;
  border-radius: 50px;
  padding: 15px;
  height: auto;
  left: 49%;
  margin-top: -10px;
  opacity: 0;
  z-index: 9;
  transition: 0.2s;
  @include lg{
    left: 41%;
    width:310px;
  }
  @include md{
    left: 39%;
    width: 310px;
    margin-top: 58px;
  }
}
.review--signature{
  margin-bottom: 20px;
}
.team--text--mobile__other{
  color: $color-text-gray;
}