* {
	box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
menu {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: inherit;
	font-weight: inherit;
	vertical-align: baseline;
	font-family: "Montserrat", sans-serif;
}
html,
body {
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	scroll-behavior: smooth;

	@include ultra-small {
		min-width: 480px;
		max-width: 480px;
		overflow-x: auto;

		.all {
			min-width: 100%;
		}
	}
}

html {
	margin-top: 0 !important;
}

li {
	list-style: none;
}

a {
	text-decoration: unset;
	color: unset;
}

p {
	font-size: 16px;
	font-weight: 500;
	line-height: 28px;
}

textarea {
	min-height: 120px;
	max-height: 300px;
	resize: vertical;
}

div {
	// overflow-x: auto;
}

.page {
	position: relative;
	width: 100%;
	min-height: calc(100vh);
}

.container {
	position: relative;
	max-width: 1540px;
	width: 80%;
	margin: auto;
	padding-left: 0;
	padding-right: 0;

	@include ex {
		width: 85%;
	}
	@include lg {
		width: 90%;
	}
}

.fw500 {
	font-weight: 500;
}

.fw600 {
	font-weight: 600;
}

.fw700 {
	font-weight: 700;
}

.orange {
	color: rgb(239, 122, 43);
}

.orange-gradient {
	background: linear-gradient(0deg, rgba(239, 122, 43, 1) 0%, rgba(227, 60, 73, 1) 100%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.page-title {
	line-height: 115%;
	font-size: 120px;
	font-weight: 700;
	text-align: center;
	@include orange-gradient(270deg);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	@include ex {
		font-size: 110px;
	}

	@include lg {
		font-size: 100px;
	}

	@include md {
		font-size: 90px;
	}

	@include md {
		font-size: 76px;
	}

	@include sm {
		font-size: 60px;
	}
	@include xs {
		font-size: 48px;
	}
}

.section-title {
	font-size: 60px;
	line-height: 115%;
	font-weight: bold;

	@include ex {
		font-size: 56px;
	}

	@include lg {
		font-size: 52px;
	}

	@include md {
		font-size: 46px;
	}

	@include sm {
		font-size: 42px;
	}

	@include xs {
		font-size: 36px;
	}
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: auto;
	padding: 13px 20px;
	border-radius: 8px;
	text-align: center;
	font-weight: 500;
	@include relative-z-index();
}

.button--primary {
	position: relative;
	@include orange_gradient(270deg);
	color: white;

	span,
	p {
		position: relative;
		z-index: 20;
	}

	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border-radius: 8px;
		background: #b11331;
		z-index: 10;
		opacity: 0;
		transition: 300ms all;
	}

	&:hover {
		&::before {
			opacity: 1;
		}
	}
}

.button--secondary {
	background: white;
	color: $CUSTOM_BLACK;
	transition: 300ms all;

	&:hover {
		background: #ef7a2b;
		color: white;
	}
}

.wysiwyg {
	font-size: 16px;
	line-height: 28px;

	p {
		font-size: 16px;
		line-height: 28px;
	}

	div,
	ul,
	ol {
		min-height: 28px;
	}

	strong {
		font-weight: bold;
	}

	em {
		font-style: italic;
	}

	ul,
	ol {
		padding-left: 25px;
	}

	img {
		width: 100%;
	}
}

.line-clamp {
	text-overflow: "ellipsis";
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	white-space: normal;

	&.lc2 {
		-webkit-line-clamp: 2;
	}
	&.lc3 {
		-webkit-line-clamp: 3;
	}
	&.lc4 {
		-webkit-line-clamp: 4;
	}
	&.lc5 {
		-webkit-line-clamp: 5;
	}
}

// Animated Arrow
.arrow-hover-trigger:hover {
	@include lg-reverse {
		.animated-arrow {
			span {
				opacity: 0;
				animation: animateArrow 2000ms infinite;
				&:nth-child(2) {
					animation-delay: 200ms;
				}
				&:nth-child(3) {
					animation-delay: 400ms;
				}
			}
		}
	}
}

.animated-arrow {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	transform: rotate(-90deg);
	width: 25px;
	padding-top: 3px;
	z-index: 20;

	&.black {
		span {
			border-bottom: 1px solid $CUSTOM_BLACK;
			border-right: 1px solid $CUSTOM_BLACK;
		}
	}

	span {
		display: block;
		width: 10px;
		height: 10px;
		margin: -2px;
		border-bottom: 1px solid white;
		border-right: 1px solid white;
		transform: rotate(45deg);
		border-radius: 1px;
		opacity: 1;
	}
}

@keyframes animateArrow {
	0% {
		opacity: 0;
		transform: rotate(45deg) translate(-1px, -1px);
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: rotate(45deg) translate(1px, 1px);
	}
}
