.menu-wrapper{
    width: 100%;
    min-height: 88px;
    z-index: 10000;
    position: fixed;
    // top: 0;
    transition: .3s linear;

    .services-text{
        width: 70%;
        padding-left: 20px;
        @include sm{
            padding-left: unset;
        }
    }
}

.menu-wrapper--scroll{
    background-color: #000000;
    transition: .3s linear;
}

.menu-wrap{
    width: 100%;
}

.menu-header{
    width: 100%;
    max-height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    background-color: transparent;
    
}

.menu-icon-wrap{
    width: 100%;
    height: 30px;
}
.menu-icon{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



.icon-light{
    #p-icon{
        fill: #FFFFFF
    }
    #k-icon{
        fill: url(#linearGradient-3);
    }
    #k-icon-triangle{
        fill: #FFFFFF;
    }
}

.icon-dark{
    #p-icon{
        fill: #000000
    }
    #k-icon{
        fill: url(#linearGradient-3);
    }
    #k-icon-triangle{
        fill: #000000;
    }
}

.menu{
    display: flex;
    font-weight: 500;
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
    text-transform: lowercase;
    a{
        text-decoration: unset;
        color: unset;
    }
    li{
        list-style-type: none;
    }
    .menu-item{
        padding: 0 16.5px;
        @include xs{
            padding: 0 4px;
        }
        &:first-child{
            padding-left: unset;
        }
        &:last-child{
            padding-right: 30px;
        }
    }
}

.menu-content{
    @include sm{
        display: none;
    }
}

.toggler{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggler{
    width: 120px;
    position: relative;
    text-transform: lowercase;
    padding-left: 55px;
    cursor: pointer;
    transition: .1s linear;
    &::after{
        content: '';
        position: absolute;
        width: 35px;
        height: 3px;
        background-color: #D8D8D8;
        left: 6px;
        top: 8px;
        transition: .1s linear;
    }
    &::before{
        content: '';
        position: absolute;
        width: 35px;
        height: 3px;
        background-color: #D8D8D8;
        left: 12px;
        top: 18px;
        transition: .1s linear;
    }
    &:hover{
        transition: .1s linear;
        &::after{
            content: '';
            position: absolute;
            width: 35px;
            height: 3px;
            background-color: #D8D8D8;
            left: 12px;
            top: 8px;
            transition: .1s linear;
        }
        &::before{
            content: '';
            position: absolute;
            width: 35px;
            height: 3px;
            background-color: #D8D8D8;
            left: 6px;
            top: 18px;
            transition: .1s linear;
        }
    }
}

.hamburger-menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    transition: .1s linear;
    background-color: #151515;
}

.hamburger-menu-content{
    overflow: scroll;
    display: none;
    .page-full{
        &:first-child{
            padding-bottom: 60px;
        }
    }
    .page-half{
        &:first-child{
            padding-right: 41px;
            width: 55%;
            @include xs{
                padding-right: unset;
            }
        }
        &:last-child{
            width: 45%;
            padding-left: 41px;
            @include xs{
                padding-left: unset;
            }
        }
        @include xs{
            width: 100% !important;
        }
    }
    .services-wrapper{
        width: 55%;
        float: left;
        padding-right: 40px;
        @include lg{
            width: 100%;
            padding-right: unset;
            order: 2;
        }
        @include xs{
            width: 100%;
            padding-right: unset;
            order: 2;
        }
    }
    .hamburger-nav{
        order: 1;
    }
}

.page-full{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.page-half{
    width: 50%;
}

.hamburger-content-wrap{
    @include lg{
        display: flex;
        flex-direction: column;
    }
}

.hamburger-menu--active{
    display: block;
    width: 100%;
    height: 100vh; 
    transition: .1s linear;
    z-index: 100;
    background-color: #0F1013;
    padding-bottom: 150px;
    overflow: scroll;
    .hamburger-menu-content{
        display: block;
        padding-top: 25px;
        @include sm{
            padding-top: 90px;
        }
    }
    .menu-toggler--close{
        color: #D8D8D8;
    }
    .menu-toggler{
        &::after{
            transform: rotate(45deg);
            top: 10px;
            left: 10px;
            background-color: #D8D8D8 !important;
        }
        &::before{
            transform: rotate(-45deg);
            top: 10px;
            left: 10px;
            background-color: #D8D8D8 !important;
        }
    }
    .menu-content{
        padding: 0 15px;
        a{
            width: 171px;
            height: 45px;
            background: #FFFFFF;
            border-radius: 8px;
            font-family: Montserrat-Medium;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
            @include xs{
                width: 152px;
            }
        }
        .menu-item{
            color: #000000;
            &:first-child{
                a{
                    color: #FFFFFF;
                    z-index: 1;
                    background-color: #EF7A2B;
                    &::before{
                        content: '';
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        position: absolute;
                        background-image: linear-gradient(90deg, #E33C49 0%, #EF7A2B 100%);
                        visibility: visible;
                        opacity: 1;
                        transition: .3s linear;
                        z-index: -1;
                    }
                    &::after{
                        content: '';
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        position: absolute;
                        background-image: linear-gradient(90deg, #EF7A2B 0%, #E33C49 100%);
                        visibility: hidden;
                        opacity: 0;
                        transition: .3s linear;
                        z-index: -1;
                    }
                    &:hover{
                        a{
                            color: #FFFFFF;
                        }
                        &::after{
                        visibility: visible;
                        opacity: 1;
                        transition: .3s linear;
                        z-index: -1;
                        }
                        &::before{
                        visibility: hidden;
                        opacity: 0;
                        transition: .3s linear;
                        z-index: -1;
                        }
                    }
                }
            }
        }
    }
    .menu{
        .menu-item{
            &:last-child{
                @include sm{
                    padding-right: 100px;
                }
                @include xs{
                    padding-right: 115px;
                }
            }
        }
    }
    .menu-content{
        display: flex;
        width: 100%;
        @include sm{
            position: absolute;
            top: 100px;
            left: 0%;
            justify-content: center;
            align-items: center;
            .menu{
                .menu-item{
                    &:last-child{
                        padding-right: unset;
                    }
                }
            }
        }
    }
}

.menu-toggler--close{
    display: block;
}

.menu-toggler--open{
    display: none;
}

.menu__title{
    font-weight: 700;
    font-size: 30px;
    color: #FFFFFF;
    padding-bottom: 15px;
    @include xs{
        font-size: 20px;
    }
}







/* Home page links */
.home-menu{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 114px;
    @include sm{
        flex-direction: column;
        margin-bottom: 50px;
    }
}
.menu-link-wrap{
    padding: 0 29px;
    &:first-child{
        padding-left: unset;
    }   
    &:last-child{
        padding-right: unset;
    }
    @include sm{
        padding: unset;
        margin-bottom: 13px;
        &:last-child{
            margin-bottom: unset;
        }
    }
}
.menu-link{
    font-weight: 500;
    color: #BEBEBE;
    transition: .1s linear;
    &:hover{
        color: #FFFFFF;
        transition: .1s linear;
    }
}

.services-wrapper{
    width: 100%;
}

.our-services{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 60px;
    @include xs{
        margin-bottom: 40px;
    }
}

.services-wrap{
    width: 50%;
    padding: 14px;
    display: flex;
    &:nth-child(1){
        padding-top: unset;
        padding-left: unset;
    }
    &:nth-child(2){
        padding-top: unset;
        padding-right: unset;
    }
    &:nth-child(3){
        padding-bottom: unset;
        padding-left: unset;
    }
    &:nth-child(4){
        padding-bottom: unset;
        padding-right: unset;
    }
    @include xs{
        padding: 4px;
    }
}

.services-card{
    width: 100%;
    min-height: 170px;
    background: #FFFFFF;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.15);
    border-radius: 20px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    @include ex{
        padding: 15px;
    }
    @include sm{
        flex-direction: column;
        align-items: unset;
    }
}

.services-image{
    min-width: 110px;
    height: 100px;
    @include ex{
        height: 80px;
    }
}

.services-img{
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.services__title{
    font-weight: 600;
    font-size: 16px;
    color: rgba(0,0,0,0.70);
    line-height: 32px;
    @include xs{
        font-size: 14px;
        line-height: 30px;
    }
}

.services__subtitle{
    font-weight: 700;
    font-size: 30px;
    color: #0F1013;
    line-height: 32px;
    @include ex{
        font-size: 26px;
        line-height: 28px;
    }
    @include ss{
        font-size: 18px;
    }
}

.hamburger-content-wrap{
    @include xs{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
}

.hamburger-menu-links{
    padding-bottom: 90px;
    @include lg{
        padding-bottom: 60px;
    }
    @include xs{
        padding-bottom: 40px;
    }
}

.hamburger-menu-link{
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    float: left;
    padding-right: 80px;
    &:last-child{
        float: none;
        padding-right: unset;
    }
    @include xs{
        font-size: 18px;
    }
}

.hamburger-menu-text-wrap{
    display: inline-block;
    @include lg{
        order: 3;
    }
    @include xs{
        order: 3;
    }
}

.hamburger-reference{
    margin-bottom: 90px;
    @include xs{
        margin-bottom: 50px;
    }
}

.hamburger-blog{
    @include xs{
        margin-bottom: 50px;
    }
}

.hamburger-menu-text{
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    padding: 4px 0;
    @include xs{
        padding: 7px 0;
    }
}

.menu-contact-wrap{
    width: 100%;
    display: flex;
    padding-bottom: 20px;
    &:last-child{
        padding-bottom: unset;
        @include lg{
            margin-bottom: 50px;
        }
    }
    @include xs{
        padding-bottom: 10px;
    }
}

.menu-contact{
    height: 60px;
    background: #FFFFFF;
    border-radius: 29.5px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.menu-contact-text{
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    text-align: center;
    padding: 10px;
}

.icon-phone-menu{
    font-size: 40px;
    background-image: linear-gradient(0deg, #EF7A2B 0%, #E33C49 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-mail-menu{
    font-size: 30px;
    background-image: linear-gradient(0deg, #EF7A2B 0%, #E33C49 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}





.header-page-dark{
    .menu{
        color: #0F1013;
    }
    .menu-toggler::before{
        background-color: #000000;
    }
    .menu-toggler::after{
        background-color: #000000;
    }
}