.page-app {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.app-background {
    width: 100%;
    height: 100%;
    max-width: 1550px;
    background-position: top right;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0;
    right: -5px;
}

.title-mobile-app {
    font-weight: 700;
    font-size: 120px;
    line-height: 120px;
    color: #ffffff;
    width: 700px;
    padding-top: 60px;
    @include md {
        width: unset;
        font-size: 60px;
        line-height: 80px;
    }
    @include sm {
        padding-top: 80px;
        font-size: 30px;
        line-height: 32px;
    }
}

.subtitle-mobile-app {
    font-weight: 600;
    font-size: 24px;
    line-height: 52px;
    color: #ffffff;
}

.app-phones {
    width: 100%;
    height: 675px;
    position: relative;
    overflow: hidden;
    margin: 125px 0 170px 0;
    @include ex {
        height: 610px;
    }
    @include lg {
        height: 536px;
    }
    @include md {
        height: 480px;
    }
    @include sm {
        height: 395px;
        margin: 60px 0 60px 0;
    }
    @include xs {
        height: 344px;
    }
}

.app-phone {
    position: absolute;
    &:nth-child(1) {
        width: 334px;
        height: 675px;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
        @include ex {
            width: 300px;
            height: 610px;
        }
        @include lg {
            width: 265px;
            height: 536px;
        }
        @include md {
            width: 237px;
            height: 480px;
        }
        @include sm {
            width: 195px;
            height: 395px;
        }
        @include xs {
            width: 170px;
            height: 344px;
        }
        .app-phone-wrap {
            @include lg {
                padding: 12px;
            }
            @include md {
                padding: 10px;
                border-radius: 60px;
            }
            @include sm {
                padding: 8px;
                border-radius: 50px;
            }
            @include xs {
                border-radius: 40px;
            }
        }
    }

    &:nth-child(2) {
        width: 272px;
        height: 605px;
        top: 50%;
        left: 30%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 9;
        @include ex {
            width: 250px;
            height: 550px;
            left: 29%;
        }
        @include lg {
            width: 225px;
            height: 500px;
        }
        @include md {
            width: 200px;
            height: 445px;
            left: 26%;
        }
        @include sm {
            width: 162px;
            height: 360px;
            left: 30%;
        }
        @include xs {
            width: 140px;
            height: 310px;
            left: 22%;
        }
        .app-phone-wrap {
            transform: perspective(100px) rotateX(0deg) rotateZ(0deg) rotateY(1deg) translateX(10px);
            padding: 18px 17px;
            @include ex {
                padding: 14px;
            }
            @include lg {
                padding: 13px 11px;
                border-radius: 60px;
            }
            @include md {
                padding: 9px;
            }
            @include sm {
                border-radius: 35px;
                padding: 8px 4px;
            }
        }
    }

    &:nth-child(3) {
        width: 272px;
        height: 605px;
        top: 50%;
        right: 20%;
        transform: translateY(-50%);
        z-index: 9;
        @include ex {
            width: 250px;
            height: 550px;
            right: 18%;
        }
        @include lg {
            width: 225px;
            height: 500px;
            right: 17%;
        }
        @include md {
            width: 200px;
            height: 445px;
            right: 12%;
        }
        @include sm {
            width: 162px;
            height: 360px;
            right: 18%;
        }
        @include xs {
            width: 140px;
            height: 310px;
            right: 6%;
        }
        @include ss {
            right: 0;
        }
        .app-phone-wrap {
            transform: perspective(100px) rotateX(0deg) rotateZ(0deg) rotateY(-1deg) translateX(-10px);
            padding: 18px 17px;
            @include ex {
                padding: 14px;
            }
            @include lg {
                padding: 13px 11px;
                border-radius: 60px;
            }
            @include md {
                padding: 9px;
            }
            @include sm {
                border-radius: 35px;
                padding: 8px 4px;
            }
        }
    }

    &:nth-child(4) {
        width: 208px;
        height: 555px;
        top: 50%;
        left: 7%;
        transform: translateY(-50%);
        z-index: 8;
        @include ex {
            width: 190px;
            height: 505px;
            left: 5%;
        }
        @include lg {
            width: 175px;
            height: 468px;
            left: 2%;
        }
        @include md {
            width: 140px;
            height: 375px;
            left: 0;
        }
        @include sm {
            display: none;
        }
        .app-phone-wrap {
            transform: perspective(100px) rotateX(0deg) rotateZ(0deg) rotateY(1.7deg) translateX(10px);
            @include lg {
                border-radius: 60px;
            }
            @include md {
                border-radius: 45px;
                padding: 8px;
            }
        }
    }

    &:nth-child(5) {
        width: 208px;
        height: 555px;
        top: 50%;
        right: 7%;
        transform: translateY(-50%);
        z-index: 8;
        @include ex {
            width: 190px;
            height: 505px;
            right: 5%;
        }
        @include lg {
            width: 175px;
            height: 468px;
            right: 2%;
        }
        @include md {
            width: 140px;
            height: 375px;
            right: 0;
        }
        @include sm {
            display: none;
        }
        .app-phone-wrap {
            transform: perspective(100px) rotateX(0deg) rotateZ(0deg) rotateY(-1.7deg) translateX(-10px);
            @include lg {
                border-radius: 60px;
            }
            @include md {
                border-radius: 45px;
                padding: 8px;
            }
        }
    }
}

.app-phone--frame {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: 3;
}

.app-phone-wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 75px;
    position: relative;
    padding: 15px;
    z-index: 2;
}

.app-phone--content {
    width: 100%;
    height: 100%;
}

.app-intro {
    width: 100%;
    margin-bottom: 200px;
    @include sm {
        margin-bottom: 140px;
    }
}

.app-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 68px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
    @include sm {
        font-size: 42px;
        line-height: 48px;
    }
}

.app-text {
    font-weight: 700;
    font-size: 30px;
    line-height: 28px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 25px;
    @include sm {
        font-size: 24px;
    }
}

.smart-device-wrap {
    width: 100%;
    min-height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 35px 0;
}

.smart-device-image {
    width: 100%;
}

.smart-device {
    width: 100%;
    height: 100%;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: contain;
}




.app {
    display: flex;
    min-height: 100vh;
    height: 4000px;
    padding: 200px 0 150px 0;

    @include sm {
        height: auto;
        padding: 0;
    }
}

.app-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    min-height: 100vh;
}

.app-content--fixed {
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;

    @include sm {
        position: relative;
        top: unset;
    }
}

.app-content--absolute {
    .app-content--fixed {
        position: absolute;
        top: unset;
        bottom: 0;
        @include sm {
            position: relative;
            bottom: unset;
        }
    }
}

.app-point-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    width: 180px;
    min-width: 180px;
    // &::after{
    //     content: '';
    //     position: absolute;
    //     background-color: #F4F4F4;
    //     width: 4px;
    //     height: calc(100% - 80px);
    //     top: 40px;
    //     left: 13px;
    //     z-index: -3;
    // }
    // &::before{
    //     content: '';
    //     position: absolute;
    //     background: linear-gradient(0deg, #EF7A2B 0%, #E33C49 100%);
    //     width: 4px;
    //     height: 0;
    //     top: 40px;
    //     left: 13px;
    //     z-index: -2;
    // }
    @include lg {
        width: 42px;
        min-width: 42px;
    }
}

.progress {
    position: relative;

    @include sm {
        display: none;
    }
}

.progress-bar-wrap {
    position: absolute;
    background-color: #f4f4f4;
    width: 4px;
    height: calc(100% - 60px);
    top: 30px;
    left: 13px;
    z-index: -1;
    overflow: hidden;
}

.progress-bar {
    position: absolute;
    background: linear-gradient(0deg, #ef7a2b 0%, #e33c49 100%);
    width: 4px;
    height: 0px;
    top: 0px;
    left: 0px;
    z-index: -2;
}

.app-point-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    &:last-child {
        margin-bottom: unset;
    }
}

.app-point {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #f4f4f4;
    position: relative;
    float: left;
}

.app-point--active {
    transition: 0.2s linear;
    .app-point {
        background: linear-gradient(0deg, #ef7a2b 0%, #e33c49 100%);
        transition: 0.2s linear;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            top: 0px;
            left: 0px;
            z-index: -1;
            background: linear-gradient(0deg, #fbd8c0 0%, #f7c6c8 100%);
            transition: 0.2s linear;
        }
    }
}

.app-point--current {
    transition: 0.2s linear;
    .app-point {
        transition: 0.2s linear;
        &::before {
            transition: 0.2s linear;
            transform: scale(1.4);
        }
    }
    .app-menu-text {
        font-size: 24px;
        line-height: 29px;
        font-weight: 700;
        color: #000000;
        @include lg {
            font-size: 20px;
        }
    }
}

.app-menu-text {
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    padding-left: 30px;
    white-space: nowrap;
    @include lg {
        display: none;
    }
}

.app-menu-text--active {
    font-weight: 600;
}

.app-content-image {
    width: 100%;
    height: 80px;
    margin-bottom: 35px;
    @include lg {
        width: 80px;
        position: absolute;
    }
    @include sm {
        width: 50px;
        height: 50px;
    }
}

.app-content-img {
    width: 100%;
    height: 100%;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;
}

.app-content-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include sm {
    }
}

.app-content-text-wrap {
    // width: 40%;
}

.app-left {
    width: 100%;
    min-width: 535px;
    max-width: 535px;
    padding: 100px 100px 0 75px;
    position: absolute;
    @include lg {
        padding: 50px 65px 0 35px;
        min-width: 400px;
        max-width: 400px;
    }
    @include sm {
        position: relative;
        display: flex;
        flex-direction: column;
        min-width: unset;
        max-width: unset;
        padding-left: unset;
        padding-right: unset;
        margin-bottom: 50px;
    }
}

.app-right {
    width: 100%;
    max-width: 800px;
    min-height: 800px;
    position: relative;
}

.app-content-text-wrapper {
    display: flex;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s linear;
    @include sm {
        opacity: unset;
        visibility: unset;
    }
}

.app-content-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #0f1013;
    @include sm {
        // order: 3;
        margin-bottom: 20px;
    }
}

.app-content-text-wrapper--current {
    display: block;
    width: 535px;

    opacity: 1;
    visibility: visible;
    transition: 0.2s linear;
    @include lg {
        width: 400px;
    }
    @include sm {
        opacity: unset;
        visibility: unset;
        width: 100%;
    }
}

.app--small {
    display: none;
    @include sm {
        display: block;
        // order: 4;
    }
}

.app-content-images {
    @include sm {
        display: none;
    }
}

.app-frame-wrapper {
    position: relative;
    @include sm {
        display: flex;
        justify-content: center;
    }
}

.app-frame {
    width: 100%;
    min-width: 950px;
    min-height: 800px;

    background-position: top left;
    background-repeat: no-repeat;
    background-size: contain;

    position: relative;
    @include md {
        min-width: 650px;
        min-height: 550px;
    }
    @include sm {
        min-width: unset;
        width: 100%;
        max-width: 450px;
        min-height: 380px;
    }
    @include xs {
        max-width: 300px;
        min-height: 255px;
    }
}

.app-frame-content-wrap {
    position: absolute;
    top: 25px;
    left: 25px;
    width: calc(100% - 50px);
    height: 505px;
    z-index: -1;
    overflow: hidden;
    @include md {
        top: 17px;
        left: 17px;
        width: calc(100% - 40px);
        height: 347px;
    }
    @include sm {
        // top: 19px;
        // left: 19px;
        // width: calc(100% - 38px);
        // height: 394px;
        top: 12px;
        left: 12px;
        width: calc(100% - 24px);
        max-width: 450px;
        height: 240px;
    }
    @include xs {
        top: 7px;
        left: 7px;
        width: calc(100% - 14px);
        max-width: 450px;
        height: 162px;
    }
}

.app-frame-content {
    width: 100%;
    height: 100%;
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 100%;
    left: 0;
    transition: 0.3s linear;
    &:first-child {
        top: 0;
    }
}

.app-frame--prev {
    top: -100% !important;
}

.app-frame--current {
    top: 0;
}

.app-title-wrap {
    width: 100%;
    position: absolute;
    transform: rotate(-90deg) translateX(-5%);
    top: 50%;
    right: -210px;
    z-index: -1;
    white-space: nowrap;
    text-align: center;
    @include lg {
        position: relative;
        top: unset;
        right: unset;
        transform: unset;
        white-space: unset;
        text-align: left;
        z-index: unset;
    }
    @include sm {
        position: relative;
        top: unset;
        right: unset;
        transform: unset;
        // order: 2;
        margin-bottom: 20px;
    }
}

.app-content-title {
    font-weight: 700;
    font-size: 120px;
    line-height: 146px;
    color: #fafafa;
    @include lg {
        font-size: 42px;
        line-height: 48px;
        min-height: 80px;
        padding-left: 90px;
        display: flex;
        align-items: center;
        color: #000000;
    }
    @include sm {
        min-height: 50px;
        padding-left: 60px;
    }
}

.used-technology-content {
    margin-bottom: 180px;
}

.used-technology-wrapper {
    padding-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.used-technology-wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.used-technology {
    height: 50px;
    padding: 0 15px;
    margin-bottom: 15px;
    @include sm {
        height: 30px;
    }
}

.used-technology-image {
    width: 100%;
    height: 100%;
}

.used-technology-title {
    //     font-weight: 700;
    //     font-size: 60px;
    //     line-height: 73px;
    //     text-align: center;
    //     color: #FFFFFF;
    margin-bottom: 30px;
}

.used-technology-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #cdcdcd;
    max-width: 1150px;
    margin-bottom: 55px;
}

.used-technology-card {
    position: relative;
    top: 60px;
    width: 100%;
    max-width: 980px;
    background: #ffffff;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 60px 80px;
    @include sm {
        padding: 50px 40px;
    }
}

.used-technology-card-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 55px;
    @include sm {
        flex-direction: column;
    }
}

.used-technology-card-title {
    width: 50%;
    // font-weight: 700;
    // font-size: 56px;
    // line-height: 68px;
    // text-align: right;
    // color: #000000;
    padding-right: 20px;
    @include sm {
        width: 100%;
        padding-right: unset;
        text-align: left;
    }
}

.used-technology-card-text {
    width: 50%;
    font-weight: 500;
    font-size: 25px;
    line-height: 38px;
    color: #000000;
    padding-left: 20px;
    @include sm {
        width: 100%;
        padding-left: unset;
    }
}

.app-services {
    margin-bottom: 120px;
}

.services {
    padding-top: 85px;
    @include sm {
        padding: 85px 15px 0 15px;
    }
}
