// light version is on the bottom
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    font-size: 18px;
    font-weight: 500;
    z-index: 1000;
    overflow-y: scroll;

    &.scroll {
        background: $CUSTOM_BLACK;
        transition: 300ms all;
    }

    .nav-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: $navHeight;
        z-index: 2000;
    }

    a {
        font-size: 18px;
        font-weight: 500;
    }
}

.nav__logo {
    display: flex;
    align-items: center;

    svg {
        & > path,
        g path:not(:nth-child(1)) {
            fill: white;
        }
    }
}

.nav__right {
    display: flex;
    align-items: center;
    column-gap: 30px;

    @include lg {
        column-gap: 20px;
    }

    // .menu-navigace-container {
    //     @include sm {
    //         display: none;
    //     }
    // }

    // .menu {
    //     column-gap: 30px;

    //     @include lg {
    //         column-gap: 20px;
    //     }

    //     li {
    //         padding: 0;
    //         &:last-child {
    //             padding: 0;
    //         }

    //         a {
    //             display: flex;
    //             align-items: center;
    //             justify-content: center;
    //             width: 100%;
    //             height: 100%;
    //             text-align: center;
    //             // transition: 300ms color;
    //         }
    //     }
    // }
}

.nav-right__links {
    display: flex;

    @include sm {
        display: none;
    }

    a {
        color: white;

        &:first-child {
            margin-right: 20px;

            @include md {
                margin-right: 10px;
            }
        }
    }
}

.nav-right__toggler {
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: white;
    cursor: pointer;

    span {
        width: 55px;
    }

    &:hover {
        .nav-right-toggler__btn {
            &::before {
                left: 5px;
            }

            &::after {
                left: 0;
            }
        }
    }

    &.active {
        .nav-right-toggler__btn {
            &::before,
            &::after {
                top: 50%;
                left: 50%;
            }

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}

.nav-right-toggler__btn {
    position: relative;
    width: 40px;
    height: 30px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        width: 34px;
        height: 3px;
        background: white;
        transition: left 300ms, top 300ms, transform 300ms;
    }

    &::before {
        top: 9px;
        left: 0px;
    }

    &::after {
        bottom: 8px;
        left: 5px;
    }
}

// Expanded
.nav-expanded-title {
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 120%;
    font-weight: bold;
    color: white;

    @include lg {
        font-size: 28px;
    }

    @include md {
        font-size: 26px;
    }

    @include sm {
        font-size: 24px;
    }

    @include xs {
        font-size: 22px;
    }
}

.nav.expanded {
    position: fixed;
    top: 0;
    bottom: 0;
    background: $CUSTOM_BLACK;
    overflow-y: scroll;

    .nav__right {
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 170px;
            height: 45px;
            background: white;
            color: $CUSTOM_BLACK;
            border-radius: 8px;

            &:first-child {
                @include orange-gradient(270deg);
                color: white;
            }
        }
    }

    .nav-right__links {
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            padding: 10px 35px;
            border-radius: 8px;
            text-align: center;
            @include relative-z-index();

            &,
            span,
            p {
                position: relative;
                z-index: 30;
                font-weight: 500;
            }

            &:first-child {
                @include orange_gradient(270deg);
                color: white;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                    background: #b11331;
                    z-index: 10;
                    opacity: 0;
                    transition: 300ms all;
                }

                &:hover {
                    &::before {
                        opacity: 1;
                    }
                }
            }

            &:last-child {
                transition: 300ms color;
                background: white;
                color: $CUSTOM_BLACK;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                    background: #ef7a2b;
                    z-index: 10;
                    opacity: 0;
                    transition: 300ms all;
                }

                &:hover {
                    color: white;

                    &::before {
                        opacity: 1;
                    }
                }

                // &:hover {
                //     background: #ef7a2b;
                // }
            }
        }
    }

    .nav-expanded {
        display: block;
    }
}

.nav-expanded {
    display: none;
    width: 100vw;
    // min-height: calc(100vh - $navHeight);
    height: auto;
    background: $CUSTOM_BLACK;
    color: white;
    overflow-y: scroll;
    z-index: 1000;

    a {
        color: white;

        &:hover {
            text-decoration: underline;
        }
    }

    .container {
        display: grid;
        grid-template-columns: 3fr 2fr;
        justify-content: space-between;
        column-gap: 5%;
        height: auto;
        padding-top: 20px;
        padding-bottom: 30px;
        overflow-y: scroll;

        @include lg {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

// Nav Expanded Left (NEL)
.nav-expanded__left {
}

// NEL Cards
.nel__cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    column-gap: 25px;
    row-gap: 25px;

    @include sm {
        column-gap: 15px;
        row-gap: 15px;
    }

    @include sm-fix {
        // grid-template-columns: repeat(1, 1fr);
        // row-gap: 20px;
    }
}

.nel-cards__item {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;

    @include sm-fix {
        padding-bottom: unset;
        height: auto;
    }
}

.nel-card-item-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 2fr 3fr;
    column-gap: 30px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 7% 10%;
    background: white;
    border-radius: 20px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

    @include fullHD {
        column-gap: 20px;
    }

    @include uw {
        padding: 5% 5%;
    }

    @include lg {
        column-gap: 7%;
    }

    @include sm-fix {
        position: static;
        grid-template-columns: 1fr;
        padding: 15px 15px;
    }
}

.nel-cards-item__img {
    width: 100%;
    display: flex;
    align-items: center;

    @include sm-fix {
        justify-content: center;
        width: auto;
        height: 25vw;
    }

    svg,
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.nel-cards-item__right {
    padding-top: 20px;
    font-weight: bold;

    @include uw {
        padding-top: 15px;
    }

    @include lg {
        padding-top: 15%;
    }

    @include sm {
        padding-top: 10%;
    }
}

.nel-cards-item-right-smaller {
    font-size: 16px;
    line-height: 115%;
    color: rgba(0, 0, 0, 0.7);
}

.nel-cards-item-right-bigger {
    font-size: 30px;
    line-height: 105%;
    color: $CUSTOM_BLACK;

    @include lg {
        font-size: 28px;
    }

    @include md {
        font-size: 26px;
    }

    @include sm {
        font-size: 24px;
    }

    @include xs {
        font-size: 22px;
    }
}

// NEL Contact
.nel__contact {
    margin-top: 60px;
}

.nel-contact__cards {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

// Nav Expanded Right (NER)
.nav-expanded__right {
    margin-top: 50px;

    @include md {
        margin-top: 40px;
    }

    @include sm {
        margin-top: 35px;
    }

    @include xs {
        margin-top: 30px;
    }

    a {
        display: block;
        width: fit-content;
    }
}

.peko-links-container {
    &.desktop {
        @include lg {
            display: none;
        }
    }

    &.mobile {
        display: none;
        margin-bottom: 30px;

        @include lg {
            display: block;
        }
    }
}

// NER Links
.ner__links {
    display: flex;
    justify-content: space-between;
    max-width: 400px;

    @include sm {
        max-width: unset;
        flex-direction: column;
        row-gap: 7px;
    }

    a {
        font-size: 30px;
        line-height: 120%;
        font-weight: 500;
        transition: 300ms all;

        &:hover {
            text-decoration: unset;
            color: rgba(239, 90, 68, 1);
        }

        @include lg {
            font-size: 26px;
        }

        @include md {
            font-size: 24px;
        }

        @include sm {
            font-size: 20px;
        }

        @include xs {
            font-size: 18px;
        }

        &:nth-child(4),
        &:nth-child(5) {
            display: none;

            @include sm {
                display: block;
            }
        }
    }
}

// NER Reference & Blog Links
.ner__reference {
    @include lg {
        margin-top: 0 !important;
    }
}

.ner__reference,
.ner__blog {
    margin-top: 70px;

    @include lg {
        margin-top: 50px;
    }

    @include md {
        margin-top: 40px;
    }

    @include sm {
        margin-top: 35px;
    }

    @include xs {
        margin-top: 30px;
    }
}

.ner-reference__links,
.ner-blog__links {
    display: flex;
    flex-direction: column;
    row-gap: 7px;

    a {
        font-size: 20px;
        line-height: 26px;
        font-weight: 500;
    }
}

.ner__reference {
}

.ner-reference__links {
    a {
    }
}

.ner__blog {
}

.ner-blog__links {
    a {
    }
}

// nav light
.nav.light {
    &:not(.scroll):not(.expanded) {
        .nav__logo {
            svg {
                & > path,
                g path:not(:nth-child(1)) {
                    fill: $CUSTOM_BLACK;
                }
            }
        }

        .nav-right__links {
            a {
                color: $CUSTOM_BLACK;
            }
        }

        .nav-right__toggler {
            color: $CUSTOM_BLACK;
        }

        .nav-right-toggler__btn {
            &::before,
            &::after {
                background: $CUSTOM_BLACK;
            }
        }
    }
}
