.platform svg{
  fill:$color-white;
  width: 25px;
  height: 28px;
  vertical-align: bottom;
}
.platform{
  color: $color-white;
  opacity:0.8;
  font-size: 17px;
}
.platform-title{
  margin-right: 20px;
  margin-left: 20px;
  @include md{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 15px;
  }
  @include sm{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 17px;
  }
  @media (max-width: 450px) {
    margin: 0px 5px;
  }
  @media (max-width: 380px) {
    font-size: 15px;
  }
  @media (max-width: 345px) {
    font-size: 13px;
  }
}

.web-svg svg{
  width: 33px!important;
  height: 24px!important;
}

.dark-svg svg{
  fill:$color-grey-dark;
}
.dark-svg .platform-title{
  color:$color-grey-dark;
}



.active-filter{
  color: $color-black;
}