.popups {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    row-gap: 15px;
    z-index: 150;

    @include md {
        right: 20px;
        bottom: 20px;
    }

    @include sm {
        display: none;
    }

    // @include xs {
    //     right: 15px;
    //     bottom: 15px;
    // }
}

.cookies {
    position: fixed;
    bottom: 30px;
    left: 30px;
    z-index: 150;

    @include md {
        left: 20px;
        bottom: 20px;
    }

    @include xs {
        left: 15px;
        bottom: 15px;
    }
}

.newpopup {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;

    @include sm {
        width: 50px;
        height: 50px;
    }

    @include xs {
        width: 45px;
        height: 45px;
    }

    &:hover {
        .newpopup__content {
            max-width: 300px;
        }
    }

    // shake animation
    &.newpopup--phone:hover,
    &.newpopup--email:hover {
        .newpopup__icon {
            svg {
                animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
                transform: translate3d(0, 0, 0);
                backface-visibility: hidden;
                perspective: 1000px;

                @keyframes shake {
                    10%,
                    90% {
                        transform: translate3d(-1px, 0, 0);
                    }

                    20%,
                    80% {
                        transform: translate3d(1px, 0, 0);
                    }

                    30%,
                    50%,
                    70% {
                        transform: translate3d(-2px, 0, 0);
                    }

                    40%,
                    60% {
                        transform: translate3d(2px, 0, 0);
                    }
                }
            }
        }
    }
}

.newpopup__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    max-width: 60px;
    height: 100%;
    z-index: 20;
    background: white;
    border-radius: 30px;

    @include sm {
        min-width: 50px;
        max-width: 50px;
    }

    @include xs {
        min-width: 45px;
        max-width: 45px;
    }

    svg,
    img {
        width: 60%;
        height: 60%;
    }
}

.newpopup__content {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%) translateZ(0);
    display: flex;
    align-items: center;
    max-width: 60px;
    height: 60px;
    background: white;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.1));
    z-index: 10;
    white-space: nowrap;
    overflow: hidden;
    transition: 300ms max-width;
    box-sizing: border-box;

    @include sm {
        max-width: 50px;
        height: 50px;
    }

    @include xs {
        max-width: 45px;
        height: 45px;
    }

    p {
        padding-left: 20px;
        padding-right: 60px;
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        color: $CUSTOM_BLACK;

        @include sm {
            font-size: 16px;
        }

        span.popup-orange {
            @include orange-gradient(0deg);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

// cookies popup
.newpopup--cookies {
    cursor: pointer;

    &:hover {
        .newpopup__icon {
            svg {
                &:first-child {
                    display: block;
                }
                &:nth-child(2) {
                    display: none;
                }
            }
        }

        .newpopup__content {
            p {
                padding-right: 15px;
            }
        }
    }

    .newpopup__icon {
        // background: none;
        background: rgba(234, 90, 58, 1);

        svg {
            &:first-child {
                display: none;
            }
        }
    }

    .newpopup__content {
        justify-content: flex-end;
        right: unset;
        left: 0;
        // @include orange-gradient(270deg);
        background: rgba(234, 90, 58, 1);

        p {
            padding-left: 60px;
            padding-right: 75px;
            color: white;
            transition: 100ms padding-right;

            @include sm {
                padding-left: 50px;
            }

            @include xs {
                padding-left: 45px;
            }
        }
    }
}

// Cookies
.cookies-options {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 200;
    border-radius: 30px;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 300ms all;

    &.active {
        visibility: visible;
        opacity: 1;
        pointer-events: all;
    }

    &::after {
        content: "";
        position: fixed;
        left: 50%;
        bottom: -30px;
        transform: translateX(-50%);
        width: 100vw;
        height: 300px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, black 100%);
        opacity: 0.5;
        // background: black;
        z-index: -1;
    }
}

.cookies-options-top,
.cookies-options-content {
    padding-left: 85px;
    padding-right: 40px;

    @include ex {
        padding-left: 80px;
        padding-right: 35px;
    }

    @include lg {
        padding-left: 75px;
        padding-right: 30px;
    }

    @include md {
        padding-left: 70px;
    }

    @include sm {
        padding-left: 65px;
        padding-right: 25px;
    }

    @include xs {
        padding-left: 60px;
        padding-right: 20px;
    }
}

.cookies-options-content {
    @include md {
        padding-left: 30px !important;
    }

    @include sm {
        padding-left: 25px !important;
    }
    @include xs {
        padding-left: 20px !important;
    }
}

.cookies-options-top {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 60px;
    max-height: 60px;
    border-radius: 30px 30px 0 0;
    @include orange-gradient(270deg);

    @include ex {
    }

    @include lg {
    }

    &,
    p {
        color: white;
    }
}

.cookie-icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    width: 36px;
    height: 36px;

    @include md {
        width: 32px;
        height: 32px;
    }

    @include xs {
        width: 28px;
        height: 28px;
    }

    svg {
        width: 100%;
        height: 100%;

        path {
            fill: white;
        }
    }
}

.cookie-top-text {
    font-size: 20px;
    line-height: 120%;

    @include md {
        font-size: 18px;
    }

    @include xs {
        font-size: 16px;
    }
}

.cookies-options-content {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 35px;
    background: white;
    border-radius: 0 0 30px 30px;

    @include md {
        flex-direction: column;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    @include sm {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    @include xs {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.cookies-content-left {
    margin-right: 20px;

    @include md {
        margin-bottom: 20px;
    }

    p {
        line-height: 120%;

        &:first-child {
            font-size: 16px;
            font-weight: 500;
        }

        &:last-child {
            margin-top: 25px;
            font-size: 14px;
            color: #bebebe;
            font-weight: 500;

            @include xs {
                margin-top: 20px;
            }
        }
    }
}

.cookies-content-right,
.modal-actions {
    display: flex;
    align-self: flex-end;

    .button {
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;

        &,
        p {
            font-weight: 500;
        }

        &:first-child {
            width: 170px;
            margin-right: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        &:last-child {
            width: 150px;
        }
    }
}

.cookies-content-right {
    @include xs {
        width: 100%;

        .button {
            width: 50% !important;
        }
    }

    @include xs-fix {
        flex-direction: column;
        align-items: flex-end;

        .button {
            width: 100% !important;

            &:first-child {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
}

.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0s, visibility 500ms, opacity 500ms;
    opacity: 0;
    visibility: hidden;
    z-index: 9999;

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 800px;
    max-width: 90vw;
    min-height: 700px;
    max-height: 90vh;
    background: white;
    pointer-events: initial;
    opacity: 0;
    visibility: hidden;
    transition: 500ms all;
    transform: translate(-50%, -50%) scale(0, 0);
    transform-origin: center;
    border-radius: 30px;
    overflow-y: auto;
    box-sizing: border-box;

    @include md {
        min-height: 600px;
    }

    @include sm {
        min-height: 550px;
    }

    &.active {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -50%) scale(1, 1);
    }
}

.modal-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 35px 60px 35px 80px;

    @include md {
        padding: 30px 50px 30px 70px;
    }

    @include sm {
        padding: 30px;
    }

    @include sm-fix {
        padding: 20px;
    }

    // @include md {
    //     padding: 30px 50px 30px 70px;
    // }
}

.modal-first-p {
    font-weight: 500;
}

.modal-options {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 30px;
}

.modal-option-item {
    margin-bottom: 20px;
    background: white;
    border-radius: 10px;

    &:first-child {
        .moit-button {
            cursor: default;
        }
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.expanded {
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

        .moit-arrow {
            svg {
                transform: rotate(0);
            }
        }

        .modal-option-item-text {
            visibility: visible;
            opacity: 1;
            height: auto;
        }
    }

    &.active {
        .moit-button {
            .moit-button-toggler {
                left: calc(100% - 20px);
                // right: 0;

                @include xs {
                    left: calc(100% - 15px);
                }

                &::after {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}

.modal-option-item-top,
.modal-option-item-text {
    padding-left: 25px;
    padding-right: 20px;

    @include xs {
        padding-left: 15px;
        padding-right: 10px;
    }
}

.modal-option-item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background: #efefef;
    border-radius: 10px;

    @include xs {
        height: auto;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}

.moit-left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.moit-arrow {
    min-width: 15px;
    max-width: 15px;
    margin-right: 15px;

    @include xs {
        margin-right: 10px;
    }

    svg {
        width: 100%;
        height: auto;
        transform: rotate(180deg);
        transition: 300ms all;
    }
}

.moit-text {
    font-weight: 500;

    @include xs {
        font-size: 14px;
    }
}

.moit-button {
    position: relative;
    min-width: 40px;
    max-width: 40px;
    height: 20px;
    background: #f4f4f4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 100px;
    cursor: pointer;

    @include xs {
        min-width: 30px;
        max-width: 30px;
        height: 15px;
    }

    .moit-button-toggler {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #acacac;
        transition: 300ms all;

        @include xs {
            width: 15px;
            height: 15px;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 100%;
            height: 100%;
            border-radius: 50%;
            @include orange-gradient(270deg);
            visibility: hidden;
            opacity: 0;
            transition: 300ms all;
        }
    }
}

.modal-option-item-text {
    height: 0;
    visibility: hidden;
    opacity: 0;
    transition: 300ms all;

    &,
    p {
        font-size: 12px;
        line-height: 160%;
    }

    p {
        padding-top: 15px;
        padding-bottom: 20px;
    }
}

.modal-bottom {
    margin-top: auto;
}

.modal-bottom-text {
    margin-bottom: 20px;
    font-style: 14px;
    line-height: 120%;
    font-weight: 500;
    color: #bebebe;

    a {
        text-decoration: underline;
        transition: 300ms all;

        &:hover {
            color: #aaa;
        }
    }

    &:last-child {
        margin-bottom: 30px;
    }
}

.modal-actions {
    display: flex;
    justify-content: flex-end;

    @include xs {
        width: 100%;
        justify-content: space-between;

        .button {
            width: 50% !important;

            &:first-child {
                margin-right: 15px;
            }
        }
    }

    @include xs-fix {
        flex-direction: column;

        .button {
            width: 100% !important;

            &:first-child {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }
}

.newpopup--cookies,
.cookies-options,
.cookies-modal {
    display: none;
}
