.reference-images-wrap {
    margin-top: 100px;

    @include lg {
        margin-top: 50px;
        margin-bottom: 20px;
    }
}

.reference-images {
    width: 100%;
    position: relative;
    transform: rotate(13deg);
    @include lg {
        transform: unset;
    }
}

.reference-images-full {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;

    @include md {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    @include ss {
        // overflow: hidden;
    }
}

.reference-images-half {
    width: 100%;
    height: 100%;
    min-height: 900px;
    position: relative;
    display: inline-block;

    @include ex {
        min-height: 800px;
    }

    @include ss {
        min-height: 600px;
    }
    &:first-child {
        max-width: 410px;
        @include ex {
            max-width: 350px;
        }
        @include lg {
            max-width: 300px;
        }
        @include md {
            width: 60%;
        }
        @include sm {
            width: 37%;
        }
    }

    &:last-child {
        max-width: 850px;
        @include ex {
            max-width: 815px;
        }
        @include lg {
            max-width: 650px;
        }
        @include md {
            width: 40%;
        }
        @include sm {
            width: 63%;
        }
    }
}

.reference-images-phone {
    width: 140px;
    height: 280px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;

    right: 0;
    z-index: 10;
    @include ex {
        width: 125px;
        height: 250px;
    }
    @include xs {
        width: 110px;
        height: 225px;
    }
    @include ss {
        width: 85px;
        height: 172px;
    }
}

.reference-images-phone-wrap {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 5;
    &::before {
        content: "";
        position: absolute;
        bottom: 7px;
        left: 50%;
        transform: translate(-50%);
        width: 36%;
        height: 1px;
        background-color: #2a2b2a;
        z-index: 5;
        border-radius: 10px;
    }
}

.reference-img-phone-frame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    // box-shadow: -14px 10px 25px -5px #e8e8e8;
}

.reference-img-phone-frame--content {
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    position: absolute;
    top: 6px;
    left: 6px;
    z-index: 1;
    border-radius: 10px;
    padding: 5px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15) !important;

    // box-shadow: 0 5px 35px -5px #686868;
    // box-shadow: -34px 10px 35px 15px #E8E8E8 ;
}

.reference-images-desktop {
    width: 390px;
    height: 319px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: -20px;
    top: -18px;
    z-index: 20;
    @include ex {
        width: 350px;
        height: 290px;
    }
    @include xs {
        width: 300px;
        height: 240px;
    }
    @include ss {
        width: 215px;
        height: 175px;
        top: 0;
        left: 0;
    }
}

.reference-img-desktop-wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.reference-img-desktop-frame {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.reference-img-desktop-frame--content-wrap {
    width: 338px;
    height: 114px;
    position: absolute;
    top: -186px;
    left: -7px;
    z-index: 1;
    transform: perspective(31px) rotateX(-1.8deg) rotateY(0.06deg) translateY(200px);
    overflow: hidden;
    @include ex {
        width: 305px;
        height: 105px;
        left: -8px;
    }
    @include xs {
        width: 260px;
        height: 88px;
        left: -9px;
        top: -189px;
    }
    @include ss {
        width: 188px;
        height: 66px;
        left: 6px;
        top: -169px;
    }
}

.reference-img-desktop-frame--content {
    width: 100%;
    height: 100%;
}

.reference-images-wrapper {
    width: 100%;
    height: 100%;
    .reference-img-phone--content {
        top: 4px;
        right: 7px;
        @include lg {
            &:last-child {
                display: none;
            }
        }
        @include md {
            &:nth-child(6) {
                display: none;
            }
        }
        @include sm {
            &:nth-child(4) {
                display: none;
            }
            &:nth-child(5) {
                display: none;
            }
        }
        @include xs {
            top: 5px;
            right: 5px;
        }
        @include ss {
            top: 4px;
            right: 3px;
        }
    }
    .reference-img-desktop--content {
        width: 100%;
        max-width: 340px;
        height: 116px;
        top: -187px;
        left: -8px;
        z-index: 1;
        transform: perspective(31px) rotateX(-1.8deg) rotateY(0.06deg) translateY(200px);
        @include ex {
            max-width: 305px;
            height: 105px;
        }
        @include ss {
            max-width: 188px;
            height: 64px;
            top: -169px;
            left: 6px;
        }
        &:nth-child(2) {
            z-index: 16;
        }
        &:nth-child(3) {
            z-index: 15;
        }
        &:nth-child(4) {
            z-index: 14;
        }
        &:nth-child(5) {
            z-index: 13;
            @include md {
                display: none;
            }
        }
        &:nth-child(6) {
            z-index: 12;
            @include md {
                display: none;
            }
        }
        &:nth-child(7) {
            z-index: 11;
        }
        @include lg {
            &:last-child {
                display: none;
            }
        }
    }
}

.reference-img-phone--content {
    width: 100%;
    max-width: 127px;
    height: 100%;
    max-height: 270px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d7d7d7;
    border-radius: 12px;
    transition: 0.3s linear;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

    @include sm {
        transition: unset;
    }

    @include ex {
        max-width: 113px;
        max-height: 242px;
    }
    @include xs {
        max-width: 101px;
        max-height: 215px;
    }
    @include ss {
        max-width: 78px;
        max-height: 166px;
    }

    &:nth-child(2) {
        // top: 300px;
        // right: 13px;
        z-index: 9;
    }
    &:nth-child(3) {
        // top: 300px;
        // right: 13px;
        z-index: 8;
    }
    &:nth-child(4) {
        // top: 145px;
        // right: 155px;
        z-index: 7;
    }
    &:nth-child(5) {
        // top: 425px;
        // right: 155px;
        z-index: 6;
    }
    &:nth-child(6) {
        // top: 315px;
        // right: 295px;
        z-index: 5;
    }
    &:nth-child(7) {
        // top: 580px;
        // right: 13px;
        // z-index: 6;
        z-index: 4;
    }
}

.reference-img-phone--content-anim {
    transition: 0.3s linear;

    @include sm {
        transition: unset;
    }

    .reference-img-phone--content {
        //  box-shadow: unset;

        @include sm {
            animation-duration: 0ms !important;
            animation-delay: 0ms !important;
        }

        &:nth-child(2) {
            // top: 300px;
            // right: 13px;
            z-index: 9;
            animation-name: phone1;
            animation-duration: 400ms;
            animation-fill-mode: forwards;
        }
        &:nth-child(3) {
            // top: 145px;
            // right: 155px;
            z-index: 8;
            animation-name: phone2;
            animation-duration: 400ms;
            animation-fill-mode: forwards;
            animation-delay: 200ms;
        }
        &:nth-child(4) {
            // top: 425px;
            // right: 155px;
            z-index: 7;
            animation-name: phone3;
            animation-duration: 400ms;
            animation-fill-mode: forwards;
            animation-delay: 400ms;
        }
        &:nth-child(5) {
            // top: 580px;
            // right: 13px;
            // z-index: 6;
            z-index: 5;
            animation-name: phone4;
            animation-duration: 400ms;
            animation-fill-mode: forwards;
            animation-delay: 800ms;
        }
        &:nth-child(6) {
            // top: 315px;
            // right: 295px;
            z-index: 6;
            animation-name: phone5;
            animation-duration: 400ms;
            animation-fill-mode: forwards;
            animation-delay: 600ms;
        }
    }
    .reference-img-desktop--content {
        @include sm {
            animation-duration: 0ms !important;
            animation-delay: 0ms !important;
        }
        // box-shadow: -34px 10px 35px 15px #e8e8e8;
        &:nth-child(2) {
            // top: 300px;
            // left: 0;
            z-index: 9;

            animation-name: desktop1;
            animation-duration: 400ms;
            animation-fill-mode: forwards;
            animation-delay: 200ms;
        }
        &:nth-child(3) {
            // top: 115px;
            // left: 325px;
            z-index: 8;

            animation-name: desktop2;
            animation-duration: 400ms;
            animation-fill-mode: forwards;
            animation-delay: 400ms;
        }
        &:nth-child(4) {
            // top: 300px;
            // left: 287px;
            z-index: 7;

            animation-name: desktop3;
            animation-duration: 400ms;
            animation-fill-mode: forwards;
            animation-delay: 600ms;
        }
        &:nth-child(5) {
            // top: 485px;
            // left: 45px;
            z-index: 6;

            animation-name: desktop4;
            animation-duration: 400ms;
            animation-fill-mode: forwards;
            animation-delay: 800ms;
        }
        &:nth-child(6) {
            // top: 300px;
            // left: 574px;
            z-index: 5;

            animation-name: desktop5;
            animation-duration: 400ms;
            animation-fill-mode: forwards;
            animation-delay: 1000ms;
        }
        &:nth-child(7) {
            // top: 485px;
            // left: 333px;
            z-index: 4;

            animation-name: desktop6;
            animation-duration: 400ms;
            animation-fill-mode: forwards;
            animation-delay: 1200ms;
        }
    }
}

.reference-img-desktop--content {
    width: 100%;
    max-width: 265px;
    height: 100%;
    max-height: 160px;
    position: absolute;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);

    // box-shadow: 0 10px 40px -11px #686868;

    transition: 0.3s linear;

    @include sm {
        transition: unset;
    }

    @include ex {
        max-height: 140px;
    }
    @include xs {
        max-height: 120px;
    }
    @include ss {
        max-height: 100px;
    }
}

.reference-img-desktop--content-img {
    width: 100%;
    height: 100%;
}

@keyframes phone1 {
    0% {
        top: 10px;
        right: 10px;
    }
    10% {
        z-index: 14;
    }
    90% {
        top: 290px;
        right: 13px;
    }
    100% {
        top: 300px;
        right: 13px; //box-shadow:-34px 10px 35px 15px #E8E8E8;
        box-shadow: -14px 10px 25px -5px #e8e8e8;

        // @include ex{
        //     top: 265px;
        //     right: 8px;
        // }
    }
}

@keyframes phone2 {
    0% {
        top: 10px;
        right: 10px;
    }
    10% {
        z-index: 13;
    }
    90% {
        top: 135px;
        right: 155px;
    }
    100% {
        top: 155px;
        right: 165px;
        box-shadow: -14px 10px 25px -5px #e8e8e8;

        // @include ex{
        //     top: 125px;
        //     right: 135px;
        // }
    }
}

@keyframes phone3 {
    0% {
        top: 10px;
        right: 10px;
    }
    10% {
        z-index: 12;
    }
    90% {
        top: 415px;
        right: 155px;
    }
    100% {
        top: 435px;
        right: 165px;
        box-shadow: -14px 10px 25px -5px #e8e8e8;

        // @include ex{
        //     top: 385px;
        //     right: 135px;
        // }
    }
}

@keyframes phone4 {
    0% {
        top: 10px;
        right: 10px;
    }
    10% {
        z-index: 10;
    }
    90% {
        top: 560px;
        right: 13px;
    }
    100% {
        top: 580px;
        right: 13px;
        box-shadow: -14px 10px 25px -5px #e8e8e8;

        // @include ex{
        //     top: 525px;
        //     right: 8px;
        // }
    }
}

@keyframes phone5 {
    0% {
        top: 10px;
        right: 10px;
    }
    10% {
        z-index: 11;
    }
    90% {
        top: 305px;
        right: 295px;
    }
    100% {
        top: 325px;
        right: 315px;
        box-shadow: -14px 10px 25px -5px #e8e8e8;

        // @include ex{
        //     top: 300px;
        //     right: 270px;
        // }
    }
}

@include ex {
    @keyframes phone1 {
        100% {
            top: 265px;
            right: 8px;
        }
    }

    @keyframes phone2 {
        100% {
            top: 125px;
            right: 135px;
        }
    }

    @keyframes phone3 {
        100% {
            top: 385px;
            right: 135px;
        }
    }

    @keyframes phone4 {
        100% {
            top: 525px;
            right: 8px;
        }
    }

    @keyframes phone5 {
        100% {
            top: 300px;
            right: 270px;
        }
    }
}

@include md {
    @keyframes phone2 {
        100% {
            top: 125px;
            right: 140px;
        }
    }
    @keyframes phone3 {
        100% {
            top: 525px;
            right: 8px;
        }
    }
    @keyframes phone4 {
        100% {
            top: 390px;
            right: 140px;
        }
    }
}

@include sm {
    @keyframes phone2 {
        100% {
            top: 520px;
            right: 8px;
        }
    }
}

@include xs-fix {
    @keyframes phone1 {
        100% {
            top: 195px;
            right: 4px;
        }
    }
    @keyframes phone2 {
        100% {
            top: 385px;
            right: 4px;
        }
    }
}

@keyframes desktop1 {
    0% {
        top: -187px;
        left: -8px;
    }
    10% {
        z-index: 35;
    }
    20% {
        transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
    }
    40% {
        //   transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
    }
    100% {
        height: 100%;
        width: 100%;
        max-width: 265px;
        top: 300px;
        left: 0;
        transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
        z-index: 35;
    }
}

@keyframes desktop2 {
    0% {
        top: -187px;
        left: -8px;
    }
    10% {
        z-index: 34;
    }
    20% {
        transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
    }
    40% {
        // transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
    }
    100% {
        height: 100%;
        width: 100%;
        max-width: 265px;
        top: 115px;
        left: 325px;
        transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
        z-index: 34;
    }
}

@keyframes desktop3 {
    0% {
        top: -187px;
        left: -8px;
    }
    10% {
        z-index: 33;
    }
    20% {
        transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
    }
    100% {
        height: 100%;
        width: 100%;
        max-width: 265px;
        top: 300px;
        left: 287px;
        transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
        z-index: 33;
    }
}

@keyframes desktop4 {
    0% {
        top: -187px;
        left: -8px;
    }
    10% {
        z-index: 32;
    }
    20% {
        transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
    }
    100% {
        height: 100%;
        width: 100%;
        max-width: 265px;
        top: 485px;
        left: 45px;
        transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
        z-index: 32;
    }
}

@keyframes desktop5 {
    0% {
        top: -187px;
        left: -8px;
    }
    10% {
        z-index: 30;
    }
    20% {
        transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
    }
    100% {
        height: 100%;
        width: 100%;
        max-width: 265px;
        top: 485px;
        left: 333px;
        transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
        z-index: 30;
    }
}

@keyframes desktop6 {
    0% {
        top: -187px;
        left: -8px;
    }
    10% {
        z-index: 31;
    }
    20% {
        transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
    }
    100% {
        height: 100%;
        width: 100%;
        max-width: 265px;
        top: 300px;
        left: 574px;
        transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
        z-index: 31;
    }
}

@include ex {
    @keyframes desktop1 {
        0% {
            top: -187px;
            left: -8px;
        }
        10% {
            z-index: 35;
        }
        20% {
            transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
        }
        40% {
            //   transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
        }
        100% {
            height: 100%;
            width: 100%;
            max-width: 250px;
            top: 275px;
            left: 0;
            transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
            z-index: 35;
        }
    }
    @keyframes desktop2 {
        0% {
            top: -187px;
            left: -8px;
        }
        10% {
            z-index: 34;
        }
        20% {
            transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
        }
        40% {
            // transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
        }
        100% {
            height: 100%;
            width: 100%;
            max-width: 250px;
            top: 115px;
            left: 285px;
            transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
            z-index: 34;
        }
    }
    @keyframes desktop3 {
        0% {
            top: -187px;
            left: -8px;
        }
        10% {
            z-index: 33;
        }
        20% {
            transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
        }
        100% {
            height: 100%;
            width: 100%;
            max-width: 250px;
            top: 275px;
            left: 265px;
            transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
            z-index: 33;
        }
    }
    @keyframes desktop4 {
        0% {
            top: -187px;
            left: -8px;
        }
        10% {
            z-index: 32;
        }
        20% {
            transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
        }
        100% {
            height: 100%;
            width: 100%;
            max-width: 250px;
            top: 430px;
            left: 35px;
            transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
            z-index: 32;
        }
    }
    @keyframes desktop5 {
        0% {
            top: -187px;
            left: -8px;
        }
        10% {
            z-index: 30;
        }
        20% {
            transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
        }
        100% {
            height: 100%;
            width: 100%;
            max-width: 250px;
            top: 430px;
            left: 300px;
            transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
            z-index: 30;
        }
    }
    @keyframes desktop6 {
        0% {
            top: -187px;
            left: -8px;
        }
        10% {
            z-index: 31;
        }
        20% {
            transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
        }
        100% {
            height: 100%;
            width: 100%;
            max-width: 250px;
            top: 275px;
            left: 530px;
            transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
            z-index: 31;
        }
    }
}

@include md {
    @keyframes desktop1 {
        0% {
            top: -187px;
            left: -8px;
        }
        10% {
            z-index: 35;
        }
        20% {
            transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
        }
        40% {
            //   transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
        }
        100% {
            height: 100%;
            width: 100%;
            max-width: 250px;
            top: 275px;
            left: 17px;
            transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
            z-index: 35;
        }
    }
    @keyframes desktop2 {
        0% {
            top: -187px;
            left: -8px;
        }
        10% {
            z-index: 34;
        }
        20% {
            transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
        }
        40% {
            // transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
        }
        100% {
            height: 100%;
            width: 100%;
            max-width: 250px;
            top: 435px;
            left: 17px;
            transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
            z-index: 34;
        }
    }
    @keyframes desktop3 {
        0% {
            top: -187px;
            left: -8px;
        }
        10% {
            z-index: 33;
        }
        20% {
            transform: perspective(31px) rotateX(0deg) rotateY(0.06deg) translateY(100px);
        }
        100% {
            height: 100%;
            width: 100%;
            max-width: 250px;
            top: 595px;
            left: 17px;
            transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
            z-index: 33;
        }
    }
}

@include xs {
    @keyframes desktop1 {
        100% {
            height: 100%;
            width: 100%;
            max-width: 200px;
            top: 275px;
            left: 17px;
            transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
            z-index: 35;
        }
    }
    @keyframes desktop2 {
        100% {
            height: 100%;
            width: 100%;
            max-width: 200px;
            top: 435px;
            left: 17px;
            transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
            z-index: 34;
        }
    }
    @keyframes desktop3 {
        100% {
            height: 100%;
            width: 100%;
            max-width: 200px;
            top: 595px;
            left: 17px;
            transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
            z-index: 33;
        }
    }
}

@include ss {
    @keyframes desktop1 {
        100% {
            height: 100%;
            width: 100%;
            max-width: 155px;
            top: 195px;
            left: 20px;
            transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
            z-index: 35;
        }
    }
    @keyframes desktop2 {
        100% {
            height: 100%;
            width: 100%;
            max-width: 155px;
            top: 315px;
            left: 20px;
            transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
            z-index: 35;
        }
    }
    @keyframes desktop3 {
        100% {
            height: 100%;
            width: 100%;
            max-width: 155px;
            top: 435px;
            left: 20px;
            transform: perspective(0px) rotateX(0deg) rotateY(0deg) translateY(0px);
            z-index: 35;
        }
    }
}
