.page--reference {
    .reviews-section {
        @include lg {
            margin-top: 80px;
        }

        @include sm-fix {
            margin-top: 60px;
        }
    }
}

.reference-detail-top {
    position: relative;
    padding-top: 100px;
    padding-bottom: 30px;
    margin-bottom: 60px;

    .container {
        position: relative;
    }

    &.fixedBar {
        padding-bottom: 94px; // 30px + 64px (bar height)

        @include sm {
            padding-bottom: 30px;
        }

        .reference-detail-bar {
            width: 100%;
            position: fixed;
            top: 90px; // navbar height (80px + margin)
            left: 50%;
            transform: translateX(-50%);

            @include sm {
                position: static;
                top: unset;
                left: unset;
                transform: unset;
            }
        }
    }

    @include lg {
        margin-bottom: 50px;
    }
    @include md {
        margin-bottom: 40px;
    }
    @include sm {
        margin-bottom: 30px;
    }
}

.reference-detail-top__logo {
    width: auto;
    height: 100%;
    position: absolute;
    top: 0;
    right: -50px;

    img {
        width: auto;
        height: 100%;
    }
}

.reference-detail-top__title {
    font-weight: 700;
    font-size: 180px;
    line-height: 180px;
    color: #ffffff;

    @include ex {
        font-size: 140px;
        line-height: 140px;
    }

    @include lg {
        font-size: 110px;
        line-height: 110px;
    }

    @include md {
        font-size: 70px;
        line-height: 70px;
    }

    @include sm {
        font-size: 30px;
        line-height: 30px;
    }
}

.reference-detail-top__subtitle {
    margin-bottom: 25px;
    font-weight: 600;
    font-size: 24px;
    color: #efefef;

    @include sm {
        font-size: 20px;
        line-height: 42px;
    }
}

.reference-detail-top__description {
    max-width: 600px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    line-height: 28px;
}

// Bar
.reference-detail-bar {
    position: relative;
    z-index: 300;

    .container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 64px;
        padding: 0 20px;
        background: $CUSTOM_BLACK;
        border-radius: 15px;

        @include sm {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 10px;
            height: auto;
            padding: 15px 15px;
        }

        @include xs {
            justify-content: center;
            row-gap: 15px;
        }
    }
}

// rdb = reference detail bar
.rdb__logo {
    display: flex;
    align-items: center;
    height: 65%;

    @include sm {
        position: absolute;
        top: 50%;
        left: 15px;
        transform: translateY(-50%);
    }

    @include xs {
        position: static;
        justify-content: center;
        max-height: 100px;
        transform: unset;
        margin: auto;
    }

    img {
        width: auto;
        height: 100%;
    }
}

.rdb__platforms {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    column-gap: 50px;

    @include lg {
        position: static;
        transform: unset;
        top: unset;
        left: unset;
    }

    @include md {
        column-gap: 30px;
    }

    @include sm {
        margin-left: auto;
    }

    @include xs {
        justify-content: center;
        margin-left: unset;
    }

    @include xs-fix {
        flex-direction: column;
        align-items: center;
        row-gap: 15px;
    }
}

.rdb-platforms__item {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.rdb-platforms-item__text {
    font-size: 14px;
    font-weight: 500;
    color: white;
}

.rdb__date {
    justify-self: start;
    font-size: 18px;
    font-weight: 600;
    color: white;

    @include sm {
        justify-self: unset;
        margin-left: auto;
    }

    @include xs {
        margin-left: unset;
        text-align: center;
    }
}

// Intro Section (Solutions & Interesting)
.reference-intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4%;

    @include ex {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
    }

    @include sm {
        row-gap: 30px;
    }
}

.reference-intro__left {
    padding-top: 60px;

    @include ex {
        padding-top: unset;
    }

    .wysiwyg {
        margin-top: 45px;

        @include sm {
            margin-top: 35px;
        }

        @include xs {
            margin-top: 25px;
        }
    }
}

.reference-intro__right {
    padding: 60px 70px;
    background: white;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 30px;

    @include sm {
        padding: 40px 45px;
    }

    @include xs {
        background: unset;
        box-shadow: unset;
        border-radius: unset;
        padding: 20px 25px;
        padding: unset;
    }
}

.reference-intro-right__list {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    margin-top: 50px;

    @include sm {
        margin-top: 40px;
        row-gap: 25px;
    }

    @include xs {
        margin-top: 25px;
        row-gap: 15px;
    }
}

// rirl = reference intro right list
.rirl__item {
}

.rirl-item__title {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
}

.rirl-item__text {
    margin-top: 5px;
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
}
// End Of Intro Section

// Animation Section

// End Of Animation Section

// Challenges Section
.challenges-section {
    padding: 80px 60px 100px 60px;
    border-radius: 30px;
    background: $CUSTOM_BLACK;
    color: white;

    @include md {
        padding: 60px 40px 70px 40px;
    }

    @include sm {
        padding: 50px 30px;
    }

    @include xs {
        padding: 30px 30px;
    }

    // @include sm-fix {
    //     padding: 40px 25px 50px 25px;
    // }

    @include xs {
        width: 100%;
        border-radius: unset;
    }

    .section-title {
        text-align: center;
    }
}

.challenges-section__list {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    margin-top: 70px;

    @include sm {
        margin-top: 50px;
    }

    @include sm-fix {
        margin-top: 40px;
    }
}

// csl = challenges section list
.csl__item {
    position: relative;
    padding-left: 55px;

    @include sm-fix {
        padding-left: 50px;
    }
}

.csl-item__checkbox {
    @include checkbox();
}

.csl-item__title {
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;

    @include sm {
        font-size: 28px;
        line-height: 34px;
    }

    @include xs {
        font-size: 24px;
        line-height: 28px;
    }
}

.csl-item__text {
    margin-top: 7px;
    font-weight: 500;
}

// End Of Challenges Section

// Animation Section
// End Of Animation Section
$reviewSectionContentOffset: 30px;

// Review Section
.review-section {
    margin-top: 120px;

    @include ex {
        margin-top: 100px;
    }

    @include lg {
        margin-top: 80px;
    }

    @include md {
        margin-top: 60px;
    }

    @include sm {
        margin-top: 45px;
    }

    @include xs {
        margin-top: 30px;
    }
}

.review-section__main {
    display: flex;
    justify-content: space-between;
    column-gap: 100px;
    margin-top: 55px;

    @include lg {
        margin-top: 45px;
    }

    @include md {
        flex-direction: column;
        row-gap: 30px;
        margin-top: 35px;
    }

    @include xs-fix {
        row-gap: 15px;
    }
}

.review-section-main__left {
    display: flex;
    column-gap: 25px;

    @include xs-fix {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }
}

// rsml = review section main left
.rsml__photo {
    min-width: 150px;
    max-width: 150px;
    height: 150px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.rsml__right {
    max-width: 200px;
    margin-top: $reviewSectionContentOffset;

    @include xs-fix {
        margin-top: unset;
    }
}

.rsml-right__name {
    font-size: 32px;
    font-weight: bold;
    line-height: 34px;

    @include xs-fix {
        text-align: center;
    }
}

.rsml-right__role {
    font-size: 22px;
    font-weight: 500;
    line-height: 34px;
    color: #a1a1aa;

    @include xs-fix {
        text-align: center;
    }
}

// rsmr = review section main right
.review-section-main__right {
    position: relative;
    max-width: 800px;
    padding-top: $reviewSectionContentOffset;

    @include md {
        max-width: unset;
        padding-top: unset;
    }
}

.rsmr__quotes {
    position: absolute;
    top: calc($reviewSectionContentOffset - 10px);
    right: calc(100% + 5px);
    height: 35px;

    @include md {
        display: none;
        // top: -35px;
        // right: 0;
    }

    svg {
        height: 35px;
    }
}

.rsmr__wysiwyg {
}
// End Of Review Section

// Technology Section
.reference-technology-section {
    margin-top: 130px;
    padding: 100px 60px;
    background: #0f1013;
    border-radius: 30px;

    @include ex {
        margin-top: 110px;
        padding: 80px 50px;
    }

    @include lg {
        margin-top: 90px;
        padding: 70px 40px;
    }

    @include md {
        margin-top: 70px;
        padding: 50px 30px;
    }

    @include sm {
        margin-top: 50px;
        padding: 40px 20px;
    }

    @include sm-fix {
        margin-top: 30px;
        padding: 30px 20px;
    }

    .section-title {
        text-align: center;
        color: white;
    }
}

// rts = reference technology section
.rts__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 50px;
    margin-top: 75px;

    @include ex {
        margin-top: 60px;
    }

    @include lg {
        margin-top: 50px;
    }

    @include md {
        margin-top: 40px;
        column-gap: 40px;
        row-gap: 40px;
    }

    @include sm {
        margin-top: 30px;
        row-gap: 30px;
        column-gap: 30px;
    }

    @include sm-fix {
        margin-top: 25px;
        row-gap: 25px;
        column-gap: 25px;
    }
}

.rts-list__item {
    height: 65px;

    @include ex {
        height: 60px;
    }

    @include lg {
        height: 55px;
    }

    @include md {
        height: 50px;
    }

    @include sm {
        height: 45px;
    }

    @include xs {
        height: 40px;
    }

    img {
        width: auto;
        height: 100%;
        opacity: 0;
    }
}
// End Of Technology Section

// old animation wrappers
.reference-content-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.reference-images-wrap {
    width: 100%;
    position: relative;
}

.reference-content-image {
    width: 100%;
    height: 900px;
    margin: 20px 0;
    @include ex {
        height: 750px;
    }
    @include lg {
        height: 650px;
    }
    @include md {
        height: 550px;
    }
    @include sm {
        height: 350px;
    }
}
