.reference-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    margin: 40px 0 60px 0;

    @include sm {
        margin: 25px 0 40px 0;
    }

    @include lg {
        grid-template-columns: repeat(1, 1fr);
    }
}

.reference-cards-more-btn {
    margin: auto;
    margin-top: 45px;
    width: 100%;
    max-width: 400px;
}

.reference-card {
    position: relative;
    background: #27abe3;
    border-radius: 40px;
    padding: 30px 40px;
    box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.15);
    transition: 500ms all;
    overflow: hidden;
    -webkit-mask-image: -webkit-radial-gradient(white, black); // fix safari overflow border-radius bug

    @include sm {
        padding: 25px 35px;
    }

    @include sm-fix {
        padding: 20px 30px;
    }

    &:hover {
        box-shadow: unset;

        .reference-card__bg {
            opacity: 0.4;
        }
    }
}

// Card Background
.reference-card__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
    transition: 500ms all;
    opacity: 1;

    img {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        object-fit: contain;
    }
}

// Card Detail
.reference-card__detail {
    position: absolute;
    top: 30px;
    right: 20px;
    display: flex;
    align-items: center;
    column-gap: -5px;
    z-index: 20;
}

.reference-card-detail__text {
    color: white;
    font-weight: 600;

    @include sm-fix {
        font-size: 14px;
    }
}

// Card Platform Icons
.reference-card__platforms {
    position: absolute;
    bottom: 20px;
    right: 200px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    z-index: 10;

    @include sm-fix {
        right: 170px;
    }

    @include xs {
        row-gap: 5px;
    }

    @include xs-fix {
        right: 115px;
        bottom: 10px;
    }

    &.hasDesktop {
        right: 245px;

        @include sm {
            right: 200px;
        }

        @include sm-fix {
            right: 170px;
        }

        @include xs {
            row-gap: 5px;
        }

        @include xs-fix {
            right: 115px;
            bottom: 10px;
        }
    }
}

.rcp__item {
    position: relative;
    min-width: 48px;
    max-width: 48px;
    height: 48px;
    border-radius: 10px;
    // background: rgba(0, 0, 0, 0.1);
    // overflow: hidden;

    @include xs {
        min-width: 40px;
        max-width: 40px;
        height: 40px;
    }

    &:hover {
        @include lg-reverse {
            .rcp-item__content {
                max-width: 150px;
            }
        }
    }

    &.ios {
        &:hover {
            @include lg-reverse {
                .rcp-item__content {
                    max-width: 110px;
                }
            }
        }
    }

    &.desktop {
        &:hover {
            @include lg-reverse {
                .rcp-item__content {
                    max-width: 130px;
                }
            }
        }
    }
}

.rcp-item__content {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    max-width: 48px;
    border-radius: 10px;
    transition: 300ms all;
    background: rgba(0, 0, 0, 0.1);
    overflow: hidden;

    @include xs {
        max-width: 40px;
    }
}

.rcp-item-content__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 48px;
    max-width: 48px;
    height: 48px;

    @include xs {
        min-width: 40px;
        max-width: 40px;
        height: 40px;
    }

    svg {
        width: 50%;
        height: 50%;
    }
}

.rcp-item-content__text {
    display: flex;
    align-items: center;
    padding-right: 15px;
    color: white;
}

// Card Content (Left Side)
.reference-card__logo {
    width: auto;
    height: 50px;
    margin-bottom: 36px;

    @include md {
        height: 45px;
    }

    @include xs {
        height: 40px;
    }

    img {
        width: auto;
        height: 100%;
    }
}

.reference-card__platform {
    min-height: 35px;
    max-height: 35px;
    font-weight: 600;
    font-size: 24px;
    line-height: 35px;
    color: white;
    opacity: 0.7;

    @include xs {
        min-height: 30px;
        max-height: 30px;
        line-height: 30px;
        font-weight: 600;
        font-size: 20px;
    }
}

.reference-card__title {
    max-width: 50%;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 56px;
    line-height: 100%;
    min-height: 112px;
    color: white;
    overflow-wrap: normal;

    @include ex {
        font-size: 52px;
        min-height: 104px;
    }

    @include lg {
        font-size: 48px;
        min-height: 96px;
    }

    @include sm {
        font-size: 44px;
        min-height: 88px;
    }

    @include sm-fix {
        margin-bottom: 20px;
    }

    @include xs {
        font-size: 32px;
        min-height: 64px;
    }
}

.reference-card__description {
    max-width: 50%;
    min-height: 112px;
    max-height: 112px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    line-height: 28px;

    @include sm-fix {
        min-height: 110px;
        max-height: 110px;
        font-size: 12px;
        line-height: 22px;
    }
}

// Card Content (Left Side)

// Platforms (TODO)
.cdw-platforms {
    position: absolute;
    left: 50px;
    bottom: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.cdw-platform-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: $CUSTOM_BLACK;
    opacity: 0.1;
    border-radius: 10px;

    svg,
    img {
        width: 36px;
        height: 36px;
    }
}

// ZALOHA

// .reference-cards {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//     row-gap: 20px;
//     column-gap: 20px;
//     margin: 40px 0 60px 0;

//     @include sm {
//         margin: 25px 0 40px 0;
//     }

//     @include lg {
//         grid-template-columns: repeat(1, 1fr);
//     }
// }

// .reference-cards-more-btn {
//     margin: auto;
//     margin-top: 45px;
//     width: 100%;
//     max-width: 400px;
// }

// .reference-card {
//     position: relative;
//     background: #27abe3;
//     border-radius: 40px;
//     padding: 30px 40px;
//     box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.15);
//     transition: 500ms all;
//     overflow: hidden;
//     -webkit-mask-image: -webkit-radial-gradient(white, black); // fix safari overflow border-radius bug

//     @include sm {
//         padding: 25px 35px;
//     }

//     @include sm-fix {
//         padding: 20px 30px;
//     }

//     &:hover {
//         box-shadow: unset;

//         .reference-card__bg {
//             opacity: 0.4;
//         }
//     }
// }

// // Card Background
// .reference-card__bg {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     z-index: 5;
//     transition: 500ms all;
//     opacity: 1;

//     img {
//         width: 90%;
//         height: 100%;
//         margin: 0 auto;
//         object-fit: contain;
//     }
// }

// // Card Detail
// .reference-card__detail {
//     position: absolute;
//     top: 30px;
//     right: 20px;
//     display: flex;
//     align-items: center;
//     column-gap: -5px;
//     z-index: 20;
// }

// .reference-card-detail__text {
//     color: white;
//     font-weight: 600;

//     @include sm-fix {
//         font-size: 14px;
//     }
// }

// // Card Platform Icons
// .reference-card__platforms {
//     position: absolute;
//     bottom: 20px;
//     right: 200px;
//     display: flex;
//     flex-direction: column;
//     row-gap: 10px;
//     z-index: 10;

//     @include sm-fix {
//         right: 170px;
//     }

//     @include xs {
//         row-gap: 5px;
//     }

//     @include xs-fix {
//         right: 115px;
//         bottom: 10px;
//     }

//     &.hasDesktop {
//         right: 245px;

//         @include sm {
//             right: 200px;
//         }

//         @include sm-fix {
//             right: 170px;
//         }

//         @include xs {
//             row-gap: 5px;
//         }

//         @include xs-fix {
//             right: 115px;
//             bottom: 10px;
//         }
//     }
// }

// .rcp__item {
//     position: relative;
//     min-width: 48px;
//     max-width: 48px;
//     height: 48px;
//     border-radius: 10px;
//     // background: rgba(0, 0, 0, 0.1);
//     // overflow: hidden;

//     @include xs {
//         min-width: 40px;
//         max-width: 40px;
//         height: 40px;
//     }

//     &:hover {
//         @include lg-reverse {
//             .rcp-item__content {
//                 max-width: 150px;
//             }
//         }
//     }

//     &.ios {
//         &:hover {
//             @include lg-reverse {
//                 .rcp-item__content {
//                     max-width: 110px;
//                 }
//             }
//         }
//     }

//     &.desktop {
//         &:hover {
//             @include lg-reverse {
//                 .rcp-item__content {
//                     max-width: 130px;
//                 }
//             }
//         }
//     }
// }

// .rcp-item__content {
//     position: absolute;
//     top: 0;
//     right: 0;
//     display: flex;
//     max-width: 48px;
//     border-radius: 10px;
//     transition: 300ms all;
//     background: rgba(0, 0, 0, 0.1);
//     overflow: hidden;

//     @include xs {
//         max-width: 40px;
//     }
// }

// .rcp-item-content__icon {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     min-width: 48px;
//     max-width: 48px;
//     height: 48px;

//     @include xs {
//         min-width: 40px;
//         max-width: 40px;
//         height: 40px;
//     }

//     svg {
//         width: 50%;
//         height: 50%;
//     }
// }

// .rcp-item-content__text {
//     display: flex;
//     align-items: center;
//     padding-right: 15px;
//     color: white;
// }

// // Card Content (Left Side)
// .reference-card__logo {
//     width: auto;
//     height: 60px;
//     margin-bottom: 36px;

//     @include sm-fix {
//         height: 50px;
//         // margin-bottom: 25px;
//     }

//     img {
//         width: auto;
//         height: 100%;
//     }
// }

// .reference-card__platform {
//     min-height: 35px;
//     max-height: 35px;
//     font-weight: 600;
//     font-size: 24px;
//     line-height: 35px;
//     color: white;
//     opacity: 0.7;

//     @include xs {
//         min-height: 30px;
//         max-height: 30px;
//         line-height: 30px;
//         font-weight: 600;
//         font-size: 20px;
//     }
// }

// .reference-card__title {
//     max-width: 50%;
//     padding-bottom: 35px;
//     font-weight: 700;
//     font-size: 56px;
//     line-height: 95%;
//     color: white;
//     overflow-wrap: normal;

//     @include ex {
//         font-size: 52px;
//     }

//     @include lg {
//         font-size: 48px;
//     }

//     @include sm {
//         font-size: 44px;
//     }

//     @include xs {
//         font-size: 32px;
//     }

//     @include sm-fix {
//         padding-bottom: 25px;
//         // font-size: 30px;
//         // line-height: 28px;
//     }
// }

// .reference-card__description {
//     max-width: 50%;
//     min-height: 112px;
//     max-height: 112px;
//     font-weight: 500;
//     font-size: 16px;
//     color: white;
//     line-height: 28px;

//     @include sm-fix {
//         min-height: 110px;
//         max-height: 110px;
//         font-size: 12px;
//         line-height: 22px;
//     }
// }

// // Card Content (Left Side)

// // Platforms (TODO)
// .cdw-platforms {
//     position: absolute;
//     left: 50px;
//     bottom: 30px;
//     display: flex;
//     flex-direction: column;
//     row-gap: 10px;
// }

// .cdw-platform-item {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 50px;
//     height: 50px;
//     background: $CUSTOM_BLACK;
//     opacity: 0.1;
//     border-radius: 10px;

//     svg,
//     img {
//         width: 36px;
//         height: 36px;
//     }
// }
