.reference-top {
    position: relative;
    background: $CUSTOM_BLACK;
    margin-bottom: 350px;

    @include lg {
        margin-bottom: 250px;
    }

    @include sm {
        margin-bottom: 230px;
    }
    // rounded part at the end
    &::before {
        content: "";
        position: absolute;
        top: calc(100% - 800px);
        left: 50%;
        transform: translateX(-50%);
        width: 150vw;
        height: 1000px;
        background: $CUSTOM_BLACK;
        // clip-path: ellipse(57% 44% at 50% 55%);
        border-radius: 100%;
        z-index: -1;

        @include ex {
            top: calc(100% - 850px);
        }

        @include lg {
            top: calc(100% - 600px);
            height: 700px;
        }

        @include sm {
            top: calc(100% - 400px);
            height: 500px;
        }

        @include sm-fix {
            width: 1200px;
        }
    }

    .reference-cards {
        @include relative-z-index();
    }
}

.reference-top__title {
    padding-top: 120px;
    @include relative-z-index();
}

.reference-top__subtitle {
    margin-top: 25px;
    font-size: 18px;
    font-weight: 500;
    color: #cdcdcd;
    text-align: center;
    @include relative-z-index();
}

.reference-top__categories {
    display: flex;
    justify-content: center;
    column-gap: 25px;
    margin-top: 70px;
    @include relative-z-index();

    @include md {
        margin-top: 60px;
    }

    @include sm {
        column-gap: 15px;
        margin-top: 50px;
    }

    @include xs {
        column-gap: 10px;
        margin-top: 40px;
    }

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 45px;
        background: #1b1b1d;
        color: white;
        font-weight: 500;
        border-radius: 8px;
        transition: 300ms all;

        @include md {
            width: 100px;
            height: 40px;
        }

        &:hover {
            background: $color-orange-dark;
        }

        &.active {
            @include orange-gradient(270deg);
        }
    }
}

.reference-top__bottom {
    position: relative;
    margin-top: 150px;
    margin-bottom: -50px;
    z-index: 30;

    @include lg {
        margin-top: 120px;
    }

    @include md {
        margin-top: 100px;
    }

    @include sm {
        margin-top: 80px;
    }

    @include xs {
        margin-top: 50px;
    }
}

.reference-top-bottom__text {
    text-align: center;
    color: white;
}

.reference-top-bottom-text__bigger {
    font-size: 60px;
    line-height: 100%;
    font-weight: bold;

    @include ex {
        font-size: 56px;
    }

    @include lg {
        font-size: 52px;
    }

    @include md {
        font-size: 48px;
    }

    @include sm {
        font-size: 44px;
    }

    @include xs {
        font-size: 40px;
    }
}

.reference-top-bottom-text__smaller {
    display: block;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;

    @include md {
        font-size: 22px;
    }

    @include sm {
        font-size: 20px;
    }

    @include xs {
        font-size: 18px;
    }
}

.reference-top-bottom__button {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 40px;
}

// Contact Section
.contact-section {
    margin-top: 170px;

    @include uw {
        margin-top: 150px;
    }

    @include ex {
        margin-top: 130px;
    }

    @include lg {
        margin-top: 100px;
    }

    @include md {
        margin-top: 80px;
    }

    @include sm {
        margin-top: 60px;
    }

    @include sm-fix {
        margin-top: 40px;
    }

    @include xs {
        margin-top: 30px;
    }

    .contact-form {
        margin: auto;
        margin-bottom: 0px;
    }
}

.contact-section__title {
    text-align: center;
}

.contact-section__cards {
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 20px;
    row-gap: 20px;
    max-width: 1000px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;

    @include lg {
        grid-template-columns: repeat(1, auto);
        justify-content: center;

        .contact-card {
            margin: auto;
        }
    }

    @include sm {
        margin-top: 40px;
    }

    @include sm-fix {
        margin-top: 30px;
    }
}
