.blog{

  padding-bottom: 20px;
  text-align: center;
position:relative;
}
.blog:before{
  position: absolute;
  height: 220px;
  background: $color-grey-light;
  width: 100%;
  content: "";
  left: 0px;
  right: 0px;
  z-index: -1;
}

.article-title{
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $color-red;
  text-decoration: underline;
}
.blog--card{
  text-align: center;
  padding-left: 35px;
  padding-right: 35px;
  @include sm{
    padding-left: 15px;
    padding-right: 15px;
  }
}
.blog--card__date{
  width: 50%;
  float: left;
}
.blog--card__signature{
  width: 50%;
  float: left;
}
.blog--card p{
  text-align: left;
  font-size: 15px;
  line-height: 26px;
  margin-top:20px;
}
.blog--card__date p{
  text-align: left;
  font-size: 17px;
}
.blog--card__signature p{
  text-align: right;
  font-size: 17px;
}
.blog--card__photo{
  max-width: 100%;
  max-height: 100%;
  margin-bottom: 18px;
}
.blog-img-wrap{
  height: 200px;
  width: 100%;
}


.hp--blog-button {
  background: $color-orange-dark;
  margin-top: 50px;

  }
.blog-title-wrap{
  height: 52px;
}
.hp--blog-button:hover {
    background: $color-orange;
  }
.blog a{
  color: $color-white;
  margin: 10px;
  text-decoration: none;
}
.blog--card__first{
  @include lg{
    width: 50%;
  }
  @include sm{
    width: 100%;
  }
}
.blog--card__second{
  @include lg{
    width: 50%;
  }
  @include sm{
    display:none;
  }
}
.blog--card__third{
  @include lg{
    display:none;
  }
}


