.detail-blog--photo{
  max-width:100%;
  max-height: 100%;
  padding: 30px;
  padding-top: 0px;
  @include lg{

    padding: 0px;
    margin-top: 35px;
  }
  @include sm{
    margin-top: 20px;
    max-height: 300px;
  }
  @include xs{
    max-height: 250px;
  }
}

.detail-blog--date p{
  color: $color-text-gray-light;
  font-size: 14px;
  @include sm{
    margin-top: 10px;
  }
}
.detail-blog--signature p{
  color: $color-text-gray-light;
  font-size: 14px;
  @include sm{
    margin-top: 10px;
  }
}
.blog-detail-page--gray{
  width: 73%;
  height: 150px;
  background: $color-grey-light;
  position: absolute;
  left: 0px;
  right: 0px;
  margin-left: auto;
  top: 630px;
  margin-right: auto;
  @media (max-width: 1800px){
  width: 85%;
}
  @media (max-width: 1600px){
    width: 95%;
  }
  @media (max-width: 1350px){
    width: 100%;
  }
  @include lg{
    width: 100%;
    top: 530px;
    height: 235px;
  }
  @include md{
    height: 190px;
  }
  @include sm{
    top: 420px;
    height: 300px;
  }
}
.blog-detail-page .detail-blog--p{
  margin-top: 20px;
}
.blog-detail-content{
  padding-left: 120px;
  padding-right: 120px;
  margin-top: 40px;
  @include lg{
    padding-left: 15px;
    padding-right: 15px;
  }
}
.blog-detail-content p{
  font-size: 16px;
  line-height: 30px;
  color: $color-text-gray;
  font-weight: 300;
  margin-bottom: 40px;
}
.blog-detail-content h3, .blog-detail-content h4, .blog-detail-content h5{

  margin-top: 40px;
}


.detail-blog--h2{
  @include lg{
    font-size: 28px;
  }
}
.blog--card a{
  margin: 0px;
}
.blog--p{
  height:80px;
}
.gray-p-blog {

  position: relative;
  float: left;
  margin-top: -115px;

  background: $color-grey-light;
  z-index: -1;
  width: 100%;
  padding: 0px 15px;
  padding-bottom: 15px;
  @include lg{
   margin-top: -205px;
  }
  @include md{
    margin-top: -150px;
  }
  @include sm{
    margin-top: 20px;
  }
}

.gray-p-blog:before{
  content:"";
  background: $color-grey-light;
  width: 100px;
  height: 100%;
  position: absolute;
left:0px;
  margin-left: -100px;
  @media (max-width: 1450px){
    margin-left: -50px;
    width: 50px;
  }
  @media (max-width: 1350px){
    margin-left: 0px;
    width: 0px;
  }
  @include lg{
    margin-left: -50px;
    width: 50px;
  }
  @media (max-width: 1100px){
    margin-left: 0px;
    width: 0px;
  }
  @include md{
    margin-left: -50px;
    width: 50px;
  }
  @media (max-width: 995px){
    margin-left: 0px;
    width: 0px;
  }
  @include sm{
    width: 100%;
    top: -250px;
    height: 250px;
  }
  @include xs{
    top: -150px;
    height: 150px;
  }

}
.gray-p-blog:after{
  content:"";
  background: $color-grey-light;
  width: 100px;
  height: 100%;
  position: absolute;
  margin-right: -100px;
  top: 0px;
  right: 0px;
  @media (max-width: 1450px){
    margin-right: -50px;
    width: 50px;
  }
  @media (max-width: 1350px){
    margin-right: 0px;
    width: 0px;

  }
  @media (max-width: 1199px){
    margin-right: -50px;
    width: 50px;
  }
  @media (min-width: 1200px) {

  }
  @media (max-width: 1100px){
    margin-right: 0px;
    width: 0px;
  }
  @include md{
    margin-right: -50px;
    width: 50px;
  }
  @media (max-width: 995px){
    margin-right: 0px;
    width: 0px;
  }

}

.detail-blog-h2-desktop{
  display: block;
  @include lg{
    display: none;
  }
}
.detail-blog-h2-phone{
  display: none;
  @include lg{
    display:block;
  }
 }


.date__desktop, .signature__desktop{
  display:block;
  @include sm{
    display: none;
  }
}
.date__phone, .signature__phone{
  display: none;
  @include sm{
  display: block;
  }
}
.detail-blog--p-wrap{
@include sm{
  background: $color-grey-light;
  padding-bottom: 20px;
}
}

.single-blog-img-wrap{
  height: 300px;
  text-align: center;
  @include sm{
    max-width: 500px;
    height: unset;
  }
}