.ref-detail-heading{
  background: $color-orange;
  text-align: center;
}
.ref-detail-heading-img{
  margin-bottom: -125px;
  max-height: 410px;
  max-width: 390px;
  @include lg{
    margin-bottom: -110px;
    max-height: 300px;
  }
  @include md{
    max-height: 250Px;
  }
}
.reference-detail-page h2{
  margin-top: 50px;
  margin-bottom: 10px;
  text-align: left;
  @include sm{
    text-align: center;
    margin-top: 0px;
  }
}
.ref-video-img{

  max-height: 410px;
  max-width: 390px;
  @include md{
    max-height: 280px;
  }
}


.ref-video-play:hover > .ref-video-img{
  filter: brightness(100%);
  transition: 0.2s;
}
.ref-video-wrap{
  width: 263px;
  margin-right: auto;
  position: relative;

  @include md{
    width:222px;
  }
  @include sm{
    margin-top: 0px;
    margin-left: auto;
    margin-right: 0px;
    width: 134px;
  }
}
.desktop-size .ref-video-wrap{
  width: 307px;
  @include lg{
    width: 285px;
  }
  @include md{
    width:219px;
  }
  @include sm{
    width: 164px;
  }
}
.android-size .ref-video-wrap{
  width: 274px;
  @include lg{
    width: 262px;
  }
  @include md{
    width:219px;
  }
  @include sm{
    width: 134px;
  }
}
.ref-video-play{
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path:polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  background: $color-orange;
  width: 70px;
cursor: pointer;
  transition: 0.2s;
  height: 78px;
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  @include md{
    width: 50px;
    height: 55px;
  }
}
.ref-video-play:hover{
  background: $color-orange-dark;
  transition: 0.2s;

}
.ref-video-text{
  width: fit-content;
  position: absolute;
  top: 50%;
  right: 92px;
  z-index: 99;
  font-size: 16px;
  color: white;
  text-align: center;
  transform: translateY(-50%);
  font-weight: bold;
  @include md{
    right: 65px;
    font-size: 12px;
  }

}

  .arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 15px solid white;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    @include md{
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
      border-left: 12px solid white;
    }
  }

.ref-button-web{
  background: $color-orange;

  padding: 15px 59px;
  @include sm{
    margin-left: 0px;
    margin-top: 7px;
    margin-bottom: 7px;

  }
  @media (max-width: 380px){
    padding: 10px 44px;
  }
}
.ref-button-web:hover{
  background: $color-orange-dark;
}



.ref-button-apple{
  background: $color-red;

  padding-right: 31px;
  padding-left: 31px;
  @include sm{
    margin-left: 0px;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  @media (max-width: 380px){
    padding: 10px 16px;
  }
}
.ref-button-apple:hover{
  background: $color-red-dark;
}
.ref-button-google{
  background: $color-orange-dark;

  @include sm{
    margin-right: 0px;
    margin-top: 7px;
    margin-bottom: 7px;
  }
  @media (max-width: 380px){
    padding: 10px 15px;
  }
}
.ref-button-google:hover{
  background: $color-orange;
}

.ref-button-apple, .ref-button-google, .ref-button-web{
  margin-top: 40px;
  @include sm{
    margin-top: 0px;


  }
}
.slick-img{
  max-height: 200px;
}
.platform__reference{
  @include lg{
    margin-top: -20px;
    margin-bottom: -20px;
  }
}

.ref-desktop-images{
  @include sm{
    display: none;
  }
}

.ref-phone-images{
  display: none;
  @include sm{
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.one-time .slick-img{
  margin-left: auto;
  margin-right: auto;
  max-height: 300px;
}
.one-time .slick-list{
  height: 300px!important;
}

.one-time .slick-arrow{
  display: block;
  top: unset;
  margin-top: 0px;
  bottom: -75px;
transition: 0.2s;
  width: 38px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  -webkit-clip-path:polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: block;
  background: $color-orange-dark;
  height: 42px;
}
.one-time .slick-arrow:hover{
  transition: 0.2s;
  opacity: 0.6;
}


.one-time .slick-prev{
  left: 43%;
  transform: translateY(-50%);
  @media (max-width: 650px){
    left: 42%;
  }
  @media (max-width: 550px){
    left: 41%;
  }
  @media (max-width: 480px){
    left: 40%;
  }
  @media (max-width: 440px){
    display:block!important;
    left: 39%;
  }
  @media (max-width: 400px){
    left: 38%;
  }
  @media (max-width: 350px){
    left: 36%;
  }
  @media (max-width: 310px){
    left: 34%;
  }
}
.one-time .slick-next{
  right: 43%;
  transform: translateY(-50%);

  @media (max-width: 650px){
    right: 42%;
  }
  @media (max-width: 550px){
    right: 41%;
  }
  @media (max-width: 480px){
    right: 40%;
  }
  @media (max-width: 440px){
    display:block!important;
    right: 39%;
  }
  @media (max-width: 400px){
    right: 38%;
  }
  @media (max-width: 350px){
    right: 36%;
  }
  @media (max-width: 310px){
    right: 34%;
  }
}


.one-time .slick-next:before, .one-time .slick-next:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 12px;
  height: 2px;
  background: white;
}
.one-time .slick-next:before {
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  top: 16px;
}
.one-time .slick-next:after {
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  bottom: 16px;
}

.ref-buttons-align{
  text-align: center;
}

.ref-buttons-novideo{
  height: 100px;
}

.one-time .slick-prev:before, .one-time .slick-prev:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 12px;
  height: 2px;
  background: white;
}
.one-time .slick-prev:before {
  right: 50%;
  transform: translateX(50%) rotate(-45deg);
  top: 16px;
}
.one-time .slick-prev:after {
  right: 50%;
  transform: translateX(50%) rotate(45deg);
  bottom: 16px;
}

.one-time .slick-arrow:hover:after, .one-time .slick-arrow:hover:before {
  background: white;
}

.ref-buttons-phone{
  display: none;
  @include sm{
    display: block;
    padding-top: 10px;
    height: 280px;
  }
}
.ref-buttons-desktop{

  @include sm{
    display: none;
  }
}

.ref-buttons-phone-wrap{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}






.text-center {
  text-align: center;
  margin-bottom: 1em;
}

.lightbox-gallery {
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.lightbox-gallery div > img {
  max-width: 100%;
  display: block;
}



@media only screen and (max-width: 480px) {
  .lightbox-gallery {
    flex-direction: column;
    align-items: center;

  }

  .lightbox > div {
    margin-bottom: 10px;
  }
}

/*Lighbox CSS*/

.lightbox {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  box-sizing: border-box;
}

.lightbox img {
  display: block;
  position: absolute;
  width: 750px;
  padding: 10px;
  max-height: 750px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.lightbox .caption {
  margin: 15px auto;
  width: 50%;
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 700;
  color: #eee;
}

.github-link {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.github-link:hover,
.github-link:active,
.github-link:visited {
  color: #fff;
  text-decoration: none;
}


.single-reference .header-menu-li-ref{
  color:$color-red;
  @include sm{
    color:$color-black;
  }
}

.single-reference .current_page_parent{
  color:$color-white;
  @include sm{
    color:$color-white;
  }
}

.ref-buttons-novideo{
  height: 200px;
}
.ref-buttons-novideo .ref-buttons-phone-wrap{
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.single-reference .header-menu-li-blog{
  color:$color-white;
}

.mobile-size{
  height: 450px;
@include sm{
  height: unset;
}
}
.desktop-size{
  height: 250px;

  @include md{
    height: unset;
  }
}

.mobile-size__nobtn{
  @include sm{
    height: 300px;
  }

}

.mobile-size__nobtn .ref-video-wrap{
  @include sm{
    margin-right: auto;
  }

}

.desktop-size__nobtn{
  @include sm{
    height: 200px;
    margin-top: -60px;
  }


}

.desktop-size__nobtn .ref-video-wrap{
  @include sm{
    margin-right: auto;
  }

}