.reviews-section {
    position: relative;
    margin-top: 100px;

    .container {
        position: relative;
    }

    &.hideArrowsDesktop {
        #sliderArrowPrev,
        #sliderArrowNext,
        #reviewsSliderDots {
            display: none !important;
        }
    }

    &.hideArrowsMobile {
        #sliderArrowPrevMobile,
        #sliderArrowNextMobile,
        #reviewsSliderDotsMobile {
            display: none !important;
        }
    }
}

// Background
.reviews-section__bg {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    height: calc(100% - 200px);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%;

    @include ex {
        top: 170px;
    }
}

// Dots
.reviews-section__dots {
    position: absolute;
    top: 56%;
    left: 0;
    transform: translateY(-50%);
    z-index: 100;

    ul {
        display: flex;
        flex-direction: column;
        row-gap: 15px;

        @include xs {
            row-gap: 10px;
        }

        li {
            display: block;
            width: 15px;
            height: 15px;
            margin: 0;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
            background: #4f4f4f;
            transition: 300ms all;
            border-radius: 50%;
            list-style: none;

            @include xs {
                width: 10px;
                height: 10px;
            }

            button {
                width: 100%;
                height: 100%;
                padding: 0;
                border-radius: 50%;
                cursor: pointer;

                &::before {
                    display: none;
                }
            }

            &.slick-active {
                background: white;
            }
        }
    }
}

.reviews-section__title {
}

.reviews-section__slider-wrapper {
    position: relative;
}

.review-arrow-class {
}

// Arrows
#sliderArrowPrev,
#sliderArrowNext,
#reviewsSliderDots {
    display: block !important;
    @include ex {
        display: none !important;
    }
}

#sliderArrowPrevMobile,
#sliderArrowNextMobile,
#reviewsSliderDotsMobile {
    display: none !important;
    @include ex {
        display: block !important;
    }
}

.reviews-section__arrow-prev,
.reviews-section__arrow-next {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 100;

    svg {
        width: 30px;
        height: 30px;
    }
}

.reviews-section__arrow-prev {
    top: -50px;

    @include sm {
        top: -30px;
    }
}

.reviews-section__arrow-next {
    bottom: -50px;
    transform: translateX(-50%) rotate(180deg);

    @include sm {
        bottom: -30px;
    }
}

.reviews-section__slider {
    margin-top: 70px;
}

#reviewsSliderMobile {
    display: none !important;
    @include ex {
        display: block !important;
    }
}

#reviewsSliderDesktop {
    @include ex {
        display: none !important;
    }
}

// rss = reviews section slider
.rss__slide {
    display: grid !important;
    grid-template-columns: repeat(2, 420px);
    justify-content: center;
    column-gap: 40px;

    @include uw {
        grid-template-columns: repeat(2, 360px);
    }

    @include ex {
        grid-template-columns: 380px;
    }

    @include lg {
        grid-template-columns: 360px;
    }

    @include md {
        grid-template-columns: 340px;
    }

    @include sm {
        grid-template-columns: 320px;
    }

    @include sm-fix {
        grid-template-columns: 80%;
    }
}

.rss-slide__card {
    position: relative;
    width: 100%;
    padding: 0 30px;
    background: white;
    border-radius: 20px;
    // box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);

    @include ex {
        margin-top: 15px !important;
        margin-bottom: 15px !important;
        background: white;
    }

    @include md {
        margin-left: -50px;
    }

    @include sm {
        margin-left: -20px;
    }

    @include sm-fix {
        margin-left: -10px;
    }

    &:nth-child(1) {
        margin-top: 50px;
        margin-bottom: 10px;

        @include ex {
            // margin-top: unset;
        }
    }

    &:nth-child(2) {
        margin-top: 10px;
        margin-bottom: 50px;

        @include ex {
            // margin-bottom: unset;
        }
    }
}

.rss-slide-card__swipe {
}

.rss-slide-card__top {
}

.rss-slide-card-top__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    svg {
        width: 100%;
        border-radius: 20px 0 0 0;
    }
}

.rss-slide-card-top__photo {
    position: absolute;
    top: 0;
    right: 0;
    width: 170px;
    height: 170px;
    z-index: 20;

    @include uw {
        width: 160px;
        height: 160px;
    }

    @include lg {
        width: 150px;
        height: 150px;
    }

    @include md {
        width: 140px;
        height: 140px;
    }

    @include sm {
        width: 130px;
        height: 130px;
    }

    @include sm {
        width: 170px;
        height: 170px;
    }

    @include xs {
        width: 120px;
        height: 120px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 44% 20px 27% 40% / 56% 20px 20% 44%;
    }
}

.rss-slide-card-top__logo {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 30px;
    height: 70px;
    z-index: 20;

    @include sm-fix {
        height: 60px;
    }

    @include xs {
        height: 50px;
    }

    img {
        width: auto;
        height: auto;
        max-height: 100%;
        object-fit: contain;
    }
}

.rss-slide-card-top__app {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    z-index: 20;

    @include md {
        font-size: 22px;
    }

    @include sm {
        font-size: 20px;
    }

    @include xs {
        font-size: 18px;
    }
}

.rss-slide-card-top__name {
    position: relative;
    max-width: 60%;
    height: 112px;
    font-size: 56px;
    line-height: 100%;
    font-weight: bold;
    z-index: 20;
    color: white;
    word-wrap: normal;

    @include ex {
        height: 104px;
        font-size: 52px;
    }

    @include lg {
        height: 96px;
        font-size: 48px;
    }

    @include md {
        height: 88px;
        font-size: 44px;
    }

    @include sm {
        height: 80px;
        font-size: 40px;
    }

    @include xs {
        height: 72px;
        font-size: 36px;
    }
}

.rss-slide-card-top__role {
    position: relative;
    margin-top: 7px;
    font-size: 18px;
    height: 18px;
    color: rgba(255, 255, 255, 0.7);
    z-index: 20;

    @include sm {
        font-size: 16px;
    }
}

.rss-slide-card__quotes {
    margin-top: 45px;
    height: 45px;

    img,
    svg {
        width: auto;
        height: 100%;
    }

    @include sm-fix {
        margin-top: 85px;
        height: 35px;
    }

    @include xs-fix {
        margin-top: 70px;
    }
}

.rss-slide-card__text {
    height: 140px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;

    @include md {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    @include sm {
        max-width: calc(100% - 55px);
        margin-top: 20px;
        margin-bottom: 20px;
    }

    @include xs {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

// Slider Swipe
.rss-slide__card {
    .swipe-container {
        top: 35px !important;
        right: calc(100% - 20px) !important;
        z-index: 150;

        @include ex {
            bottom: 35px !important;
            left: calc(100% - 20px) !important;
            top: unset !important;
            right: unset !important;
        }

        @include sm {
            width: 150px !important;
            height: 320px !important;
            bottom: -10px !important;
            left: calc(100% - 75px) !important;
        }

        @include sm-fix {
            width: 125px !important;
            height: 267px !important;
            left: calc(100% - 75px) !important;

            .swipe__slides {
                border-radius: 10px !important;
            }
        }
    }

    &:nth-child(2) {
        .swipe-container {
            bottom: 35px !important;
            left: calc(100% - 20px) !important;
            top: unset !important;
            right: unset !important;
        }
    }
}
