.slick-dots li::before{
  display:none;
}

.slick-dots li button{
  display: none!important;
}

.slick-next:before, .slick-next:after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 25px;
  height: 6px;
}



.slick-next:before {
  left: 0;
  top: 16px;
  transform: rotate(55deg);
}

.responsive .slick-img{
  max-height: 100%!important;
}

.responsive.slick-dotted.slick-slider{
  margin-bottom: 100px;
}



.responsive .slick-arrow{
  display: block;
  position: absolute;
  bottom: -50%;
  margin-top: unset;
  top: unset;
  @media (max-width: 1500px) {
    bottom: -60%;
  }
  @include lg{
    bottom:-50%;
  }
  @media (max-width: 560px) {
    bottom:-60%;
  }
  @media (max-width: 440px) {
    bottom:-70%;
  }
  @media (max-width: 350px) {
    bottom:-80%;
  }
}

.responsive .slick-prev:before{
  left: 0;
  top: 10px;
  transform: rotate(-45deg);
  @include lg{
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
    top: 16px;
  }
}

.responsive .slick-prev:after{
  left: 0;
  bottom: 10px;
  transform: rotate(45deg);
  @include lg{
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    bottom: 16px;
  }
}


.responsive .slick-next:before{
  left: 0;
  top: 10px;
  transform: rotate(45deg);
  @include lg{
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    top: 16px;
  }
}

.responsive .slick-next:after{
  left: 0;
  bottom: 10px;
  transform: rotate(-45deg);
  @include lg{
    left: 50%;
    transform: translateX(-50%) rotate(-45deg);
    bottom: 16px;
  }
}

.responsive .slick-next:before, .responsive .slick-next:after, .responsive .slick-prev:before, .responsive .slick-prev:after{
  width: 28px;
  height: 6px;
  background: $color-grey;

  @include lg{
    background: $color-white;
    width: 12px;
    height: 2px;
  }
}

.responsive .slick-next{
  display: block;
  right: 16%;
  position: absolute;
  left: auto;
  @include lg{
    right: 46%;

    transition: 0.2s;
    width: 38px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: $color-grey;
    height: 42px;
    -webkit-clip-path:polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }

}

.responsive .slick-prev{
  display: block;
  right: 18%;
  position: absolute;
  left: auto;
  @media (max-width: 1900px) {
    right: 19%;
  }
  @include lg{
    right: auto;
    left: 46%;
    transition: 0.2s;
    width: 38px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    -webkit-clip-path:polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background: $color-grey;
    height: 42px;
  }
}



.responsive .slick-prev{
  @media (max-width: 1000px){
    left: 45%;
  }
  @media (max-width: 800px){
    left: 44%;
  }
  @media (max-width: 720px){
    left: 43%;
  }
  @media (max-width: 650px){
    left: 42%;
  }
  @media (max-width: 550px){
    left: 41%;
  }
  @media (max-width: 480px){
    left: 40%;
  }
  @media (max-width: 440px){
    display:block!important;
    left: 39%;
  }
  @media (max-width: 400px){
    left: 38%;
  }
  @media (max-width: 350px){
    left: 36%;
  }
  @media (max-width: 310px){
    left: 34%;
  }
}
.responsive .slick-next{
  @media (max-width: 1000px){
    right: 45%;
  }
  @media (max-width: 800px){
    right: 44%;
  }
  @media (max-width: 720px){
    right: 43%;
  }
  @media (max-width: 650px){
    right: 42%;
  }
  @media (max-width: 550px){
    right: 41%;
  }
  @media (max-width: 480px){
    right: 40%;
  }
  @media (max-width: 440px){
    display:block!important;
    right: 39%;
  }
  @media (max-width: 400px){
    right: 38%;
  }
  @media (max-width: 350px){
    right: 36%;
  }
  @media (max-width: 310px){
    right: 34%;
  }
}

.responsive .slick-arrow:after, .responsive .slick-arrow:before{
  opacity: 1;
}
.responsive .slick-arrow:hover:after, .responsive .slick-arrow:hover:before{
  background: $color-grey;

  @include lg{
    background: $color-white;

    opacity: 1;
  }

}
.responsive .slick-arrow:hover{
  opacity: 0.7;
}


.hover-slick svg{
  fill: white;
}

.hover-slick{
  position: absolute;
  width: inherit;
  background: rgba(228, 59, 72, 0.65);
  height: 100%;
  opacity: 0;
  transition: 0.2s;
  cursor: pointer;
  width: 100%;
}

.hover-slick:hover{
  opacity: 1;
  transition: 0.2s;
}
.hover-slick:before{
  position: absolute;
  content: url(/wp-content/themes/peko/images/lupa.svg);
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translateY(-50%) translateX(-50%);
}




.review--wrap .slick-next{
right: 0px;

}
.review--wrap .slick-prev{
left: 0px;

}


.review--wrap .slick-arrow{
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(100%);
  @include sm{
    display: none!important;
  }
}

.review--wrap .slick-arrow:before{
content:"";
  opacity: 1;
  width: 22px;
  top: 0px;
}
.review--wrap .slick-next:after{
  width: 22px;
  bottom:0px;
}
.review--wrap .slick-prev:after{
  bottom: 0px;
  width: 22px;
}


.review--wrap .slick-dots li button{
  display: block!important;
}
.review--wrap .slick-dots li.slick-active button{
  background: white;
}
.review--wrap .slick-dots li button{
 border: solid 2px white;
  width: 13px;
  height: 13px;
}







.reference_fotogalerie .slick-next:before {
  left: 0;
  top: 15px;
  transform: rotate(-45deg);
  content:"";
  @include lg{
    left: 0;
    top: 16px;
    transform: rotate(45deg);
    content: "";
    margin-left: 13px;
  }
}
.reference_fotogalerie .slick-next:after {
  left: 0;
  bottom: 15px;
  transform: rotate(45deg);
  @include lg{
    left: 0;
    bottom: 16px;
    transform: rotate(-45deg);
    margin-left: 13px;
  }
}

.ref-phone-images .slick-arrow:hover {

  opacity: 0.7;
  background: $color-red;
}
.reference_fotogalerie .slick-arrow:hover{
  @include lg{
    background: $color-grey-dark;
  }

}

.reference_fotogalerie .slick-prev:before {
  left: 0;
  top: 15px;
  transform: rotate(45deg);
  content:"";
  @include lg{
    left: 0;
    top: 16px;
    transform: rotate(-45deg);
    content: "";
    margin-left: 12px;
  }
}
.reference_fotogalerie .slick-prev:after {
  left: 0;
  bottom: 15px;
  transform: rotate(-45deg);
  @include lg{
    left: 0;
    bottom: 16px;
    transform: rotate(45deg);
    margin-left: 12px;
  }
}