.swipe-hover-trigger {
    &:hover {
        @include lg-reverse {
            .swipe__slides {
                img {
                    &:first-child {
                        left: -100%;
                    }
                    &:nth-child(2) {
                        left: 0;
                    }
                }
            }
        }
    }
}

.swipe-container {
    position: absolute;
    right: 30px;
    bottom: -60px;
    width: 180px;
    height: 372px;
    // border-radius: 20px;
    overflow: hidden;
    z-index: 20;

    @include sm-fix {
        width: 150px !important;
        height: 320px !important;
        right: 25px !important;
    }

    @include xs-fix {
        width: 100px !important;
        height: 214px !important;
        right: 20px !important;
    }
}

.swipe {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.swipe__device {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(0);
    width: 100%;
    height: 100%;
    // width: calc(100% + 10px);
    // height: calc(100% + 10px);
    z-index: 30;
}

.swipe__slides {
    position: relative;
    position: absolute;
    top: 8px;
    // left: 9px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 17px);
    height: calc(100% - 10px);
    overflow: hidden;
    border-radius: 20px;

    @include sm-fix {
        top: 5px;
        width: calc(100% - 15px) !important;
        // left: 8px!important;
    }

    @include xs-fix {
        // left: 4px!important;
        top: 4px !important;
        width: calc(100% - 8px) !important;
        height: calc(100% - 2px);
        border-radius: 10px !important;
    }

    img {
        position: absolute;
        top: 0;
        width: 100%;
        // height: 100%;
        height: auto;
        transition: 300ms all;
        // object-fit: cover;
        object-fit: contain;
        z-index: 20;

        &:first-child {
            left: 0;
        }

        &:nth-child(2) {
            left: 100%;
        }
    }
}

// Android
.swipe-container.android {
    .swipe__slides {
        top: 4px;
        // left: 4px;
        width: calc(100% - 7px);
        height: calc(100% - 7px);
        border-radius: 15px;

        @include sm-fix {
            width: calc(100% - 3px) !important;
        }

        @include xs-fix {
            top: 0px !important;
            height: calc(100% - 3px) !important;
        }
    }
}

// Desktop
.swipe-container.desktop {
    bottom: -10px;
    right: -200px;
    width: 414px;
    height: 343px;
    z-index: 10;

    @include sm {
        display: none;
    }

    .swipe {
        align-items: flex-start;

        .swipe__slides {
            // top: 4px;
            top: 0;
            // left: 14px;
            // margin-top: 15px;
            margin-top: 18px;
            // width: calc(100% - 28px);
            width: calc(100% - 34px);
            height: 64%;
            border-radius: unset;
        }
    }
}

// Android & iOS with desktop
.swipe-container.hasDesktop {
    right: 120px;
    width: 129px;
    height: 260px;

    @include sm {
        right: 30px;
        width: 180px;
        height: 372px;
    }

    .swipe__slides {
        top: 4px;
        // left: 5px;
        width: calc(100% - 10px);
        height: calc(100% - 7px);
        border-radius: 13px;

        @include sm {
            top: 5px;
            width: calc(100% - 17px);
            height: calc(100% - 10px);
            border-radius: 20px;
        }
    }
}

// Android with desktop
.swipe-container.android.hasDesktop {
    .swipe__slides {
        top: 2px;
        // left: 2px;
        width: calc(100% - 3px);
        height: calc(100% - 3px);
        border-radius: 15px;

        @include sm {
            top: 4px;
            width: calc(100% - 7px);
            height: calc(100% - 7px);
            border-radius: 15px;
        }
    }
}

// ZALOHA

// .swipe-hover-trigger {
//     &:hover {
//         @include lg-reverse {
//             .swipe__slides {
//                 img {
//                     &:first-child {
//                         left: -100%;
//                     }
//                     &:nth-child(2) {
//                         left: 0;
//                     }
//                 }
//             }
//         }
//     }
// }

// .swipe-container {
//     position: absolute;
//     right: 30px;
//     bottom: -60px;
//     width: 180px;
//     height: 372px;
//     // border-radius: 20px;
//     overflow: hidden;
//     z-index: 20;

//     @include sm-fix {
//         width: 150px !important;
//         height: 320px !important;
//         right: 25px !important;
//     }

//     @include xs-fix {
//         width: 100px !important;
//         height: 214px !important;
//         right: 20px !important;
//     }
// }

// .swipe {
//     position: relative;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     width: 100%;
//     height: 100%;
// }

// .swipe__device {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 100%;
//     height: 100%;
//     // width: calc(100% + 10px);
//     // height: calc(100% + 10px);
//     z-index: 30;
// }

// .swipe__slides {
//     position: relative;
//     width: calc(100% - 17px);
//     height: calc(100% - 10px);
//     overflow: hidden;
//     border-radius: 20px;

//     @include sm-fix {
//         width: calc(100% - 15px) !important;
//     }

//     @include xs-fix {
//         width: calc(100% - 8px) !important;
//         height: calc(100% - 2px);
//         border-radius: 10px !important;
//     }

//     img {
//         position: absolute;
//         top: 0;
//         width: 100%;
//         height: 100%;
//         transition: 300ms all;
//         object-fit: cover;
//         z-index: 20;

//         &:first-child {
//             left: 0;
//         }

//         &:nth-child(2) {
//             left: 100%;
//         }
//     }
// }

// // Android
// .swipe-container.android {
//     .swipe__slides {
//         width: calc(100% - 7px);
//         height: calc(100% - 7px);
//         border-radius: 15px;

//         @include sm-fix {
//             width: calc(100% - 3px) !important;
//         }

//         @include xs-fix {
//             height: calc(100% - 3px) !important;
//         }
//     }
// }

// // Desktop
// .swipe-container.desktop {
//     bottom: -10px;
//     right: -200px;
//     width: 414px;
//     height: 343px;
//     z-index: 10;

//     @include sm {
//         display: none;
//     }

//     .swipe {
//         align-items: flex-start;

//         .swipe__slides {
//             margin-top: 15px;
//             width: calc(100% - 28px);
//             height: 64%;
//             border-radius: unset;
//         }
//     }
// }

// // Android & iOS with desktop
// .swipe-container.hasDesktop {
//     right: 120px;
//     width: 129px;
//     height: 260px;

//     @include sm {
//         right: 30px;
//         width: 180px;
//         height: 372px;
//     }

//     .swipe__slides {
//         width: calc(100% - 10px);
//         height: calc(100% - 7px);
//         border-radius: 13px;

//         @include sm {
//             width: calc(100% - 17px);
//             height: calc(100% - 10px);
//             border-radius: 20px;
//         }
//     }
// }

// // Android with desktop
// .swipe-container.android.hasDesktop {
//     .swipe__slides {
//         width: calc(100% - 3px);
//         height: calc(100% - 3px);
//         border-radius: 15px;

//         @include sm {
//             width: calc(100% - 7px);
//             height: calc(100% - 7px);
//             border-radius: 15px;
//         }
//     }
// }
