.technology-section {
    position: relative;
    margin-top: 100px;
    margin-bottom: 200px;

    @include lg {
        margin-bottom: 100px;
    }

    @include sm {
        margin-bottom: 70px;
    }

    @include xs {
        margin-bottom: 50px;
    }
}

.tech-dev-br {
    display: none;
}

.technology-section__bg {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);
    background-repeat: no-repeat;
    background-position-x: calc(50% - 7vw);
    background-position-y: 50%;
    background-size: contain;

    @include fullHD {
        background-size: auto 100%;
    }

    @include lg {
        height: calc(100% - 250px);
        background-position-x: calc(50% - 300px);
    }

    @include sm-fix {
        top: 100px;
        height: calc(100% - 200px);
    }
}

.technology-section__img {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        width: 100%;
        max-width: 780px;
        height: auto;
    }
}

.technology-section__title {
    padding-top: 70px;
    color: white;

    @include md {
        padding-top: 50px;
    }

    @include sm {
        padding-top: 40px;
    }
}

.technology-section__text {
    margin-top: 20px;

    &,
    p {
        font-size: 18px;
        font-weight: 500;
        line-height: 28px;
        color: #cdcdcd;

        @include sm {
            font-size: 16px;
            line-height: 26px;
        }
    }

    strong {
        font-weight: 600;
    }
}

.technology-section__main {
    display: grid;
    grid-template-columns: auto 480px;
    column-gap: 30px;
    margin-top: 50px;

    @include lg {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
    }
}

.technology-section-main__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    row-gap: 50px;

    @include sm {
        column-gap: 40px;
        row-gap: 40px;
    }
}

// tsml = technology section main list
.tsml__item {
    width: auto;
    height: 65px;

    @include ex {
        height: 60px;
    }

    @include lg {
        height: 55px;
    }

    @include md {
        height: 50px;
    }

    @include sm {
        height: 45px;
    }

    @include xs {
        height: 40px;
    }

    img {
        width: auto;
        height: 100%;
        opacity: 0;
        transition: 300ms all;
    }
}

.technology-section-main__hybrid {
    width: 100%;
    padding: 40px;
    background: white;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    justify-self: end;
    height: fit-content;

    @include lg {
        width: 480px;
    }

    @include sm {
        width: 100%;
    }

    @include xs {
        padding: 30px;
    }
}

.tsmh__top {
}

.tsmh-top__title {
    font-weight: bold;
    // font-size: 56px;
    // line-height: 52px;
    // font-weight: bold;

    // @include sm {
    //     font-size: 50px;
    //     line-height: 50px;
    // }

    // @include xs {
    //     font-size: 46px;
    //     line-height: 46px;
    // }
}

.tsmh-top__text {
    margin-top: 40px;
    font-size: 24px;
    line-height: 160%;
    font-weight: 500;

    @include md {
        font-size: 22px;
    }

    @include sm {
        font-size: 20px;
    }

    @include xs {
        margin-top: 20px;
        font-size: 18px;
    }
}

.tsmh__button {
    margin-top: 70px;

    @include sm-fix {
        margin-top: 50px;
    }
}

// Section in dev page (mobile apps, web apps, etc..)
.technology-section.dev {
    margin-bottom: 300px;
    background: $CUSTOM_BLACK;

    @include lg {
        margin-bottom: 250px;
    }

    @include md {
        margin-top: 70px;
        margin-bottom: 220px;
    }

    @include sm {
        margin-top: 50px;
        margin-bottom: 180px;
    }

    @include xs {
        margin-bottom: 150px;
    }

    .technology-section__bg,
    .technology-section__img {
        display: none;
    }

    .technology-section__title,
    .technology-section__text {
        text-align: center;
    }

    .technology-section__title {
        padding-top: 90px;

        @include sm {
            padding-top: 65px;
        }
    }

    .technology-section__text {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }

    .technology-section__main {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
    }

    .technology-section-main__list {
        justify-content: center;
    }

    .technology-section-main__hybrid {
        width: auto !important;
        max-width: 1000px;
        margin: auto;
        margin-bottom: -100px;
    }

    .tsmh__top {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;

        @include sm {
            grid-template-columns: repeat(1, 1fr);
            row-gap: 30px;
        }
    }

    .tech-dev-br {
        display: block;
    }

    .tsmh-top__title {
        text-align: right;

        @include sm {
            text-align: center;
        }
    }

    .tsmh-top__text {
        margin-top: unset;

        @include sm {
            text-align: center;
        }
    }

    .tsmh__button {
        max-width: 400px;
        margin: auto;
        margin-top: 70px;

        @include sm {
            margin-top: 50px;
        }
    }
}
