.thanks-message{
  text-align: center;
}

.what-next__wrap-thanks{
  .container{
    &:first-child{
      padding-bottom: 0px;
    }
    &:last-child{
      padding-top: 0px;
    }

  }
  .thanks-h2 h2{
    padding-bottom: 0px;
    margin-bottom:10px;
  }
}