


.what-next__wrap-other .what-next{
  padding: 60px 130px;
  background: $color-grey-darker;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  @include md{
   padding: 60px 60px;
  }
  @include sm{
    padding: 30px 10px;
    width: 100%;
  }
}
.what-next__wrap-other h2{
   color: $color-white;
 }

.what-next__wrap-other .contact-form{
margin-bottom: 0px;
}
.what-next__wrap-other .container{
  padding-bottom: 0px;
}
.what-next__wrap-other:after{
  height: 40px;
  background: #e43b48;
  position: absolute;
  width: 100%;
  margin-top: -40px;
  z-index: -1;
  content: "";
  @include sm{
    margin-top: -30px;
  }
}

.what-next__wrap-contact:before{

  @include lg{
    content: url(/wp-content/themes/peko/images/bg_polygon2.png);
    max-width: 100%;
    position: absolute;
    margin-top: -150px;
    z-index: -1;
  }
  @include sm{
    display: none;
  }
}
.what-next__wrap-contact:after{
  content: url(/wp-content/themes/peko/images/bg_radim3.jpg);
  max-width: 100%;
  position: absolute;
  z-index: -1;
  margin-top: -700px;
  opacity: 0.75;
  @include lg{
    content: url(/wp-content/themes/peko/images/bg_radim2.jpg);
    opacity: 1;
    margin-top: -170px;
  }
  @include sm{
    display: none;
  }
}
.what-next__wrap-footer:before{
  content: url(/wp-content/themes/peko/images/polygon_right.png);
  max-width: 100%;
  position: absolute;
  z-index: -2;
  opacity: 0.75;
  right: 0px;
  top: -775px;
  @include lg{
    content: url(/wp-content/themes/peko/images/polygon_right2.png);
    top: -315px;
    z-index: -1;
  }
  @include sm{
    display: none;
  }
}

.what-next__wrap-other p{
  color:$color-text-gray-light;
}
.what-next__wrap-other-who{
  margin-top: -255px;
  position: relative;
  @include sm{
    margin-top: -45px;
  }

}

.what-next__wrap-other-who:before{
  background: $color-grey-light;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  margin-top: 185px;
}
.what-next__wrap-footer{

  @include lg{
    margin-top: 250px;
  }
  @include sm{
    margin-top: 0px;
  }
}

.what-next__wrap-other .other_p{
@include sm{
  display: none;
}
}


.what-next__wrap-other{
  position: relative;
  z-index: 1;
}


.wrong-mail{
  color:$color-red;
}
.good-mail{
  color: $color-orange;
}