.who-page h2{
  text-align: left;
  font-size: 22px;
}

.who-positives h2{
  margin-bottom: 15px;
  @include sm{
    font-size: 20px;
    margin-bottom: 0px;
    margin-top: 20px;
  }
}
.who-positives p{
  margin-top: 10px;
  @include sm{
    display: none;
  }
}
.who-positives{
  width: 85%;
  float: left;
  margin-bottom: 50px;
  @include lg{
    width: 88%;
  }
  @include sm{
    width: 84%;
  }
  @include xs{
    width: 78%;
  }
  @media (max-width: 380px) {
    width: 70%;
  }
}

.who-svg{
  width: 15%;
  float: left;

  @include lg{
    width: 12%;
  }
  @include sm{
    width: 16%;
  }
  @include xs{
    width: 22%;
  }
  @media (max-width: 380px) {
    width: 30%;
  }
}

.what-h2{
  margin-bottom: 28px!important;
  margin-left: 50px;
  padding-right: 50px;
  @media (max-width: 1280px) {
    padding-right: 30px;
  }
  @include lg{
    padding-right: 0px;
  }
}
.who-what-wrap-gray{
  background: $color-grey-light;
  width: 85%;
  height: 100%;
  position: absolute;
  z-index: -1;
  @include lg{
    width: 100%;
  }
  @include sm{
    height: 350Px;
  }
}
.who-what-wrap{
  position: relative;
}
.absolute-images-who{
  position: static;
  width: 100%;
  float: unset;
  @include sm{
    position: relative;
  }
}
.who-what-img{
  position: absolute;
  width: 500px;
  max-width: 100%;
  z-index: 9;
  top:-50px;
  @media (max-width: 1500px){
    width: 450px;
  }
  @media (max-width: 1300px){
    width: 410px;
  }
  @include lg{
    width: 500px;
  }
  @include md{
    right: 50px;
    width: 400px;

  }
  @media (max-width: 900px) {
    width: 370px;
  }
  @include sm{
    width: 100%;
    position: relative;
  }
}

.who-what-img-first{
  right: 520px;
  @media (max-width: 1500px){
    right: 470px;
  }
  @media (max-width: 1300px){
    right: 430px;
  }
  @include lg{
    right: 100px;
  }
  @include md{
    right: 50px;
  }
  @media (max-width: 900px) {
   top:-20px;
  }

  @include sm{
    top:40px;
    right: 0px;
  }
}


.who-what-img-second{
  right: 0px;
  @include lg{
    display: none;
  }
  @include sm{
    display:block;
    top: 55px;
  }
}




.team__who .container{
  padding-top: 0px;
}

.who-svg svg{
  width: 60px;
  height: 60px;
  margin-top: 5px;
}



.who-svg__dark-orange svg .st1{
  fill:$color-orange-dark;
}
.who-svg__dark-red svg .st1{
  fill:$color-red-dark;
}
.who-svg__orange svg .st1{
  fill:$color-orange;
}

.who-svg__red svg .st1{
  fill:$color-red;
}

.team--text-who{
  @include lg{
    top: 20px;
  }
  @include sm{

    margin-bottom: 10px;
  }
}


.first-who-img{
  @include sm{
    margin-bottom: 15px;
  }
}

.team--text p{
  width: 400px;
  @include md{
    width: 100%;
  }
}

