.nomargin{
  margin:0px!important;
}
.nopadding{
  padding:0px!important;
}
.mezera10{
  padding-left: 10px;
}
.mezera20{
  padding-left: 20px;
}
.mezera30{
  padding-left: 30px;
  @include sm{
    display:none;
  }


}
.margintop30{
  margin-top: 30px;
  @include lg{
    margin-top: 0px;
  }
}
.margintop-60{
  margin-top: -60px;
  @include sm{
    margin-top: 0px;
  }
}
.text-right{
  text-align: right;
}
.paddingbottom0{
  padding-bottom: 0px!important;
}
.enter-mobile{
  display: none;
  @include sm{
    display:block;
  }
}
.paddingbottom10{
  @include sm{padding-bottom: 10px!important;}

}
.seda{
  background-color: $color-grey;
}
.oranzova{
  background-color:$color-orange;

}
.oranzova-tmava{
  background-color:$color-orange-dark;

}
.margintop70{
  margin-top:70px;
}
.margintop-310{
  margin-top: -310px;
}
.margintop-110{
  margin-top: -110px;
}
.icons-with-text{
  @include md{

    height: 39px;
  }
}
.enter-sm-smazat{
  @include sm{
    display:none;
  }
}




.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}


.opacity0{
  opacity: 0!important;
}

.opacity1{
  opacity: 1!important;
}



