
// Mobile apps
.polygon1{
  background: $color-orange;
  height: 100px;
  clip-path: polygon(100% 0, 100% 100%, 0 0, 0 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 0, 0 0, 100% 100%, 0 100%);
  width: 91%;
  margin-left: auto;

  margin-bottom: -1px;
  @include lg{
    margin-bottom: 0px;
  }
  @include md{
    width: 95%;
  }
  @include sm{
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
    width: 100%;
  }
}



.polygon2{
  background: $color-orange;
  height: 100px;

  width: 91%;
  position:absolute;
  margin-left: auto;
  right: 0px;
  @include md{
    width: 95%;
  }
  @include sm{
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    width: 100%;
  }

}





//Mobile games
.polygon3{
  background: $color-grey;
  height: 100px;
  clip-path: polygon(0 0, 100% 100%, 0 0, 0 0, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 0, 0 0, 100% 100%, 0 100%);
  width: 100%;
  margin-bottom: -1px;
  margin-top: 1px;
  @include sm{
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
    height: 99px;
  }
}


.polygon4{
  background: $color-grey;
  height: 100px;
  clip-path:polygon(0 0, 100% 100%, 0 0, 0 0, 100% 0, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 100%, 0 0, 0 0, 100% 0, 0 100%);
  width: 100%;
  position:absolute;
  margin-top: -1px;
  @include md{

  }
  @include sm{
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    height: 101px;
    margin-top: -1px;
  }
}





//Web apps
.polygon5{
  background: $color-orange-dark;
  height: 100px;

  width: 91%;
  margin-left: auto;
  @include md{
    width: 95%;
  }
  @include sm{
    clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
    -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);

    width: 100%;
  }
}

.polygon6{
  right:0px;
  background: $color-orange-dark;
  height: 100px;
  clip-path: polygon(100% 0, 100% 100%, 0 0, 0 0, 100% 100%, 0 0);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 0, 0 0, 100% 100%, 0 0);
  width: 91%;
  position:absolute;
  z-index: 9;

  margin-top: -1px;
  @include lg{

  }

  @include md{
    width: 95%;
  }
  @include sm{
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  }
}