
@mixin create-sprite( $name ){
    display: inline-block;
    @include sprite($name);
}

@mixin shadow(){
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.15);
}

@mixin border-radius($radius: 3px) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin linear-gradient( $startColor, $endColor ) {
    background: $startColor; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, $startColor , $endColor); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, $startColor, $endColor); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, $startColor, $endColor); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, $startColor, $endColor); /* Standard syntax */
}

@mixin center-gradient( $startColor, $endColor ) {
    background: $startColor; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(center, $startColor , $endColor); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(center, $startColor, $endColor); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(center, $startColor, $endColor); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to center, $startColor, $endColor); /* Standard syntax */
}

@mixin animation($speed: 0.2s){
    -webkit-transition: all $speed linear;
    -moz-transition: all $speed linear;
    -o-transition: all $speed linear;
    transition: all $speed linear;
}

@mixin uw{
    @media only screen
    and (max-width: 1600px) {
        @content;
    }
}

@mixin ex{
    @media only screen
    and (max-width: 1400px) {
        @content;
    }
}

@mixin lg{
    @media only screen
    and (max-width: $screen-lg) {
        @content;
    }
}

@mixin md{
    @media only screen
    and (max-width: $screen-md) {
        @content;
    }
}

@mixin sm{
    @media only screen
    and (max-width: $screen-sm) {
        @content;
    }
}

@mixin xs{
    @media only screen
    and (max-width: $screen-xs) {
        @content;
    }
}

@mixin lg{
    @media only screen
    and (max-width: $screen-lg) {
        @content;
    }
}

@mixin md{
    @media only screen
    and (max-width: $screen-md) {
        @content;
    }
}

@mixin sm{
    @media only screen
    and (max-width: $screen-sm) {
        @content;
    }
}

@mixin xs{
    @media only screen
    and (max-width: $screen-xs) {
        @content;
    }
}



@media (max-width: $screen-xs-max) {
    .pull-xs-left {
        float: left;
    }
    .pull-xs-right {
        float: right;
    }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    .pull-sm-left {
        float: left;
    }
    .pull-sm-right {
        float: right;
    }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    .pull-md-left {
        float: left;
    }
    .pull-md-right {
        float: right;
    }
}

@media (min-width: $screen-lg-min) {
    .pull-lg-left {
        float: left;
    }
    .pull-lg-right {
        float: right;
    }
}