$font: 'TriviaSeznam';
$font-light: 'TriviaSeznam';
$font-bold: 'TriviaSeznam-Bold';

$color-white: #ffffff;

$color-blue: #2c7dad;
$color-blue-dark: #1d3551;

$color-red: #e43b48;
$color-red-dark: #bf2026;

$color-orange:#f79d27;
$color-orange-dark:#f27a2a;

$color-grey-light:#efefef;
$color-grey-medium: #6d6c6c;
$color-grey:#e0e0e0;
$color-grey-dark:#2d2d2d;
$color-grey-darker:#4a4949;

$color-black: #1a1a1a;

$color-text-gray-lighter:#f1f1f1;
$color-text-gray-light:#adacac;
$color-text-gray:#8c8c8c;
$color-text:#505050;

